code.val-default {
  background-color:transparent;
  color:$color-value; // variable for the color of a value, defined in the base tyfy docs stylesheet
  font-style:italic;
  font-weight:normal;
  padding-left:0;
  padding-right:0;
}
