$break-examplebox:$tybreak-boxes;
$color-examplebox:$tycolor-example;

figure.example {
  --tycolor-fg:#{$color-examplebox};
  border:$tywidth-border $tycolor-border solid;
  box-shadow:0 0 tygrid(1) rgba(black,0.05);
  color:$color-examplebox;
  margin-left:0; // override browser default
  margin-right:0; // override browser default
  padding:calc(#{$tyspacing-md / 2} - #{$tywidth-border});
  position:relative;
  @media (min-width:$break-examplebox) {
    padding:calc(#{$tyspacing-md} - #{$tywidth-border});
  }
}