<nav class="nav-main">
  {{ render '@brandlogo' }}
  <h1 class="nav-heading">Main Menu</h1>
  <ul class="menu">
    <li><a href="#">Get Started</a></li>
    <li><a href="#">Customize</a></li>
    <li>
      <a href="#">Benefits</a>
      <ul class="reverse">
        <li><a href="#">Modular Scale</a></li>
        <li><a href="#">Baseline Grid</a></li>
        <li><a href="#">Sensible Margins</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Modules</a>
      <ul class="reverse">
        <li><a href="#">Required</a></li>
        <li><a href="#">Essential</a></li>
        <li><a href="#">Optional</a></li>
        <li><a href="#">Extras</a></li>
      </ul>
    </li>
    <li><a href="#">About</a></li>
  </ul>
</nav>