// tyfy core overrides
$tyfy-grid-unit:0.75rem;
$tyfy-font-size-scalar:1.25;
$tyfy-font-size-base:1.125rem;

// tyfy settings overrides
$tyfy-spacings: (
  "standard":2,
  "large":4,
);
$tyfy-indents: (
  "standard":3,
  "small":2,
);
$tyfy-margins-on:true;
$tyfy-serif:georgia, serif;
$tyfy-sans:helvetica, arial, sans-serif;
$tyfy-mono:monaco, courier, monospace;
$tyfy-symbol:tyfyicons;
$tyfy-font-base:$tyfy-serif;
$tyfy-font-heading:$tyfy-sans;
$tyfy-font-table:$tyfy-sans;
$tyfy-font-sizes: (
  "sm":-1,
  "h6":-1,
  "h5":0,
  "h4":1,
  "h3":2,
  "h2":3,
  "h1":5,
  "pullquote":2,
  "lede":2
);
$tyfy-width-border:2px;
$tyfy-break-floats:40em;
$tyfy-break-pullquote-large:40em;
$tyfy-break-cols-2:50em;
$tyfy-break-list-cols-2:35em;
$tyfy-break-list-cols-3:55em;
$tyfy-break-list-cols-4:75em;
$tyfy-break-collapsables-pad:50em;
$tyfy-break-tabs:40em;
$tyfy-break-table:40em;
$tyfy-transition-duration-hover:0.25s;
$tyfy-transition-duration-move:0.5s;
$fades: (
  "500ms":500ms,
  "1s":1000ms,
  "2s":2000ms,
  "3s":3000ms
);
$tyfy-color-background:white;
$tyfy-color-foreground:black;
$tyfy-color-text-light:mix($tyfy-color-foreground,$tyfy-color-background,45%);
$tyfy-color-link-default:#3366cc;
$tyfy-color-link-active:#cc3366;
$tyfy-color-border:mix($tyfy-color-foreground,$tyfy-color-background,12%);
$tyfy-color-shade:rgba($tyfy-color-foreground,0.05);
$tyfy-color-background-reverse:#333;
$tyfy-color-foreground-reverse:white;
$tyfy-color-text-light-reverse:mix($tyfy-color-foreground-reverse,$tyfy-color-background-reverse,50%);
$tyfy-color-link-default-reverse:hsl(hue($tyfy-color-link-default),saturation($tyfy-color-link-default),(100% - lightness(darken($tyfy-color-link-default,25%))));
$tyfy-color-link-active-reverse:hsl(hue($tyfy-color-link-active),saturation($tyfy-color-link-active),(100% - lightness(darken($tyfy-color-link-active,25%))));
$tyfy-color-border-reverse:mix($tyfy-color-foreground-reverse,$tyfy-color-background-reverse,15%);
$tyfy-color-shade-reverse:rgba($tyfy-color-foreground-reverse,0.05);
$tyfyicons-path:"../dist/fonts/tyfyicons";
$tyfyicons-angle-down:"ea01";
$tyfyicons-angle-left:"ea02";
$tyfyicons-angle-right:"ea03";
$tyfyicons-angle-up-down:"ea04";
$tyfyicons-angle-up:"ea08";
$tyfyicons-bars:"ea07";
$tyfyicons-check:"ea05";
$tyfyicons-dash:"ea06";
$tyfyicons-quote-left:"ea0a";
$tyfyicons-quote-right:"ea0b";
$tyfyicons-search:"ea09";
$tyfyicons-x:"ea0c";
@import "../source/scss/tyfy.scss";
@import "../source/scss/extras/icons";
body {
  background-color:$tyfy-color-shade;
  margin-left:auto;
  margin-right:auto;
  max-width:tygrid(70);
  padding:$tyfy-spacing-standard;
}
figure {
  background-color:white;
  border-radius:4px;
  box-shadow:1px 1px 6px rgba(0,0,0,0.2);
  margin-left:0;
  margin-right:0;
  padding:$tyfy-spacing-standard;
  figcaption {
    border-bottom:$tyfy-width-border $tyfy-color-border solid;
    color:$tyfy-color-text-light;
    font-family:$tyfy-sans;
    font-size:tyscale(-2);
    font-weight:bold;
    letter-spacing:1px;
    line-height:tylead(tyscale(-2));
    margin-bottom:$tyfy-spacing-standard;
    padding-bottom:$tyfy-spacing-standard;
    text-transform:uppercase;
  }
  figcaption + * {
    margin-top:0 !important;
  }
  &.reverse figcaption {
    border-bottom-color:$tyfy-color-border-reverse;
  }
}
.swatch {
  border-radius:50%;
  display:inline-block;
  height:tygrid(3);
  vertical-align:middle;
  width:tygrid(3);
  &.foreground {
    background-color:$tyfy-color-foreground;
    .reverse & {
      background-color:$tyfy-color-foreground-reverse;
    }
  }
  &.text-light {
    background-color:$tyfy-color-text-light;
    .reverse & {
      background-color:$tyfy-color-text-light-reverse;
    }
  }
  &.link-default {
    background-color:$tyfy-color-link-default;
    .reverse & {
      background-color:$tyfy-color-link-default-reverse;
    }
  }
  &.link-active {
    background-color:$tyfy-color-link-active;
    .reverse & {
      background-color:$tyfy-color-link-active-reverse;
    }
  }
  &.border {
    background-color:$tyfy-color-border;
    .reverse & {
      background-color:$tyfy-color-border-reverse;
    }
  }
  &.shade {
    background-color:$tyfy-color-shade;
    .reverse & {
      background-color:$tyfy-color-shade-reverse;
    }
  }
}
hr.demo {
  margin-bottom:tygrid(0.5);
  margin-top:tygrid(0.5);
}
.button-rev {
  opacity:0.25;
  position:fixed;
  right:tygrid(0.5);
  top:tygrid(0.5);
  transition:all $tyfy-transition-duration-hover;
  z-index:100;
  &:hover {
    opacity:1;
  }
}