.form-demo {
  @include tymargins(off);
  border:$tywidth-border solid $tycolor-border;
  box-shadow:inset 0px 0px tygrid(2) rgba(0,0,0,0.05);
  display:flex;
  flex-wrap:wrap;
  padding:tygrid() tygrid(2);
  label {
    display:block;
    font-weight:bold;
    width:100%;
    &.option {
      font-weight:normal;
    }
    &.disabled {
      color:$tycolor-text-light;
    }
  }
  .form-control {
    box-sizing:border-box;
    display:block;
    font-family:$tyfont-input;
    font-size:$tyfont-size-base;
    padding-top:tygrid();
    padding-bottom:tygrid();
    width:100%;
    &.form-control-classes,
    &.form-control-headers {
      display:flex;
      flex-wrap:wrap;
    }
  }
  & + figure.output {
    border-top:none;
    margin-top:0;
    padding-top:tyspacing(md);
  }

  // list demo styles
  &#lists-demo .form-control {
    &.form-control-type {
      @media (min-width:55em) {
        border-right:$tywidth-border solid $tycolor-border;
        width:25%;
      }
    }
    &.form-control-classes {
      @media (min-width:55em) {
        padding-left:tyspacing(md);
        width:75%;
      }
      label {
        @media (min-width:40em) {
          width:33%;
          &:first-child {
            width:100%;
          }
        }
      }
    }
  }

  // tables demo styles
  &#tables-demo .form-control {
    label:not(:first-child) {
      @media (min-width:30em) {
        width:50%;
      }
      @media (min-width:50em) {
        width:25%;
      }
    }
  }
}
