.form-demo {
  @include tymargins(off);
  border:$tywidth-border solid $tycolor-border;
  box-shadow:inset 0px 0px tygrid(2) rgba(0,0,0,0.05);
  display:flex;
  flex-wrap:wrap;
  padding:tygrid() tygrid(2);
  label {
    display:block;
    font-weight:bold;
    width:100%;
    &.option {
      font-weight:normal;
    }
    &.disabled {
      color:$tycolor-text-light;
    }
  }
  .form-control {
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    font-family:$tyfont-input;
    font-size:$tyfont-size-base;
    padding-top:tygrid();
    padding-bottom:tygrid();
    width:100%;
    label:not(:first-child) {
      @media (min-width:30em) {
        width:50%;
      }
      @media (min-width:50em) {
        width:25%;
      }
    }
  }
  & + figure.output {
    border-top:none;
    margin-top:0;
    padding-top:tyspacing(md);
  }
}
