footer.footer {
  @extend .block; // defined in tyfy-docs-base to apply standard max width and padding
  @include tymargins(off);
  --tycolor-fg:#{$tycolor-text-light};
  color:$tycolor-text-light;
  font-size:tyscale(-1);
  line-height:tylead(tyscale(0));
  &::before {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="1812px" height="18px" viewBox="0 0 1812 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="footer-line" fill="#CC0066"><rect id="left-rule" x="0" y="16" width="1686" height="2"></rect><g id="tics"><rect x="1689" y="0" width="2" height="18"></rect><rect x="1694" y="8" width="2" height="10"></rect><rect x="1699" y="8" width="2" height="10"></rect><rect x="1704" y="0" width="2" height="18"></rect><rect x="1719" y="0" width="2" height="18"></rect><rect x="1709" y="8" width="2" height="10"></rect><rect x="1714" y="8" width="2" height="10"></rect><rect x="1724" y="8" width="2" height="10"></rect><rect x="1729" y="8" width="2" height="10"></rect></g><rect id="right-rule" x="1734" y="16" width="78" height="2"></rect></g></svg>');
    background-image:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%221812px%22%20height%3D%2218px%22%20viewBox%3D%220%200%201812%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22footer-line%22%20fill%3D%22%23CC0066%22%3E%3Crect%20id%3D%22left-rule%22%20x%3D%220%22%20y%3D%2216%22%20width%3D%221686%22%20height%3D%222%22%3E%3C%2Frect%3E%3Cg%20id%3D%22tics%22%3E%3Crect%20x%3D%221689%22%20y%3D%220%22%20width%3D%222%22%20height%3D%2218%22%3E%3C%2Frect%3E%3Crect%20x%3D%221694%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3Crect%20x%3D%221699%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3Crect%20x%3D%221704%22%20y%3D%220%22%20width%3D%222%22%20height%3D%2218%22%3E%3C%2Frect%3E%3Crect%20x%3D%221719%22%20y%3D%220%22%20width%3D%222%22%20height%3D%2218%22%3E%3C%2Frect%3E%3Crect%20x%3D%221709%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3Crect%20x%3D%221714%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3Crect%20x%3D%221724%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3Crect%20x%3D%221729%22%20y%3D%228%22%20width%3D%222%22%20height%3D%2210%22%3E%3C%2Frect%3E%3C%2Fg%3E%3Crect%20id%3D%22right-rule%22%20x%3D%221734%22%20y%3D%2216%22%20width%3D%2278%22%20height%3D%222%22%3E%3C%2Frect%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position:top 0px right -83px;
    background-repeat:no-repeat;
    background-size:auto 18px;
    content:"";
    display:block;
    height:18px;
    margin-bottom:tygrid(1);
    @media (min-width:$tybreak-cols2) {
      background-position:top right;
    }
  }
  & > div:first-child {
    margin-bottom:tygrid(0.5);
  }
  @media (min-width:$tybreak-cols2) {
    & > div {
      display:inline-block;
    }
    & > div + div {
      margin-left:tygrid(2);
    }
  }
}