footer.footer {
  @extend .block; // defined in tyfy-docs-base to apply standard max width and padding
  @include tymargins(off);
  --tycolor-fg:#{$tycolor-text-light};
  color:$tycolor-text-light;
  font-size:tyscale(-1);
  line-height:tylead(tyscale(0));
  &::before {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="1812px" height="18px" viewBox="0 0 1812 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="footer-line" fill="#CC3380"><rect id="left-rule" x="0" y="16" width="1686" height="2"></rect><g id="tics" transform="translate(1689.000000, 0.000000)"><rect x="0" y="0" width="2" height="18"></rect><rect x="5" y="8" width="2" height="10"></rect><rect x="10" y="8" width="2" height="10"></rect><rect x="15" y="0" width="2" height="18"></rect><rect x="30" y="0" width="2" height="18"></rect><rect x="20" y="8" width="2" height="10"></rect><rect x="25" y="8" width="2" height="10"></rect><rect x="35" y="8" width="2" height="10"></rect><rect x="40" y="8" width="2" height="10"></rect></g><rect id="right-rule" x="1734" y="16" width="78" height="2"></rect></g></svg>');
    background-position:top right;
    background-repeat:no-repeat;
    background-size:1812px 18px;
    content:"";
    display:block;
    height:18px;
    margin-bottom:tygrid(1);
  }
  & > div:first-child {
    margin-bottom:tygrid(0.5);
  }
  @media (min-width:$tybreak-cols2) {
    & > div {
      display:inline-block;
    }
    & > div + div {
      margin-left:tygrid(2);
    }
  }
}