<footer class="footer">
  <div>© Copyright 2017-2019 by {{ render '@navlink-secondary' }}</div>
  <div>{{ render '@navlink-secondary--github' }}</div>
  <div>{{ render '@navlink-secondary--npm' }}</div>  
</footer>