footer.footer {
  @extend .block; // defined in tyfy-docs-base to apply standard max width and padding
  @include tymargins(off);
  --tycolor-fg:#{$tycolor-text-light};
  color:$tycolor-text-light;
  font-size:tyscale(-1);
  line-height:tylead(tyscale(0));
  &::before {
    background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="1812px" height="18px" viewBox="0 0 1812 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="footer-line" fill="#CC0066"><rect id="left-rule" x="0" y="16" width="1686" height="2"></rect><g id="tics"><rect x="1689" y="0" width="2" height="18"></rect><rect x="1694" y="8" width="2" height="10"></rect><rect x="1699" y="8" width="2" height="10"></rect><rect x="1704" y="0" width="2" height="18"></rect><rect x="1719" y="0" width="2" height="18"></rect><rect x="1709" y="8" width="2" height="10"></rect><rect x="1714" y="8" width="2" height="10"></rect><rect x="1724" y="8" width="2" height="10"></rect><rect x="1729" y="8" width="2" height="10"></rect></g><rect id="right-rule" x="1734" y="16" width="78" height="2"></rect></g></svg>');
    background-position:top 0px right -83px;
    background-repeat:no-repeat;
    background-size:auto 18px;
    content:"";
    display:block;
    height:18px;
    margin-bottom:tygrid(1);
    @media (min-width:$tybreak-cols2) {
      background-position:top right;
    }
  }
  & > div:first-child {
    margin-bottom:tygrid(0.5);
  }
  @media (min-width:$tybreak-cols2) {
    & > div {
      display:inline-block;
    }
    & > div + div {
      margin-left:tygrid(2);
    }
  }
}