// fonts
$serif:Merriweather;
$sans:Roboto;
$symbol:FontAwesome;

// typographical breakpoint
$break-lineheight-horizontal:40em;
$break-lineheight-vertical:30em;

// line heights
$line-height-large:1.75rem;
$line-height-small:1.5rem;

// colors
$color-text-body:#222;
$color-text-head:lighten($color-text-body,7%);
$color-text-light:lighten($color-text-body,25%);
$color-link-default:#418fde;
$color-link-active:complement($color-link-default);
$color-font-text-reverse:invert($color-text-body);
$color-font-head-reverse:invert($color-text-head);
$color-font-light-reverse:invert($color-text-light);
$color-link-default-reverse:saturate(lighten($color-link-default,25%),10%);
$color-link-active-reverse:complement($color-link-default-reverse);

// modular scale
$font-size-scalar:1.2;
$font-size-p:1rem;
$font-size-h6:$font-size-p * $font-size-scalar;
$font-size-h5:$font-size-h6 * $font-size-scalar;
$font-size-h4:$font-size-h5 * $font-size-scalar;
$font-size-h3:$font-size-h4 * $font-size-scalar;
$font-size-h2:$font-size-h3 * $font-size-scalar;
$font-size-h1:$font-size-h2 * $font-size-scalar;

// transitions
$transition-duration-hover:0.25s;