// fonts
$serif:Merriweather;
$sans:Roboto;
$symbol:FontAwesome;

// typographical breakpoint
$break-lineheight-horizontal:40em;
$break-lineheight-vertical:30em;

// line heights
$line-height-large:1.75rem;
$line-height-small:1.5rem;

// font colors
$color-text-body:#222;
$color-text-head:#333;
$color-text-light:#999;
$color-link-default:#418fde;
$color-link-active:#de9041;
$color-font-text-reverse:#eee;
$color-font-head-reverse:#ddd;
$color-font-light-reverse:#888;
$color-link-default-reverse:#b6d4f2;
$color-link-active-reverse:#f2d4b6;

// modular scale
$font-size-scalar:1.2;
$font-size-p:1rem;
$font-size-h6:$font-size-p * $font-size-scalar;
$font-size-h5:$font-size-h6 * $font-size-scalar;
$font-size-h4:$font-size-h5 * $font-size-scalar;
$font-size-h3:$font-size-h4 * $font-size-scalar;
$font-size-h2:$font-size-h3 * $font-size-scalar;
$font-size-h1:$font-size-h2 * $font-size-scalar;

// transitions
$transition-duration-hover:0.25s;