@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i|Montserrat:400,400i,500,500i,600,600i,700,700i|Overpass+Mono:400,700');
@import "../resources/fontawesome/scss/_variables.scss";

// fonts
$serif:Merriweather,serif;
$sans:Montserrat,sans-serif;
$mono:'Overpass Mono',monospace;
$symbol:FontAwesome;