// font styles and line heights for lists
ol,
ul {
	@include calc-line-height($font-size-p,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	padding-left:3*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-p,$line-height-large);
		padding-left:3*$line-height-large;
	}
}
li {
	font-family:$serif;
	font-style:normal;
	font-weight:400;
	letter-spacing:0;
	@include calc-line-height($font-size-p,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-p,$line-height-large);
	}
}

// margins for lists
* + ol,
* + ul {
	margin-top:2*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:2*$line-height-large;
	}
}
h2 + ol,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
	margin-top:2*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:2*$line-height-large;
	}
}
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
	margin-top:3*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:3*$line-height-large;
	}
}
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul {
	margin-top:2*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:2*$line-height-large;
	}
}
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
	margin-top:3*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:3*$line-height-large;
	}
}
li + li {
	margin-top:$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:$line-height-large;
	}
}

// nested lists
ol,
ul {
	ol,
	ul {
		margin-top:$line-height-small;
		@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
			margin-top:$line-height-large;
		}
	}
}

// unordered list variations
ul.list-icons {
	li {
		list-style-type:none;
		position:relative;
		&:before {
			color:$color-text-light;
			font-family:$symbol;
			margin-right:$line-height-large;
			position:absolute;
			right:100%;
			top:0;
		}
	}
	&.list-icons-angle li:before {
		content:unquote("\"#{ $fa-var-angle-right }\"");
	}
	&.list-icons-caret li:before {
		content:unquote("\"#{ $fa-var-caret-right }\"");
	}
	&.list-icons-check li:before {
		content:unquote("\"#{ $fa-var-check }\"");
	}
	&.list-icons-chevron li:before {
		content:unquote("\"#{ $fa-var-chevron-right }\"");
	}
}
ul.list-no-bullet {
	
}
ul.list-cols-2 {
	
}
ul.list-cols-3 {
	
}
