@mixin calc-line-height($fontsize,$leading,$adjustment_factor:0.9) {	
	@if $fontsize <= ($leading*$adjustment_factor) {
		line-height:$leading;
	}
	@else {
		line-height:ceil($fontsize/($leading*$adjustment_factor)) * $leading;
	}
}

@mixin clearfix {
	*zoom:1;
	&:before,
	&:after {
		display:table;
		content:"";
		line-height:0;
	}
	&:after { clear:both; }	
}
