@mixin calc-line-height($fontsize,$grid-unit,$property:line-height,$adjustment_factor:0.9) {	
	@if $fontsize <= ($grid-unit*$adjustment_factor) {
		#{$property}:$grid-unit;
	}
	@else {
		#{$property}:ceil($fontsize/($grid-unit*$adjustment_factor)) * $grid-unit;
	}
}

@mixin clearfix {
	*zoom:1;
	&:before,
	&:after {
		display:table;
		content:"";
		line-height:0;
	}
	&:after { clear:both; }	
}
