// font size styles
.font-size-sm {
	font-size:$font-size-sm;
}
.font-size-p {
	font-size:$font-size-p;
}
.font-size-h6 {
	font-size:$font-size-h6;
}
.font-size-h5 {
	font-size:$font-size-h5;
}
.font-size-h4 {
	font-size:$font-size-h4;
}
.font-size-h3 {
	font-size:$font-size-h3;
}
.font-size-h2 {
	font-size:$font-size-h2;
}
.font-size-h1 {
	font-size:$font-size-h1;
}

// font sizes and line heights for paragraphs
h1 {
	color:$color-text-head;
	font-family:$serif;
	font-size:$font-size-h1;
	font-style:normal;
	font-weight:900;
	letter-spacing:0;
	@include calc-line-height($font-size-h1,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h1,$line-height-large);
	}
}
h2 {
	color:$color-text-head;
	font-family:$sans;
	font-size:$font-size-h2;
	font-style:normal;
	font-weight:700;
	letter-spacing:0;
	@include calc-line-height($font-size-h2,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h2,$line-height-large);
	}
}
h3 {
	color:$color-text-head;
	font-family:$sans;
	font-size:$font-size-h3;
	font-style:normal;
	font-weight:600;
	letter-spacing:0;
	@include calc-line-height($font-size-h3,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h3,$line-height-large);
	}
}
h4 {
	color:$color-text-head;
	font-family:$sans;
	font-size:$font-size-h4;
	font-style:italic;
	font-weight:600;
	letter-spacing:0;
	@include calc-line-height($font-size-h4,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h4,$line-height-large);
	}
}
h5 {
	color:$color-text-head;
	font-family:$sans;
	font-size:$font-size-h5;
	font-style:italic;
	font-weight:500;
	letter-spacing:0;
	@include calc-line-height($font-size-h5,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h5,$line-height-large);
	}
}
h6 {
	color:$color-text-head;
	font-family:$sans;
	font-size:$font-size-h6;
	font-style:normal;
	font-weight:500;
	letter-spacing:0.025em;
	@include calc-line-height($font-size-h6,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	text-transform:uppercase;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-h6,$line-height-large);
	}
}
p {
	font-size:$font-size-p;
	font-style:normal;
	font-weight:400;
	letter-spacing:0;
	@include calc-line-height($font-size-p,$line-height-small);
	margin-bottom:0;
	margin-top:0;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		@include calc-line-height($font-size-p,$line-height-large);
	}
}

// margins for paragraphs
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + p {
	margin-top:2*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:2*$line-height-large;
	}
}
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top:2*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:2*$line-height-large;
	}
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top:3*$line-height-small;
	@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
		margin-top:3*$line-height-large;
	}
}
