@import "defaults";

body {
	margin:0 0 2rem 0;
	padding:0;
}

.reverse {
	background-color:$color-text-body;
}

header.brand {
	h1 {
		font-size:$font-size-h3;
		line-height:$line-height-small*2;
		margin:0 auto;
		max-width:55rem;
		padding:$line-height-small/2 $line-height-small;
		@media (min-width:$break-lineheight-horizontal) {
			padding-left:$line-height-large*2;
			padding-right:$line-height-large*2;
		}
		@media (min-width:$break-lineheight-horizontal) and (min-height:$break-lineheight-vertical) {
			line-height:$line-height-large*2;
		}
	}
}

section.main {
	margin:0 auto;
	max-width:55rem;
	padding:$line-height-small;
	@media (min-width:$break-lineheight-horizontal) {
		padding-left:$line-height-large*2;
		padding-right:$line-height-large*2;
	}
	@media (min-height:$break-lineheight-vertical) {
		padding-bottom:$line-height-large*2;
		padding-top:$line-height-large*2;
	}
}
section.demo {
	background-color:lighten($color-text-body,82%);
	border:1px dashed lighten($color-text-body,67%);
	border-radius:1rem;
}
section.demo.reverse {
	background-color:$color-text-body;
	border:none;
}
