@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i|Montserrat:400,400i,500,500i,600,600i,700,700i|Overpass+Mono:400,700");
html {
  font-size: 100%; }

body {
  color: #111;
  font-family: Merriweather, serif;
  font-size: 1rem; }

.font-size-sm {
  font-size: 0.83333rem; }

.font-size-p {
  font-size: 1rem; }

.font-size-h6 {
  font-size: 0.83333rem; }

.font-size-h5 {
  font-size: 1rem; }

.font-size-h4 {
  font-size: 1.2rem; }

.font-size-h3 {
  font-size: 1.44rem; }

.font-size-h2 {
  font-size: 1.728rem; }

.font-size-h1 {
  font-size: 2.48832rem; }

h1 {
  color: #232323;
  font-family: Merriweather, serif;
  font-size: 2.48832rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 3.5rem;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 1.728rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.625rem;
  margin-bottom: 0;
  margin-top: 0; }

h3 {
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 1.44rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

h4 {
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

h5 {
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

h6 {
  color: #232323;
  font-family: Montserrat, sans-serif;
  font-size: 0.83333rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + p {
  margin-top: 1.75rem; }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 1.75rem; }

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 2.625rem; }

.paragraphs-justified p,
p.justified {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
  text-align: justify; }

a {
  color: #111;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: border-color,color; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #232323; }
  a[href] {
    color: #1d75cf; }
    h1 a[href], h2 a[href], h3 a[href], h4 a[href], h5 a[href], h6 a[href] {
      color: #232323; }
    a[href]:hover, a[href]:active {
      color: #cf771d; }
      h1 a[href]:hover, h2 a[href]:hover, h3 a[href]:hover, h4 a[href]:hover, h5 a[href]:hover, h6 a[href]:hover, h1 a[href]:active, h2 a[href]:active, h3 a[href]:active, h4 a[href]:active, h5 a[href]:active, h6 a[href]:active {
        color: #cf771d; }
    .links-underlined a[href] {
      border-bottom: 2px rgba(29, 117, 207, 0.5) solid; }
      .links-underlined a[href]:hover, .links-underlined a[href]:active {
        border-bottom: 2px #cf771d solid; }
    .links-underlined h1 a[href], .links-underlined h2 a[href], .links-underlined h3 a[href], .links-underlined h4 a[href], .links-underlined h5 a[href], .links-underlined h6 a[href] {
      border-bottom: 2px rgba(35, 35, 35, 0.5) solid; }
      .links-underlined h1 a[href]:hover, .links-underlined h1 a[href]:active, .links-underlined h2 a[href]:hover, .links-underlined h2 a[href]:active, .links-underlined h3 a[href]:hover, .links-underlined h3 a[href]:active, .links-underlined h4 a[href]:hover, .links-underlined h4 a[href]:active, .links-underlined h5 a[href]:hover, .links-underlined h5 a[href]:active, .links-underlined h6 a[href]:hover, .links-underlined h6 a[href]:active {
        border-bottom: 2px #cf771d solid; }

ol,
ul {
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2.625rem; }

li {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

dl {
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

dt {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 0;
  margin-top: 0; }

dd {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin: 0;
  padding-left: 2.625rem; }

* + dl,
* + ol,
* + ul {
  margin-top: 1.75rem; }

h2 + dl,
h3 + dl,
h4 + dl,
h5 + dl,
h6 + dl {
  margin-top: 1.75rem; }

dl + h1,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6 {
  margin-top: 2.625rem; }

h2 + ol,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
  margin-top: 1.75rem; }

ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
  margin-top: 2.625rem; }

h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul {
  margin-top: 1.75rem; }

ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 2.625rem; }

li + li {
  margin-top: 0.875rem; }

* + dt {
  margin-top: 0.875rem; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0.875rem; }

ul.list-icons li {
  list-style-type: none;
  position: relative; }
  ul.list-icons li:before {
    color: #919191;
    font-family: FontAwesome;
    margin-right: 0.875rem;
    position: absolute;
    right: 100%;
    top: 0; }
ul.list-icons.list-icons-angle li:before {
  content: "\f105"; }
ul.list-icons.list-icons-caret li:before {
  content: "\f0da"; }
ul.list-icons.list-icons-check li:before {
  content: "\f00c"; }
ul.list-icons.list-icons-chevron li:before {
  content: "\f054"; }
ul.no-bullet li {
  list-style-type: none; }

@media (min-width: 35em) {
  ol.list-cols-2, ol.list-cols-3,
  ul.list-cols-2,
  ul.list-cols-3 {
    columns: 2;
    column-gap: 2.625rem;
    margin-bottom: -0.875rem;
    padding-right: 2.625rem; }
    ol.list-cols-2 li, ol.list-cols-3 li,
    ul.list-cols-2 li,
    ul.list-cols-3 li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      padding-bottom: 0.875rem; }
    ol.list-cols-2 li + li, ol.list-cols-3 li + li,
    ul.list-cols-2 li + li,
    ul.list-cols-3 li + li {
      margin-top: 0; } }
@media (min-width: 55em) {
  ol.list-cols-3,
  ul.list-cols-3 {
    columns: 3; } }
@media (min-width: 35em) {
  ol.list-grid-2, ol.list-grid-3,
  ul.list-grid-2,
  ul.list-grid-3 {
    *zoom: 1; }
    ol.list-grid-2:before, ol.list-grid-2:after, ol.list-grid-3:before, ol.list-grid-3:after,
    ul.list-grid-2:before,
    ul.list-grid-2:after,
    ul.list-grid-3:before,
    ul.list-grid-3:after {
      display: table;
      content: "";
      line-height: 0; }
    ol.list-grid-2:after, ol.list-grid-3:after,
    ul.list-grid-2:after,
    ul.list-grid-3:after {
      clear: both; }
    ol.list-grid-2 li, ol.list-grid-3 li,
    ul.list-grid-2 li,
    ul.list-grid-3 li {
      box-sizing: border-box;
      float: left;
      padding-right: 2.625rem;
      width: 50%; }
      ol.list-grid-2 li:nth-child(2), ol.list-grid-3 li:nth-child(2),
      ul.list-grid-2 li:nth-child(2),
      ul.list-grid-3 li:nth-child(2) {
        margin-top: 0; }
      ol.list-grid-2 li:nth-child(2n+1), ol.list-grid-3 li:nth-child(2n+1),
      ul.list-grid-2 li:nth-child(2n+1),
      ul.list-grid-3 li:nth-child(2n+1) {
        clear: left; } }
@media (min-width: 55em) {
  ol.list-grid-3 li,
  ul.list-grid-3 li {
    width: 33.333%; }
    ol.list-grid-3 li:nth-child(3),
    ul.list-grid-3 li:nth-child(3) {
      margin-top: 0; }
    ol.list-grid-3 li:nth-child(2n+1),
    ul.list-grid-3 li:nth-child(2n+1) {
      clear: none; }
    ol.list-grid-3 li:nth-child(3n+1),
    ul.list-grid-3 li:nth-child(3n+1) {
      clear: left; } }

b {
  font-weight: 700; }

code {
  background-color: rgba(17, 17, 17, 0.1);
  font-family: "Overpass Mono", monospace; }

pre {
  font-family: "Overpass Mono", monospace; }

small {
  font-size: 0.83333rem; }

strong {
  font-weight: 700; }

span.dropcap {
  display: inline-block;
  float: left;
  font-size: 400%;
  font-weight: bold;
  line-height: 100%;
  margin: 0 0.25em 0 0.125em;
  text-align: center; }
span.smallcaps {
  font-feature-settings: "c2sc", "smcp";
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  letter-spacing: 0.1em; }

blockquote {
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.75rem;
  margin: 1.75rem; }
  blockquote p {
    font-style: italic; }
  blockquote.pullquote {
    background-color: transparent;
    border: none;
    color: #de9041;
    font-size: 1.2rem;
    line-height: 1.75rem;
    margin: 1.75rem 0 2.625rem 0;
    position: relative;
    text-align: center; }
    @media (min-width: 40em) {
      blockquote.pullquote {
        margin: 2.625rem 3.5rem 3.5rem 3.5rem; } }
    blockquote.pullquote p {
      font-size: 1.2rem;
      line-height: 1.75rem; }
    blockquote.pullquote cite {
      display: block;
      font-size: 0.83333rem;
      font-style: normal;
      line-height: 1.75rem; }
    blockquote.pullquote * + cite {
      margin-top: 0.875rem; }
    blockquote.pullquote:before {
      color: #919191;
      content: "\f10d";
      display: block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-align: center; }
    blockquote.pullquote:after {
      color: #aaaaaa;
      content: "———— \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 ————";
      display: block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      left: 0;
      letter-spacing: -0.1em;
      margin-left: -0.05em;
      position: absolute;
      text-align: center;
      top: 0;
      white-space: nowrap;
      width: 100%; }
    @media (min-width: 40em) {
      blockquote.pullquote.left, blockquote.pullquote.right {
        box-sizing: border-box;
        margin-bottom: 2.625rem;
        margin-top: 1.75rem;
        text-align: left;
        width: 50%; } }
    @media (min-width: 40em) {
      blockquote.pullquote.left {
        float: left;
        margin-left: 0;
        margin-right: 1.75rem;
        padding-right: 1.75rem; }
        blockquote.pullquote.left:after {
          box-sizing: border-box;
          padding-right: 1.75rem; } }
    @media (min-width: 40em) {
      blockquote.pullquote.right {
        float: right;
        margin-left: 1.75rem;
        margin-right: 0;
        padding-left: 1.75rem; }
        blockquote.pullquote.right:after {
          box-sizing: border-box;
          padding-left: 1.75rem; } }

h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  background-color: transparent;
  border: 2px rgba(17, 17, 17, 0.13) solid;
  border-bottom: 2px transparent solid;
  clear: both;
  cursor: pointer;
  padding: 1.75rem 5.25rem 0.875rem 1.75rem;
  position: relative;
  transition-duration: 0.5s;
  transition-property: padding-top; }
  h2.collapsable-processed:before,
  h3.collapsable-processed:before,
  h4.collapsable-processed:before,
  h5.collapsable-processed:before,
  h6.collapsable-processed:before {
    border-radius: 50%;
    content: "\f077";
    font-family: FontAwesome;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 1.75rem;
    text-align: center;
    top: 1.75rem;
    transition-duration: 0.5s;
    transition-property: background-color,color,top;
    transition-timing-function: ease-in-out;
    width: 2.625rem; }
  h2.collapsable-processed.closed,
  h3.collapsable-processed.closed,
  h4.collapsable-processed.closed,
  h5.collapsable-processed.closed,
  h6.collapsable-processed.closed {
    border-bottom: 2px rgba(17, 17, 17, 0.13) solid;
    padding-top: 0.875rem; }
    h2.collapsable-processed.closed:before,
    h3.collapsable-processed.closed:before,
    h4.collapsable-processed.closed:before,
    h5.collapsable-processed.closed:before,
    h6.collapsable-processed.closed:before {
      content: "\f078";
      top: 0.875rem; }
  h2.collapsable-processed.transition,
  h3.collapsable-processed.transition,
  h4.collapsable-processed.transition,
  h5.collapsable-processed.transition,
  h6.collapsable-processed.transition {
    padding-top: 0.875rem; }
    h2.collapsable-processed.transition:before,
    h3.collapsable-processed.transition:before,
    h4.collapsable-processed.transition:before,
    h5.collapsable-processed.transition:before,
    h6.collapsable-processed.transition:before {
      top: 0.875rem; }
  h2.collapsable-processed.transition.closed,
  h3.collapsable-processed.transition.closed,
  h4.collapsable-processed.transition.closed,
  h5.collapsable-processed.transition.closed,
  h6.collapsable-processed.transition.closed {
    padding-top: 1.75rem; }
    h2.collapsable-processed.transition.closed:before,
    h3.collapsable-processed.transition.closed:before,
    h4.collapsable-processed.transition.closed:before,
    h5.collapsable-processed.transition.closed:before,
    h6.collapsable-processed.transition.closed:before {
      top: 1.75rem; }

h3.collapsable-processed {
  border-color: rgba(0, 0, 0, 0.11); }
  h3.collapsable-processed:before {
    width: 1.75rem; }

h4.collapsable-processed {
  border-color: rgba(0, 0, 0, 0.09); }
  h4.collapsable-processed:before {
    width: 1.75rem; }

h5.collapsable-processed {
  border-color: rgba(0, 0, 0, 0.07); }
  h5.collapsable-processed:before {
    width: 1.75rem; }

h6.collapsable-processed {
  border-color: rgba(0, 0, 0, 0.05); }
  h6.collapsable-processed:before {
    width: 1.75rem; }

h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  border-bottom-color: transparent; }
  h2.collapsable-processed.transition,
  h3.collapsable-processed.transition,
  h4.collapsable-processed.transition,
  h5.collapsable-processed.transition,
  h6.collapsable-processed.transition {
    border-bottom-color: transparent; }
  h2.collapsable-processed:hover:before,
  h3.collapsable-processed:hover:before,
  h4.collapsable-processed:hover:before,
  h5.collapsable-processed:hover:before,
  h6.collapsable-processed:hover:before {
    background-color: #cf771d;
    color: white; }

.collapsables {
  box-sizing: border-box;
  border: 2px rgba(0, 0, 0, 0.13) solid;
  border-top: none !important;
  overflow: hidden;
  padding: 0.875rem 1.75rem 1.75rem 1.75rem; }
  .collapsables.closed {
    border: none;
    height: 1px;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute; }
  h3.collapsable-processed + .collapsables {
    border-color: rgba(0, 0, 0, 0.11); }
  h4.collapsable-processed + .collapsables {
    border-color: rgba(0, 0, 0, 0.09); }
  h5.collapsable-processed + .collapsables {
    border-color: rgba(0, 0, 0, 0.07); }
  h6.collapsable-processed + .collapsables {
    border-color: rgba(0, 0, 0, 0.05); }

.reverse {
  color: #eeeeee; }
  .reverse h1 {
    color: gainsboro; }
  .reverse h2 {
    color: gainsboro; }
  .reverse h3 {
    color: gainsboro; }
  .reverse h4 {
    color: gainsboro; }
  .reverse h5 {
    color: gainsboro; }
  .reverse h6 {
    color: gainsboro; }
  .reverse a {
    color: #eeeeee; }
  .reverse h1 a,
  .reverse h2 a,
  .reverse h3 a,
  .reverse h4 a,
  .reverse h5 a,
  .reverse h6 a {
    color: gainsboro; }
  .reverse a[href] {
    color: #86c2ff; }
  .reverse h1 a[href],
  .reverse h2 a[href],
  .reverse h3 a[href],
  .reverse h4 a[href],
  .reverse h5 a[href],
  .reverse h6 a[href] {
    color: gainsboro; }
  .reverse a[href]:hover,
  .reverse a[href]:active {
    color: #ffc386; }
  .reverse .links-underlined a[href] {
    border-bottom: 2px rgba(134, 194, 255, 0.5) solid; }
  .reverse .links-underlined h1 a[href],
  .reverse .links-underlined h2 a[href],
  .reverse .links-underlined h3 a[href],
  .reverse .links-underlined h4 a[href],
  .reverse .links-underlined h5 a[href],
  .reverse .links-underlined h6 a[href] {
    border-bottom: 2px rgba(220, 220, 220, 0.5) solid; }
  .reverse .links-underlined a[href]:hover,
  .reverse .links-underlined a[href]:active {
    border-bottom: 2px #ffc386 solid; }
  .reverse.links-underlined a[href] {
    border-bottom: 2px rgba(134, 194, 255, 0.5) solid; }
  .reverse.links-underlined h1 a[href],
  .reverse.links-underlined h2 a[href],
  .reverse.links-underlined h3 a[href],
  .reverse.links-underlined h4 a[href],
  .reverse.links-underlined h5 a[href],
  .reverse.links-underlined h6 a[href] {
    border-bottom: 2px rgba(220, 220, 220, 0.5) solid; }
  .reverse.links-underlined a[href]:hover,
  .reverse.links-underlined a[href]:active {
    border-bottom: 2px #ffc386 solid; }
  .links-underlined .reverse a[href] {
    border-bottom: 2px rgba(134, 194, 255, 0.5) solid; }
  .links-underlined .reverse h1 a[href], .links-underlined .reverse h2 a[href], .links-underlined .reverse h3 a[href], .links-underlined .reverse h4 a[href], .links-underlined .reverse h5 a[href], .links-underlined .reverse h6 a[href] {
    border-bottom: 2px rgba(220, 220, 220, 0.5) solid; }
  .links-underlined .reverse a[href]:hover, .links-underlined .reverse a[href]:active {
    border-bottom: 2px #ffc386 solid; }
  .reverse blockquote.pullquote {
    color: #ffdcb9; }
    .reverse blockquote.pullquote:before {
      color: #6e6e6e; }
    .reverse blockquote.pullquote:after {
      color: #555555; }

table {
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  margin: 0; }

th {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 1.75rem;
  text-align: left;
  vertical-align: top; }
  th[scope="col"] {
    vertical-align: bottom; }

td {
  font-size: 1rem;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  line-height: 1.75rem;
  vertical-align: top; }

* + table {
  margin-top: 1.75rem; }

h2 + table,
h3 + table,
h4 + table,
h5 + table,
h6 + table {
  margin-top: 1.75rem; }

table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6 {
  margin-top: 2.625rem; }

table.clean {
  border-collapse: collapse;
  width: 100%; }
  table.clean td,
  table.clean th {
    border: none;
    margin: 0;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem; }
  table.clean * + td,
  table.clean * + th {
    padding-left: 0.875rem; }

table.striped td,
table.striped th {
  padding-left: 0.875rem;
  padding-right: grid-unit; }
table.striped tr:nth-child(2n) td {
  background-color: rgba(17, 17, 17, 0.05); }

* + .tabs-container {
  margin-top: 1.75rem; }

.tabs-container + h2,
.tabs-container + h3,
.tabs-container + h4,
.tabs-container + h5,
.tabs_container + h6 {
  margin-top: 2.625rem; }

.tabs-container ul.tabs {
  align-items: stretch;
  border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
  display: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 40em) {
    .tabs-container ul.tabs {
      display: flex; } }
  .tabs-container ul.tabs li {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px rgba(0, 0, 0, 0.2) solid;
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    cursor: pointer;
    display: block;
    flex: 1;
    font-family: Montserrat, sans-serif;
    margin: 0 0 -2px 0;
    padding: 0.875rem 1.75rem;
    text-align: center;
    transition-duration: 0.25s;
    transition-property: background-color; }
    .tabs-container ul.tabs li:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .tabs-container ul.tabs li.open {
      background-color: transparent;
      border-bottom: 2px rgba(255, 255, 255, 0.7) solid;
      font-weight: 600; }
  .tabs-container ul.tabs li + li {
    margin-top: 0;
    margin-left: 0.875rem; }
.tabs-container.tabs-processed .tab-label {
  background-color: transparent;
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-bottom: 2px transparent solid;
  clear: both;
  cursor: pointer;
  font-size: 1.44rem;
  line-height: 1.75rem;
  margin: 0;
  padding: 1.75rem 5.25rem 0.875rem 1.75rem;
  position: relative;
  transition-duration: 0.5s;
  transition-property: padding-top; }
  .tabs-container.tabs-processed .tab-label:before {
    border-radius: 50%;
    content: "\f077";
    font-family: FontAwesome;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 1.75rem;
    text-align: center;
    top: 1.75rem;
    transition-duration: 0.5s;
    transition-property: background-color,color,top;
    transition-timing-function: ease-in-out;
    width: 1.75rem; }
  @media (min-width: 40em) {
    .tabs-container.tabs-processed .tab-label {
      display: none; } }
  .tabs-container.tabs-processed .tab-label.collapsed {
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    padding-top: 0.875rem; }
    .tabs-container.tabs-processed .tab-label.collapsed:before {
      content: "\f078";
      top: 0.875rem; }
  .tabs-container.tabs-processed .tab-label.transition {
    border-bottom-color: transparent;
    padding-top: 0.875rem; }
    .tabs-container.tabs-processed .tab-label.transition:before {
      top: 0.875rem; }
  .tabs-container.tabs-processed .tab-label.transition.collapsed {
    padding-top: 1.75rem; }
    .tabs-container.tabs-processed .tab-label.transition.collapsed:before {
      top: 1.75rem; }
  .tabs-container.tabs-processed .tab-label:hover:before {
    background-color: #cf771d;
    color: white; }
.tabs-container.tabs-processed * + .tab-label {
  margin-top: 1.75rem !important; }
.tabs-container.tabs-processed .tab-panel {
  border: 2px rgba(0, 0, 0, 0.2) solid;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
  padding: 0.875rem 1.75rem 1.75rem; }
  @media (min-width: 40em) {
    .tabs-container.tabs-processed .tab-panel {
      display: none;
      padding-top: 1.75rem; } }
  .tabs-container.tabs-processed .tab-panel.open {
    display: block; }
  @media (max-width: 39.996em) {
    .tabs-container.tabs-processed .tab-panel.collapsed {
      border: none;
      height: 1px;
      padding-bottom: 0;
      padding-top: 0;
      position: absolute; } }

/*# sourceMappingURL=tyfy.css.map */
