// collapsable areas
h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  background-color:transparent;
  border:2px rgba($tyfy-color-text-body,0.13) solid;
  border-bottom:2px transparent solid;
  clear:both;
  cursor:pointer;
  padding:2*$tyfy-grid-unit 6*$tyfy-grid-unit $tyfy-grid-unit 2*$tyfy-grid-unit;
  position:relative;
  transition-duration:$tyfy-transition-duration-move;
  transition-property:padding-top;
  &:before {
    border-radius:50%;
    content:unquote("\"#{ $fa-var-chevron-up }\"");
    font-family:$tyfy-symbol;
    font-size:1rem;
    font-style:normal;
    font-weight:normal;
    position:absolute;
    right:2*$tyfy-grid-unit;
    text-align:center;
    top:2*$tyfy-grid-unit;
    transition-duration:$tyfy-transition-duration-move;
    transition-property:background-color,color,top;
    transition-timing-function:ease-in-out;
    width:leading($tyfy-font-size-h2,heading);
  }
  &.closed {
    border-bottom:2px rgba($tyfy-color-text-body,0.13) solid;
    padding-top:$tyfy-grid-unit;
    &:before {
      content:unquote("\"#{ $fa-var-chevron-down }\"");
      top:$tyfy-grid-unit;
    }
  }
  &.transition {
    padding-top:$tyfy-grid-unit;
    &:before {
      top:$tyfy-grid-unit;
    }
  }
  &.transition.closed {
    padding-top:2*$tyfy-grid-unit;
    &:before {
      top:2*$tyfy-grid-unit;
    }
  }
}
h3.collapsable-processed {
  border-color:rgba(black,0.11);
  &:before {
    width:leading($tyfy-font-size-h3,heading);
  }
}
h4.collapsable-processed {
  border-color:rgba(black,0.09);
  &:before {
    width:leading($tyfy-font-size-h4,heading);
  }
}
h5.collapsable-processed {
  border-color:rgba(black,0.07);
  &:before {
    width:leading($tyfy-font-size-h5,heading);
  }
}
h6.collapsable-processed {
  border-color:rgba(black,0.05);
  &:before {
    width:leading($tyfy-font-size-h6,heading);
  }
}
h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  border-bottom-color:transparent;
  &.transition {
    border-bottom-color:transparent;
  }
  &:hover {
    &:before {
      background-color:$tyfy-color-link-active;
      color:white;
    }
  }
}

.collapsables {
  box-sizing:border-box;
  border:2px rgba(black,0.13) solid;
  border-top:none !important;
  overflow:hidden;
  padding:$tyfy-grid-unit 2*$tyfy-grid-unit 2*$tyfy-grid-unit 2*$tyfy-grid-unit;
  &.closed {
    border:none;
    height:1px;
    padding-bottom:0;
    padding-top:0;
    position:absolute;
  }
  h3.collapsable-processed + & {
    border-color:rgba(black,0.11);
  }
  h4.collapsable-processed + & {
    border-color:rgba(black,0.09);
  }
  h5.collapsable-processed + & {
    border-color:rgba(black,0.07);
  }
  h6.collapsable-processed + & {
    border-color:rgba(black,0.05);
  }
}
