// font size styles
.font-size-sm {
	font-size:$tyfy-font-size-sm;
}
.font-size-p {
	font-size:$tyfy-font-size-base;
}
.font-size-h6 {
	font-size:$tyfy-font-size-h6;
}
.font-size-h5 {
	font-size:$tyfy-font-size-h5;
}
.font-size-h4 {
	font-size:$tyfy-font-size-h4;
}
.font-size-h3 {
	font-size:$tyfy-font-size-h3;
}
.font-size-h2 {
	font-size:$tyfy-font-size-h2;
}
.font-size-h1 {
	font-size:$tyfy-font-size-h1;
}

// font sizes, weight, and line height for headings
h1,
h2,
h3,
h4,
h5,
h6 {
	color:$color-text-head;
	font-family:$tyfy-font-heading;
	font-weight:700;
}
h1 {
	font-size:$tyfy-font-size-h1;
	@include calc-line-height($tyfy-font-size-h1,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}
h2 {
	font-size:$tyfy-font-size-h2;
	@include calc-line-height($tyfy-font-size-h2,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}
h3 {
	font-size:$tyfy-font-size-h3;
	@include calc-line-height($tyfy-font-size-h3,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}
h4 {
	font-size:$tyfy-font-size-h4;
	@include calc-line-height($tyfy-font-size-h4,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}
h5 {
	font-size:$tyfy-font-size-h5;
	font-style:italic;
	@include calc-line-height($tyfy-font-size-h5,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}
h6 {
	font-size:$tyfy-font-size-h6;
	letter-spacing:0.05em;
	text-transform:uppercase;
	@include calc-line-height($tyfy-font-size-h6,$grid-unit,line-height,$tyfy-leading-adjustment-heading);
}

// paragraphs
p {
	font-size:$tyfy-font-size-base;
	@include calc-line-height($tyfy-font-size-base,$grid-unit);
}

// justified
.paragraphs-justified p,
p.justified {
	-moz-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	-webkit-hyphenate-limit-after:3;
	-webkit-hyphenate-limit-before:3;
	text-align:justify;
}