blockquote {
	font-style:italic;
	margin:2*$tyfy-grid-unit;
	p {
		font-style:italic;
	}
	&.pullquote {
		background-color:transparent;
		border:none;
		color:$tyfy-color-text-pullquote;
		font-family:$tyfy-font-pullquote;
		font-size:$tyfy-font-size-pullquote;
		line-height:leading($tyfy-font-size-pullquote,tall);
		margin:2*$tyfy-grid-unit 0 3*$tyfy-grid-unit 0;
		position:relative;
		text-align:center;
		@media (min-width:$tyfy-break-pullquote-large) {
			margin:3*$tyfy-grid-unit 4*$tyfy-grid-unit 4*$tyfy-grid-unit 4*$tyfy-grid-unit;
		}
		p {
			font-size:$tyfy-font-size-pullquote;
			line-height:leading($tyfy-font-size-pullquote,tall);
		}
		cite {
			display:block;
			font-size:$tyfy-font-size-sm;
			font-style:normal;
			line-height:leading($tyfy-font-size-sm,tall);
		}
		* + cite {
			margin-top:$tyfy-grid-unit;
		}
		&:before {
			color:$tyfy-color-text-light;
			content:unquote("\"#{ $fa-var-quote-left }\"");
			display:block;
			font-family:$tyfy-symbol;
			font-style:normal;
			font-weight:normal;
			text-align:center;
		}
		&:after {
			color:lighten($tyfy-color-text-light,10%);
			content:"————— \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 —————";
			display:block;
			font-family:$tyfy-symbol;
			font-style:normal;
			font-weight:normal;
			left:0;
			letter-spacing:-0.1em;
			margin-left:-0.05em;
			position:absolute;
			text-align:center;
			top:0;
			white-space:nowrap;
			width:100%;
		}
		&.float-left,
		&.float-right {
			@media (min-width:$tyfy-break-floats) {
				box-sizing:border-box;
				margin-bottom:3*$tyfy-grid-unit;
				margin-top:2*$tyfy-grid-unit;
				text-align:left;
				width:calc(50% - (2 * #{$tyfy-grid-unit}));
			}
		}
		&.float-left {
			@media (min-width:$tyfy-break-floats) {
				clear:left;
				float:left;
				margin-left:0;
				margin-right:4*$tyfy-grid-unit;
			}
		}
		&.float-right {
			@media (min-width:$tyfy-break-floats) {
				clear:right;
				float:right;
				margin-left:4*$tyfy-grid-unit;
				margin-right:0;
			}
		}
	}
}