blockquote {
	font-family:$serif;
	font-size:$font-size-p;
	font-style:italic;
	@include calc-line-height($font-size-p,$grid-unit);
	margin:2*$grid-unit;
	p {
		font-style:italic;
	}
	&.pullquote {
		background-color:transparent;
		border:none;
		color:$color-text-pullquote;
		font-size:$font-size-pullquote;
		@include calc-line-height($font-size-pullquote,$grid-unit);
		margin:2*$grid-unit 0 3*$grid-unit 0;
		position:relative;
		text-align:center;
		@media (min-width:$break-pullquote-large) {
			margin:3*$grid-unit 4*$grid-unit 4*$grid-unit 4*$grid-unit;
		}
		p {
			font-size:$font-size-pullquote;
			@include calc-line-height($font-size-pullquote,$grid-unit);
		}
		cite {
			display:block;
			font-size:$font-size-sm;
			font-style:normal;
			@include calc-line-height($font-size-sm,$grid-unit);
		}
		* + cite {
			margin-top:$grid-unit;
		}
		&:before {
			color:$color-text-light;
			content:unquote("\"#{ $fa-var-quote-left }\"");
			display:block;
			font-family:$symbol;
			font-style:normal;
			font-weight:normal;
			text-align:center;
		}
		&:after {
			color:lighten($color-text-light,10%);
			content:"———— \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 ————";
			display:block;
			font-family:$symbol;
			font-style:normal;
			font-weight:normal;
			left:0;
			letter-spacing:-0.1em;
			margin-left:-0.05em;
			position:absolute;
			text-align:center;
			top:0;
			white-space:nowrap;
			width:100%;
		}
		&.left,
		&.right {
			@media (min-width:$break-floats) {
				box-sizing:border-box;
				margin-bottom:3*$grid-unit;
				margin-top:2*$grid-unit;
				text-align:left;
				width:50%;
			}
		}
		&.left {
			@media (min-width:$break-floats) {
				float:left;
				margin-left:0;
				margin-right:2*$grid-unit;
				padding-right:2*$grid-unit;
				&:after {
					box-sizing:border-box;
					padding-right:2*$grid-unit;
				}
			}
		}
		&.right {
			@media (min-width:$break-floats) {
				float:right;
				margin-left:2*$grid-unit;
				margin-right:0;
				padding-left:2*$grid-unit;
				&:after {
					box-sizing:border-box;
					padding-left:2*$grid-unit;
				}
			}
		}
	}
}