// root styles
.reverse {
	color:$tyfy-color-text-body-reverse;

	// headings
	h1 {
		color:$tyfy-color-text-head-reverse;
	}
	h2 {
		color:$tyfy-color-text-head-reverse;
	}
	h3 {
		color:$tyfy-color-text-head-reverse;
	}
	h4 {
		color:$tyfy-color-text-head-reverse;
	}
	h5 {
		color:$tyfy-color-text-head-reverse;
	}
	h6 {
		color:$tyfy-color-text-head-reverse;
	}
	
	// links
	a {
		color:$tyfy-color-text-body-reverse;
	}
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a {
		color:$tyfy-color-text-head-reverse;
	}
	a[href] {
		color:$tyfy-color-link-default-reverse;
	}
	h1 a[href],
	h2 a[href],
	h3 a[href],
	h4 a[href],
	h5 a[href],
	h6 a[href] {
		color:$tyfy-color-text-head-reverse;
	}
	a[href]:hover,
	a[href]:active {
		color:$tyfy-color-link-active-reverse;
	}
	
	// underlined links inside reverse
	.links-underlined {
		a[href] {
			border-bottom:2px rgba($tyfy-color-link-default-reverse,0.5) solid;
		}
		h1 a[href],
		h2 a[href],
		h3 a[href],
		h4 a[href],
		h5 a[href],
		h6 a[href] {
			border-bottom:2px rgba($tyfy-color-text-head-reverse,0.5) solid;
		}
		a[href]:hover,
		a[href]:active {
			border-bottom:2px $tyfy-color-link-active-reverse solid;
		}
	}
	
	// underlined links with reverse
	&.links-underlined {
		a[href] {
			border-bottom:2px rgba($tyfy-color-link-default-reverse,0.5) solid;
		}
		h1 a[href],
		h2 a[href],
		h3 a[href],
		h4 a[href],
		h5 a[href],
		h6 a[href] {
			border-bottom:2px rgba($tyfy-color-text-head-reverse,0.5) solid;
		}
		a[href]:hover,
		a[href]:active {
			border-bottom:2px $tyfy-color-link-active-reverse solid;
		}
	}
	
	// underlined links outside reverse	
	.links-underlined & a[href] {
		border-bottom:2px rgba($tyfy-color-link-default-reverse,0.5) solid;
	}
	.links-underlined & h1 a[href],
	.links-underlined & h2 a[href],
	.links-underlined & h3 a[href],
	.links-underlined & h4 a[href],
	.links-underlined & h5 a[href],
	.links-underlined & h6 a[href] {
		border-bottom:2px rgba($tyfy-color-text-head-reverse,0.5) solid;
	}
	.links-underlined & a[href]:hover,
	.links-underlined & a[href]:active {
		border-bottom:2px $tyfy-color-link-active-reverse solid;
	}
	
	// quotes
  blockquote {
    &.pullquote {
      color:$tyfy-color-text-pullquote-reverse;
      &:before {
        color:$tyfy-color-text-light-reverse;
      }
      &:after {
        color:darken($tyfy-color-text-light-reverse,10%);
      }
    }
  }
}