// root styles
.reverse {
	color:$tyfy-color-text-body-reverse;

	// headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color:$tyfy-color-text-head-reverse;
	}
	
	// links
	a {
		color:$tyfy-color-text-body-reverse;
		&[href] {
			border-bottom-color:rgba($tyfy-color-link-default-reverse,0.5);
			color:$tyfy-color-link-default-reverse;
			&:hover,
			&:active {
				border-bottom-color:rgba($tyfy-color-link-active-reverse,0.5);
				color:$tyfy-color-link-active-reverse;
			}
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			color:$tyfy-color-text-head-reverse;
			&[href] {
				border-bottom-color:rgba($tyfy-color-text-head-reverse,0.5);
				color:$tyfy-color-text-head-reverse;
				&:hover,
				&:active {
					border-bottom-color:rgba($tyfy-color-link-active-reverse,0.5);
					color:$tyfy-color-link-active-reverse;
				}
			}
		}
	}
	
	// quotes
  blockquote {
    &.pullquote {
      color:$tyfy-color-text-pullquote-reverse;
      &:before {
        color:$tyfy-color-border-reverse;
      }
      &:after {
        color:$tyfy-color-border-reverse;
      }
    }
  }
}