* + .tabs-container {
	margin-top:2*$tyfy-grid-unit;
}
.tabs-container + h2,
.tabs-container + h3,
.tabs-container + h4,
.tabs-container + h5,
.tabs_container + h6 {
	margin-top:3*$tyfy-grid-unit;
}
.tabs-container {
	ul.tabs {
		align-items:stretch;
		border-bottom:2px rgba(black,0.2) solid;
		display:none;
		margin:0;
		padding:0;
	  @media (min-width:$tyfy-break-tabs) {
	    display:flex;
	  }
	  li {
	    background-color:rgba(black,0.05);
	    border:2px rgba(black,0.2) solid;
	    border-bottom:0;
	    border-radius:0.25rem 0.25rem 0 0;
	    cursor:pointer;
	    display:block;
	    flex:1;
	    font-family:$tyfy-font-heading;
	    margin:0 0 -2px 0;
	    padding:$tyfy-grid-unit 2*$tyfy-grid-unit;
	    text-align:center;
	    transition-duration:$tyfy-transition-duration-hover;
	    transition-property:background-color;
	    &:hover {
		    background-color:rgba(black,0.1);
	    }
	    &.open {
	      background-color:transparent;
	      border-bottom:2px rgba(white,0.7) solid;
	      font-weight:600;
	    }
	  }
	  li + li {
		  margin-top:0;
		  margin-left:$tyfy-grid-unit;
	  }
	}
	&.tabs-processed {
	  .tab-label {
	    background-color:transparent;
	    border:2px rgba(black,0.2) solid;
	    border-bottom:2px transparent solid;
	    clear:both;
	    cursor:pointer;
	    font-size:$tyfy-font-size-h3;
	    line-height:leading($tyfy-font-size-h3,heading);
	    margin:0;
	    padding:2*$tyfy-grid-unit 6*$tyfy-grid-unit $tyfy-grid-unit 2*$tyfy-grid-unit;
	    position:relative;
	    transition-duration:$tyfy-transition-duration-move;
	    transition-property:padding-top;
	    &:before {
	      border-radius:50%;
				content:unquote("\"#{ $fa-var-chevron-up }\"");
				font-family:$tyfy-symbol;
			  font-size:1rem;
			  font-style:normal;
			  font-weight:normal;
			  position:absolute;
			  right:2*$tyfy-grid-unit;
			  text-align:center;
			  top:2*$tyfy-grid-unit;
			  transition-duration:$tyfy-transition-duration-move;
			  transition-property:background-color,color,top;
			  transition-timing-function:ease-in-out;
			  width:leading($tyfy-font-size-h3,heading);
	    }
	    @media (min-width:$tyfy-break-tabs) {
	      display:none;
	    }
	    &.collapsed {
	      border-bottom:2px rgba(black,0.2) solid;
	      padding-top:$tyfy-grid-unit;
	      &:before {
			    content:unquote("\"#{ $fa-var-chevron-down }\"");
			    top:$tyfy-grid-unit;
	      }
	    }
	    &.transition {
	      border-bottom-color:transparent;
	      padding-top:$tyfy-grid-unit;
	      &:before {
		      top:$tyfy-grid-unit;
		    }
	    }
	    &.transition.collapsed {
	      padding-top:2*$tyfy-grid-unit;
	      &:before {
		      top:2*$tyfy-grid-unit;
		    }
	    } 
	    &:hover {
		    &:before {
			    background-color:$tyfy-color-link-active;
		      color:white;
		    }
	    }
	  }
	  * + .tab-label {
	    margin-top:2*$tyfy-grid-unit !important;
	  }
	  .tab-panel {
	    border:2px rgba(0,0,0,0.2) solid;
	    border-top:none;
	    border-radius:0 0 0.25rem 0.25rem;
	    overflow:hidden;
	    padding:$tyfy-grid-unit 2*$tyfy-grid-unit 2*$tyfy-grid-unit;
	    @media (min-width:$tyfy-break-tabs) {
	      display:none;
	      padding-top:2*$tyfy-grid-unit;
	    }
	    &.open {
	      display:block;
	    }
	    &.collapsed {
	      @media (max-width:$tyfy-break-tabs*0.9999) {
	        border:none;
	        height:1px;
	        padding-bottom:0;
	        padding-top:0;
	        position:absolute;
	      }
	    }
	  }
	}
}