// table basics
table {
  font-variant-numeric:lining-nums;
  font-feature-settings:"lnum";
  font-variant-numeric:tabular-nums;
  font-feature-settings:"tnum";
}
th {
  font-family:$tyfy-font-table;
  font-size:$tyfy-font-size-base;
  font-variant-numeric:lining-nums;
  font-feature-settings:"lnum";
  font-variant-numeric:tabular-nums;
  font-feature-settings:"tnum";
  line-height:leading($tyfy-font-size-base,base);
  text-align:left;
  vertical-align:top;
  &[scope="col"] {
    vertical-align:bottom;
  }
}
td {
  font-family:$tyfy-font-table;
  font-size:$tyfy-font-size-base;
  font-variant-numeric:lining-nums;
  font-feature-settings:"lnum";
  font-variant-numeric:tabular-nums;
  font-feature-settings:"tnum";
  line-height:leading($tyfy-font-size-base,base);
  vertical-align:top;
}

// plain table
table.clean {
  border-collapse:collapse;
  width:100%;
  td,
  th {
    border:none;
    margin:0;
    padding-top:0.5*$tyfy-grid-unit;
    padding-bottom:0.5*$tyfy-grid-unit;
  }
  * + td,
  * + th {
    padding-left:$tyfy-grid-unit;
  }
}

// zebra striped table
table.striped {
  td,
  th {
    padding-left:$tyfy-grid-unit;
    padding-right:grid-unit;
  }
  tr:nth-child(2n) {
    td {
      background-color:$tyfy-color-table-stripe;
    }
  }
}

// horizontal borders
table.horizontal-rules {
  border-top:1px $tyfy-color-border solid;
  td,
  th {
    border-bottom:1px $tyfy-color-border solid;
  }
  th[scope="col"] {
    border-bottom:2px $tyfy-color-border solid;
  }
}

// vertical borders
table.vertical-rules {
  border-left:1px $tyfy-color-border solid;
  td,
  th {
    border-right:1px $tyfy-color-border solid;
    padding-left:$tyfy-grid-unit;
    padding-right:$tyfy-grid-unit;
  }
  th[scope="row"] {
    border-right:2px $tyfy-color-border solid;
  }
}

// responsive table
table.responsive {
  thead,
  th {
    @media (max-width:$tyfy-break-table*0.9999) {
      @include visuallyhidden;
    }
  }
  tbody tr + tr {
    @media (max-width:$tyfy-break-table*0.9999) {
      border-top:1px $tyfy-color-border solid;
    }
  }
  td {
    @media (max-width:$tyfy-break-table*0.9999) {
      display:block;
      padding-left:9rem;
      position:relative;
    }
    .td-label {
      color:$tyfy-color-text-light;
      display:block;
			font-family:$tyfy-font-table;
      font-size:$tyfy-font-size-sm;
      left:0;
      position:absolute;
      vertical-align:top;
      width:8rem;
      @media (min-width:$tyfy-break-table) {
        display:none;
      }
    }
  }
}

// floated table
table {
	&.float-left,
	&.float-right {
		@media (min-width:$tyfy-break-floats) {
			box-sizing:border-box;
			margin-bottom:$tyfy-grid-unit;
			width:calc(50% - (2 * #{$tyfy-grid-unit}));
		}
	}
	&.float-left {
		@media (min-width:$tyfy-break-floats) {
			clear:left;
			float:left;
			margin-right:4*$tyfy-grid-unit;
		}
	}
	&.float-right {
		@media (min-width:$tyfy-break-floats) {
			clear:right;
			float:right;
			margin-left:4*$tyfy-grid-unit;
		}
	}
}
table.float-right + table.float-left {
	@media (min-width:$tyfy-break-floats) {
		margin-right:2*$tyfy-grid-unit;
	}
}
table.float-left + table.float-right {
	@media (min-width:$tyfy-break-floats) {
		margin-left:2*$tyfy-grid-unit;
	}
}