// tyfy core overrides
$tyfy-grid-unit:0.75rem;
$tyfy-leading-adjustment-tall:0.8;
$tyfy-leading-adjustment-base:0.9;
$tyfy-leading-adjustment-heading:1;
$tyfy-leading-adjustment-short:1.2;
$tyfy-font-size-scalar:1.25;
$tyfy-font-size-base:1.125rem;
$tyfy-serif:georgia, serif;
$tyfy-sans:helvetica, arial, sans-serif;
$tyfy-mono:monaco, courier, monospace;
$tyfy-symbol:tyfyicons;
$tyfy-color-background:white;
$tyfy-color-foreground:black;
$tyfy-color-primary:red;

// tyfy settings overrides
$tyfy-spacings: (
  "standard":2,
  "large":4,
);
$tyfy-indents: (
  "standard":3,
  "small":2,
);
$tyfy-margins-on: true;
$tyfy-font-base:$tyfy-serif;
$tyfy-font-heading:$tyfy-sans;
$tyfy-font-pullquote:$tyfy-serif;
$tyfy-font-table:$tyfy-sans;
$tyfy-font-sizes: (
  "sm":-1,
  "h6":-1,
  "h5":0,
  "h4":1,
  "h3":2,
  "h2":3,
  "h1":5,
  "pullquote":2,
  "lede":2
);
$tyfy-width-border:2px;
$tyfy-break-floats:40em;
$tyfy-break-pullquote-large:40em;
$tyfy-break-cols-2:50em;
$tyfy-break-list-cols-2:35em;
$tyfy-break-list-cols-3:55em;
$tyfy-break-list-cols-4:75em;
$tyfy-break-collapsables-pad:50em;
$tyfy-break-tabs:40em;
$tyfy-break-table:30em;
$tyfy-transition-duration-hover:0.25s;
$tyfy-transition-duration-move:0.5s;
$fades: (
  "500ms":500ms,
  "1s":1000ms,
  "2s":2000ms,
  "3s":3000ms
);
$tyfy-color-text-body:$tyfy-color-foreground;
$tyfy-color-text-head:mix($tyfy-color-foreground,$tyfy-color-background,95%);
$tyfy-color-text-light:mix($tyfy-color-foreground,$tyfy-color-background,45%);
$tyfy-color-text-code:mix($tyfy-color-foreground,$tyfy-color-primary,40%);
$tyfy-color-text-pullquote:adjust-hue($tyfy-color-primary,120deg);
$tyfy-color-link-default:mix($tyfy-color-primary,$tyfy-color-foreground,92%);
$tyfy-color-link-active:adjust-hue($tyfy-color-link-default,-120deg);
$tyfy-color-border:mix($tyfy-color-foreground,$tyfy-color-background,12%);
$tyfy-color-table-stripe:mix($tyfy-color-foreground,$tyfy-color-background,5%);
$tyfy-color-foreground-reverse:$tyfy-color-background;
$tyfy-color-background-reverse:$tyfy-color-foreground;
$tyfy-color-primary-reverse:ighten($tyfy-color-primary,30%);
$tyfy-color-text-body-reverse:white;
$tyfy-color-text-head-reverse:white;
$tyfy-color-text-light-reverse:mix(white,#333);
$tyfy-color-text-code-reverse:mix($tyfy-color-text-body-reverse,$tyfy-color-primary,60%);
$tyfy-color-text-pullquote-reverse:mix(adjust-hue($tyfy-color-primary,120deg),white);
$tyfy-color-link-default-reverse:mix($tyfy-color-primary,white);
$tyfy-color-link-active-reverse:adjust-hue($tyfy-color-link-default-reverse,-120deg);
$tyfy-color-border-reverse:mix(#333,white,85%);
$tyfy-color-table-stripe-reverse:mix(#333,white,95%);
$tyfyicons-path:"../dist/fonts/tyfyicons";
$tyfyicons-angle-down:"ea01";
$tyfyicons-angle-left:"ea02";
$tyfyicons-angle-right-small:"ea03";
$tyfyicons-angle-right:"ea04";
$tyfyicons-angle-up:"ea05";
$tyfyicons-bars:"ea06";
$tyfyicons-dash:"ea07";
$tyfyicons-facebook:"ea08";
$tyfyicons-instagram:"ea09";
$tyfyicons-linkedin:"ea0a";
$tyfyicons-quote-left:"ea0b";
$tyfyicons-quote-right:"ea0c";
$tyfyicons-search:"ea0d";
$tyfyicons-soundcloud:"ea0e";
$tyfyicons-twitter:"ea0f";
$tyfyicons-x:"ea10";
$tyfyicons-youtube:"ea11";
@import "tyfy.scss";
body {
  margin-left:auto;
  margin-right:auto;
  max-width:tygrid(60);
  padding:tygrid(2);
}