$tyfy-serif:"IBM Plex Serif", "Lucida Bright", lucidabright, "Lucida Serif", lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", georgia, serif;
$tyfy-sans:"IBM Plex Sans", frutiger, "Frutiger Linotype", univers, calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", tahoma, geneva, "Helvetica Neue", helvetica, arial, sans-serif;
$tyfy-mono:"IBM Plex Mono", consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
$tyfy-spacings: (
  "standard":2,
  "large":4,
);
$tyfyicons-path:"../../../dist/fonts/tyfyicons"; // do not add a trailing /
@import "tyfy.scss";
@import "extras/icons";
@import "extras/responsive_text";
@import "extras/reverse";

body {
  @include fade-in(2000ms);
  margin:0 0 tygrid(2) 0;
  padding:0;
}
.constrained {
  margin-left:auto;
  margin-right:auto;
  max-width:45em;
}
h1 {
  font-family:"IBM Plex Sans Condensed",sans-serif;
  text-transform:uppercase;
  small {
    font-size:tyscale(0);
    text-transform:none;
  }
  &.demo {
    font-family:"IBM Plex Sans",sans-serif;
    letter-spacing:0;
    text-transform:none;
  }
}
h2 small {
  font-size:tyscale(0);
}
hr.demo {
  margin-bottom:tygrid(1);
  margin-top:tygrid(1);
}
strong.tyfy {
  color:$tyfy-color-link-active;
  font-family:"IBM Plex Sans Condensed",sans-serif;
  letter-spacing: 0.075em;
  margin-right:-0.0375em;
  text-transform: uppercase;
}
header.brand {
  background:#333 url("../img/bg.gif");
  h1 {
    @extend .constrained;
    font-size:$tyfy-font-size-h3;
    line-height:tylead($tyfy-font-size-h3,heading);
    padding:tygrid(1) tygrid(2);
  }
  nav {
    @extend .constrained;
    padding:0 tygrid(2);
    h2 {
      font-size:$tyfy-font-size-h5;
      line-height:tylead($tyfy-font-size-h5,heading);
    }
    ul.list-grid-4 {
      display:flex;
      flex-wrap:wrap;
      font-family:"IBM Plex Sans",sans-serif;
      margin-top:tygrid(1);
      padding-bottom:tygrid(1);
      padding-left:0;
      li {
        @media (max-width:$tyfy-break-list-cols-2 * 0.9999) {
          box-sizing:border-box;
          width:calc(50% - #{(0.5 * $tyfy-spacing-large)});
          &:nth-child(2) {
            margin-top:0; // override of the default margin
          }
          &:nth-child(2n+1) {
            margin-right:$tyfy-spacing-large;
          }
        }
        a {
          border-top:$tyfy-width-border $tyfy-color-border-reverse solid;
          display:block;
          font-size:$tyfy-font-size-sm;
          padding-top:tygrid(0.5);
          padding-bottom:tygrid(0.5);
        }
      }
    }
    &.nav-processed {
      position:relative;
      h2 {
        cursor:pointer;
        height:tylead($tyfy-font-size-h3,heading);
        line-height:tylead($tyfy-font-size-h3,heading);
        overflow:hidden;
        position:absolute;
        right:tygrid(2);
        top:tygrid(-3);
        transition-duration:$tyfy-transition-duration-hover;
        transition-property:color;
        width:tylead($tyfy-font-size-h3,heading);
        &::before {
          content:tychar($tyfyicons-bars);
          display:block;
          font-family:$tyfy-symbol;
          height:tylead($tyfy-font-size-h3,heading);
          text-align:center;
          width:tylead($tyfy-font-size-h3,heading);
        }
        &:hover {
          color:$tyfy-color-link-active-reverse;
        }
      }
      ul {
        height:0;
        margin-top:0;
        overflow:hidden;
        padding-bottom:0;
      }
      &.nav-open {
        ul {
          height:auto;
          padding-bottom:tygrid(1);
        }
      }
    }
  }
}
section.main {
  @extend .constrained;
  margin-top:0;
  padding:$tyfy-spacing-standard;
}
.codebox-label {
  color:rgba(black,0.4);
  font-family:$tyfy-mono;
  font-size:tyscale(-2);
  height:0;
  line-height:3;
  padding-right:tygrid(1);
  position:relative;
  text-align:right;
  z-index:5;
}
.codebox-label + pre.codebox {
  margin-top:0;
}
pre.codebox {
  background-color:$tyfy-color-shade;
  border:$tyfy-width-border $tyfy-color-border solid;
  box-shadow:0 0 0.375rem rgba(0,0,0,0.05) inset;
  overflow:auto;
  padding:calc(#{tygrid(1)} - #{$tyfy-width-border});
  position:relative;
  @media (min-width:45em) {
    box-shadow:0 0 0.875rem rgba(0,0,0,0.05) inset;
    padding:calc(#{tygrid(2)} - #{$tyfy-width-border});
  }
  &.small {
    max-height:tygrid(16);
  }
  &.mini {
    max-height:tygrid(8);
    @media (min-width:45em) {
      box-shadow:0 0 0.375rem rgba(0,0,0,0.05) inset;
      padding:calc(#{tygrid(1)} - #{$tyfy-width-border});
    }
  }
  code {
    background-color:transparent;
    padding:0;
  }
}
figure.example {
  background-color:white;
  border:$tyfy-width-border $tyfy-color-border solid;
  margin-left:0;
  margin-right:0;
  padding:calc(#{tygrid(2)} - #{$tyfy-width-border});
}
pre.codebox + figure.example {
  border-top:none;
  margin-top:0;
}
dl dt {
  code {
    background-color:transparent;
    display:block;
    font-weight:normal;
    padding:0;
    em {
      font-style:normal;
      font-weight:bold;
    }
  }
  code + code {
    margin-top:0;
  }
}
nav.nav-inpage {
  box-sizing:border-box;
  display:none;
  margin-left:48em;
  position:fixed;
  width:9em;
  h2 {
    border-bottom:solid $tyfy-width-border $tyfy-color-border;
    margin-bottom:tygrid(1);
    padding-bottom:tygrid(1);
  }
  ul {
    font-size:tyscale(-1);
  }
  a[href] {
    border-bottom-style:none;
    border-bottom-width:0px;
    font-family:$tyfy-sans;
  }
  @media (min-width:70em) {
    display:block;
  }
}
#lists-demo {
  @include sibling-margins(off);
  border:$tyfy-width-border dashed $tyfy-color-shade;
  border-radius:tygrid(0.5);
  box-shadow:inset 0px 0px tygrid(2) rgba(0,0,0,0.05);
  display:flex;
  flex-wrap:wrap;
  padding:tygrid(1) tygrid(2);
  .form-control {
    display:block;
    padding-top:tygrid(1);
    padding-bottom:tygrid(1);
    label {
      width:11rem;
      &.disabled {
        color:$tyfy-color-text-light;
      }
    }
    &.form-control-type {
      @media (min-width:55em) {
        border-right:2px dashed darken($tyfy-color-background,10%);
      }
    }
    &.form-control-classes {
      display:flex;
      flex-wrap:wrap;
      @media (min-width:55em) {
        box-sizing:border-box;
        padding-left:$tyfy-spacing-standard;
        width:75%;
      }
      label {
        &:first-child {
          width:100%;
        }
      }
    }
  }
  label {
    display:block;
    font-weight:bold;
    &.option {
      font-weight:normal;
    }
  }
}
.grid-2 {
  @media (min-width:$tyfy-break-cols-2) {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:tygrid(2);
    & > *:nth-child(2) {
      margin-top:0;
    }
  }
}
footer {
  @extend .constrained;
  padding:tygrid(3) 0;
  p {
    color:$tyfy-color-text-light;
    font-size:$tyfy-font-size-sm;
    line-height:tylead($tyfy-font-size-sm,base);
  }
}