@import "fonts";
@import "colors";
@import "defaults";
@import "mixins";

body {
  animation:fadein 1s;
	margin:0 0 2*$grid-unit 0;
	padding:0;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.reverse {
	background-color:$color-text-body;
}

header.brand {
	h1 {
		font-size:$font-size-h3;
		@include calc-line-height($font-size-h3,$grid-unit);
		margin:0 auto;
		max-width:55rem;
		padding:$grid-unit 2*$grid-unit;
	}
}

section.main {
	margin:0 auto;
	max-width:55rem;
	padding:$grid-unit*2;
}
section.demo {
	background-color:lighten($color-text-body,90%);
	border:1px dashed lighten($color-text-body,70%);
	border-radius:1rem;
}
section.demo.reverse {
	background-color:$color-text-body;
	border:none;
}

footer {
	padding:4*$grid-unit 0 0 0;
	p {
		color:$color-text-light;
		font-size:$font-size-sm;
		@include calc-line-height($font-size-sm,$grid-unit);
		margin:0 auto;
		max-width:55rem;
		padding:$grid-unit 2*$grid-unit;
	}
}