@import "functions";
@import "variables";
@import "mixins";
@import "../../dist/fonts/league/stylesheet.css";
// thank you to the League of Movable Type for the use of the League Gothic font

body {
  animation:fadein 1s;
	margin:0 0 grid(2) 0;
	padding:0;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.reverse {
	background-color:#333;
}
.constrained {
	margin-left:auto;
	margin-right:auto;
	max-width:55rem;
}
h1 {
	font-family:"League Gothic";
	font-weight:400;
	text-transform:uppercase;
}
hr.demo {
	margin-bottom:grid(1);
	margin-top:grid(1);
}
strong.tyfy {
	color:adjust-hue($tyfy-color-primary,120deg);
}

header.brand {
	background:#333 url(../img/bg.gif);
	h1 {
		@extend .constrained;
		font-size:$tyfy-font-size-h3;
		line-height:leading($tyfy-font-size-h3,heading);
		padding:grid(1) grid(2);
	}
	nav {
		@extend .constrained;
		padding:0 2*$tyfy-grid-unit;
		h2 {
			font-size:$tyfy-font-size-h5;
			line-height:leading($tyfy-font-size-h5,heading);
		}
		ul {
			margin-left:-1*$tyfy-grid-unit;
			margin-right:-1*$tyfy-grid-unit;
			margin-top:$tyfy-grid-unit;
			padding-bottom:$tyfy-grid-unit;
			padding-left:0;
			li {
				margin:0;
				padding-left:$tyfy-grid-unit;
				padding-right:$tyfy-grid-unit;
				a {
					border-top:0.25*$tyfy-grid-unit rgba(white,0.05) solid;
					display:block;
					font-size:$tyfy-font-size-sm;
					padding-top:0.5*$tyfy-grid-unit;
					padding-bottom:0.5*$tyfy-grid-unit;
				}
			}
		}
		&.nav-processed {
			position:relative;
			h2 {
				cursor:pointer;
				height:leading($tyfy-font-size-h3,heading);
				line-height:leading($tyfy-font-size-h3,heading);
				overflow:hidden;
				position:absolute;
				right:2*$tyfy-grid-unit;
				top:-4*$tyfy-grid-unit;
				transition-duration:$tyfy-transition-duration-hover;
				transition-property:color;
				width:leading($tyfy-font-size-h3,heading);
				&:before {
					content:unquote("\"#{ $fa-var-bars }\"");
					display:block;
					font-family:$tyfy-symbol;
					height:leading($tyfy-font-size-h3,heading);
					text-align:center;
					width:leading($tyfy-font-size-h3,heading);
				}
				&:hover {
					color:$tyfy-color-link-active-reverse;
				}
			}
			ul {
				height:0;
				margin-top:0;
				overflow:hidden;
				padding-bottom:0;
			}
			&.nav-open {
				ul {
					height:auto;
					padding-bottom:$tyfy-grid-unit;
				}
			}
		}
	}
}

section.main {
	@extend .constrained;
	padding:grid(2);
}
section.demo {
	border:2px dashed darken($tyfy-color-background,10%);
	border-radius:grid(1);
	box-shadow:inset 0px 0px grid(2) rgba(0,0,0,0.05);
}
section.demo.reverse {
	border:none;
}

footer {
	padding:grid(4) 0 0 0;
	p {
		@extend .constrained;
		color:$tyfy-color-text-light;
		font-size:$tyfy-font-size-sm;
		line-height:leading($tyfy-font-size-sm,heading);
		padding:grid(1) grid(2);
	}
}