/* tyfy.docs.nav.main */ 
nav.nav-main {
  background-color: var(--tyfy-color-bg);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  /* Menu heading/button */
  h1 {
    all: unset;
    button {
      appearance: none;
      border: none;
      border-radius: 0;
      cursor: pointer;
      display: block;
      font-size: var(--tyfy-fs-base);
      line-height: calc(4 * var(--tyfy-vgu));
      margin: 0;
      padding: 0 var(--tyfy-hspace-md);
      position: absolute;
      right: 0;
      top: 0;
      @media (min-width: 70rem) {
        right: calc(50vw - 35rem);
      }
    }
  }

  /* Logo */
  .tyfy.logo {
    @media (min-width: 70rem) {
      margin-left: calc(50vw - 35rem);
    }
  }

  /* Basic list styles */
  ul {
    box-sizing: border-box;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 var(--tyfy-hspace-md);
    li {
      margin: 0;
      padding: 0;
    }
    a[href] {
      --tyfy-color-link: var(--tyfy-color-fg);
      --tyfy-color-link-decoration: transparent;
      border-top: var(--tyfy-border);
      display: block;
      font-size: var(--tyfy-fs-sm);
      font-weight: bold;
      line-height: round(up, var(--tyfy-fs-sm), var(--tyfy-vgu));
      padding: calc(var(--tyfy-vspace-sm) - var(--tyfy-width-border)) 0 var(--tyfy-vspace-sm) 0;
      position: relative;
    }
    ul {
      padding: 0 0 var(--tyfy-hspace-sm) 0;
      a[href] {
        border-top: none;
        font-weight: normal;
        padding: calc(var(--tyfy-vspace-sm)/2) var(--tyfy-hspace-sm);
      }
      &.megamenu {
        columns: 10rem auto;
      }
    }
  }
}
