@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@font-face {
  font-family: tyfyicons;
  src: url("../../../dist/fonts/tyfyicons/tyfyicons.eot");
  src: url("../../../dist/fonts/tyfyicons/tyfyicons.eot?#iefix") format("embedded-opentype"), url("../../../dist/fonts/tyfyicons/tyfyicons.woff2") format("woff2"), url("../../../dist/fonts/tyfyicons/tyfyicons.woff") format("woff"), url("../../../dist/fonts/tyfyicons/tyfyicons.ttf") format("truetype"), url("../../../dist/fonts/tyfyicons/tyfyicons.svg#tyfyicons") format("svg");
  font-style: normal;
  font-weight: 400; }

/* line 11, source/scss/extras/_icons.scss */
.tyfyicons {
  display: inline-block;
  font-family: tyfyicons;
  font-size: inherit;
  font-weight: 400;
  text-rendering: auto;
  transform: translate(0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/* line 24, source/scss/extras/_icons.scss */
.tyfyicons-lg {
  vertical-align: -15%;
  line-height: 0.75em;
  font-size: 1.33333333em; }

/* line 29, source/scss/extras/_icons.scss */
.tyfyicons-2x {
  font-size: 2em; }

/* line 32, source/scss/extras/_icons.scss */
.tyfyicons-3x {
  font-size: 3em; }

/* line 35, source/scss/extras/_icons.scss */
.tyfyicons-4x {
  font-size: 4em; }

/* line 38, source/scss/extras/_icons.scss */
.tyfyicons-5x {
  font-size: 5em; }

/* line 41, source/scss/extras/_icons.scss */
.tyfyicons-fw {
  width: 1.28571429em;
  text-align: center; }

/* line 45, source/scss/extras/_icons.scss */
.tyfyicons-angle-down::before {
  content: "\ea01"; }

/* line 48, source/scss/extras/_icons.scss */
.tyfyicons-angle-left::before {
  content: "\ea02"; }

/* line 51, source/scss/extras/_icons.scss */
.tyfyicons-angle-right::before {
  content: "\ea03"; }

/* line 54, source/scss/extras/_icons.scss */
.tyfyicons-angle-up-down::before {
  content: "\ea04"; }

/* line 57, source/scss/extras/_icons.scss */
.tyfyicons-angle-up::before {
  content: "\ea08"; }

/* line 60, source/scss/extras/_icons.scss */
.tyfyicons-bars::before {
  content: "\ea07"; }

/* line 63, source/scss/extras/_icons.scss */
.tyfyicons-check::before {
  content: "\ea05"; }

/* line 66, source/scss/extras/_icons.scss */
.tyfyicons-dash::before {
  content: "\ea06"; }

/* line 69, source/scss/extras/_icons.scss */
.tyfyicons-quote-left::before {
  content: "\ea0a"; }

/* line 72, source/scss/extras/_icons.scss */
.tyfyicons-quote-right::before {
  content: "\ea0b"; }

/* line 75, source/scss/extras/_icons.scss */
.tyfyicons-search::before {
  content: "\ea09"; }

/* line 78, source/scss/extras/_icons.scss */
.tyfyicons-x::before {
  content: "\ea0c"; }

@media (max-width: 39.996em) {
  /* line 8, source/scss/extras/_responsive_text.scss */
  body {
    font-size: 0.9rem;
    line-height: 1.75rem; } }

@media (min-width: 80em) {
  /* line 8, source/scss/extras/_responsive_text.scss */
  body {
    font-size: 1.11111rem;
    line-height: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 19, source/scss/extras/_responsive_text.scss */
  h1 {
    font-size: 2.48832rem;
    line-height: 2.625rem; } }

@media (min-width: 80em) {
  /* line 19, source/scss/extras/_responsive_text.scss */
  h1 {
    font-size: 3.58318rem;
    line-height: 4.375rem; } }

@media (max-width: 39.996em) {
  /* line 29, source/scss/extras/_responsive_text.scss */
  h2 {
    font-size: 1.728rem;
    line-height: 1.75rem; } }

@media (min-width: 80em) {
  /* line 29, source/scss/extras/_responsive_text.scss */
  h2 {
    font-size: 2.48832rem;
    line-height: 2.625rem; } }

@media (max-width: 39.996em) {
  /* line 39, source/scss/extras/_responsive_text.scss */
  h3 {
    font-size: 1.44rem;
    line-height: 1.75rem; } }

@media (min-width: 80em) {
  /* line 39, source/scss/extras/_responsive_text.scss */
  h3 {
    font-size: 2.0736rem;
    line-height: 2.625rem; } }

@media (max-width: 39.996em) {
  /* line 49, source/scss/extras/_responsive_text.scss */
  h4 {
    font-size: 1.2rem;
    line-height: 1.75rem; } }

@media (min-width: 80em) {
  /* line 49, source/scss/extras/_responsive_text.scss */
  h4 {
    font-size: 1.728rem;
    line-height: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 59, source/scss/extras/_responsive_text.scss */
  h5 {
    font-size: 1rem;
    line-height: 1.75rem; } }

@media (min-width: 80em) {
  /* line 59, source/scss/extras/_responsive_text.scss */
  h5 {
    font-size: 1.44rem;
    line-height: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 69, source/scss/extras/_responsive_text.scss */
  h6 {
    font-size: 0.83333rem;
    line-height: 0.875rem; } }

@media (min-width: 80em) {
  /* line 69, source/scss/extras/_responsive_text.scss */
  h6 {
    font-size: 1.2rem;
    line-height: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 79, source/scss/extras/_responsive_text.scss */
  pre,
  code,
  kbd,
  samp {
    font-size: 0.9rem; } }

@media (min-width: 80em) {
  /* line 79, source/scss/extras/_responsive_text.scss */
  pre,
  code,
  kbd,
  samp {
    font-size: 1.11111rem; } }

@media (max-width: 39.996em) {
  /* line 92, source/scss/extras/_responsive_text.scss */
  h2.collapsable-processed::before {
    width: 1.75rem; } }

@media (min-width: 80em) {
  /* line 92, source/scss/extras/_responsive_text.scss */
  h2.collapsable-processed::before {
    width: 2.625rem; } }

@media (max-width: 39.996em) {
  /* line 102, source/scss/extras/_responsive_text.scss */
  h3.collapsable-processed::before {
    width: 1.75rem; } }

@media (min-width: 80em) {
  /* line 102, source/scss/extras/_responsive_text.scss */
  h3.collapsable-processed::before {
    width: 2.625rem; } }

@media (max-width: 39.996em) {
  /* line 112, source/scss/extras/_responsive_text.scss */
  h4.collapsable-processed::before {
    width: 1.75rem; } }

@media (min-width: 80em) {
  /* line 112, source/scss/extras/_responsive_text.scss */
  h4.collapsable-processed::before {
    width: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 122, source/scss/extras/_responsive_text.scss */
  h5.collapsable-processed::before {
    width: 1.75rem; } }

@media (min-width: 80em) {
  /* line 122, source/scss/extras/_responsive_text.scss */
  h5.collapsable-processed::before {
    width: 1.75rem; } }

@media (max-width: 39.996em) {
  /* line 132, source/scss/extras/_responsive_text.scss */
  h6.collapsable-processed::before {
    width: 0.875rem; } }

@media (min-width: 80em) {
  /* line 132, source/scss/extras/_responsive_text.scss */
  h6.collapsable-processed::before {
    width: 1.75rem; } }

/* line 11, docs/resources/scss/tyfy-docs.scss */
body {
  animation: fadein 2000ms;
  font-family: "IBM Plex Serif", serif;
  margin: 0 0 1.75rem 0;
  padding: 0; }

/* line 17, docs/resources/scss/tyfy-docs.scss */
.reverse {
  background-color: #333; }

/* line 20, docs/resources/scss/tyfy-docs.scss */
.constrained, header.brand h1, header.brand nav, section.main, footer p {
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem; }

/* line 25, docs/resources/scss/tyfy-docs.scss */
h1 {
  font-family: "IBM Plex Sans Condensed",sans-serif;
  text-transform: uppercase; }
  /* line 28, docs/resources/scss/tyfy-docs.scss */
  h1 small {
    font-size: 1.2rem;
    text-transform: none; }

/* line 33, docs/resources/scss/tyfy-docs.scss */
h2, h3, h4, h5, h6, dt, td, th, select, input, textarea, label, button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-family: "IBM Plex Sans",sans-serif; }

/* line 36, docs/resources/scss/tyfy-docs.scss */
code {
  font-family: "IBM Plex Mono", monospace; }

/* line 39, docs/resources/scss/tyfy-docs.scss */
hr.demo {
  margin-bottom: 0.875rem;
  margin-top: 0.875rem; }

/* line 43, docs/resources/scss/tyfy-docs.scss */
strong.tyfy {
  color: #de4185; }

/* line 47, docs/resources/scss/tyfy-docs.scss */
header.brand {
  background: #333 url("../img/bg.gif"); }
  /* line 49, docs/resources/scss/tyfy-docs.scss */
  header.brand h1 {
    font-size: 1.728rem;
    line-height: 1.75rem;
    padding: 0.875rem 1.75rem; }
  /* line 55, docs/resources/scss/tyfy-docs.scss */
  header.brand nav {
    padding: 0 1.75rem; }
    /* line 58, docs/resources/scss/tyfy-docs.scss */
    header.brand nav h2 {
      font-size: 1.2rem;
      line-height: 1.75rem; }
    /* line 62, docs/resources/scss/tyfy-docs.scss */
    header.brand nav ul.list-grid-4 {
      display: flex;
      flex-wrap: wrap;
      font-family: "IBM Plex Sans",sans-serif;
      margin-top: 0.875rem;
      padding-bottom: 0.875rem;
      padding-left: 0; }
      @media (max-width: 34.9965em) {
        /* line 69, docs/resources/scss/tyfy-docs.scss */
        header.brand nav ul.list-grid-4 li {
          box-sizing: border-box;
          width: calc(50% - 1.3125rem); }
          /* line 73, docs/resources/scss/tyfy-docs.scss */
          header.brand nav ul.list-grid-4 li:nth-child(2) {
            margin-top: 0; }
          /* line 76, docs/resources/scss/tyfy-docs.scss */
          header.brand nav ul.list-grid-4 li:nth-child(2n+1) {
            margin-right: 2.625rem; } }
      /* line 80, docs/resources/scss/tyfy-docs.scss */
      header.brand nav ul.list-grid-4 li a {
        border-top: 0.21875rem rgba(255, 255, 255, 0.05) solid;
        display: block;
        font-size: 0.83333rem;
        padding-top: 0.4375rem;
        padding-bottom: 0.4375rem; }
    /* line 89, docs/resources/scss/tyfy-docs.scss */
    header.brand nav.nav-processed {
      position: relative; }
      /* line 91, docs/resources/scss/tyfy-docs.scss */
      header.brand nav.nav-processed h2 {
        cursor: pointer;
        height: 1.75rem;
        line-height: 1.75rem;
        overflow: hidden;
        position: absolute;
        right: 1.75rem;
        top: -2.625rem;
        transition-duration: 0.25s;
        transition-property: color;
        width: 1.75rem; }
        /* line 102, docs/resources/scss/tyfy-docs.scss */
        header.brand nav.nav-processed h2::before {
          content: "\ea07";
          display: block;
          font-family: tyfyicons;
          height: 1.75rem;
          text-align: center;
          width: 1.75rem; }
        /* line 110, docs/resources/scss/tyfy-docs.scss */
        header.brand nav.nav-processed h2:hover {
          color: #e699c0; }
      /* line 114, docs/resources/scss/tyfy-docs.scss */
      header.brand nav.nav-processed ul {
        height: 0;
        margin-top: 0;
        overflow: hidden;
        padding-bottom: 0; }
      /* line 121, docs/resources/scss/tyfy-docs.scss */
      header.brand nav.nav-processed.nav-open ul {
        height: auto;
        padding-bottom: 0.875rem; }

/* line 130, docs/resources/scss/tyfy-docs.scss */
section.main {
  margin-top: 0;
  padding: 1.75rem; }

/* line 135, docs/resources/scss/tyfy-docs.scss */
section.demo {
  border: 2px dashed #e6e6e6;
  border-radius: 0.875rem;
  box-shadow: inset 0px 0px 1.75rem rgba(0, 0, 0, 0.05);
  margin-top: 1.75rem; }

/* line 141, docs/resources/scss/tyfy-docs.scss */
section.demo.reverse {
  border: none; }

/* line 145, docs/resources/scss/tyfy-docs.scss */
#lists-demo {
  border: 2px dashed #e6e6e6;
  border-radius: 0.4375rem;
  box-shadow: inset 0px 0px 1.75rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  padding: 0.875rem 1.75rem; }
  /* line 72, source/scss/required/_mixins.scss */
  #lists-demo * + * {
    margin-top: 0rem; }
  /* line 60, source/scss/required/_mixins.scss */
  #lists-demo dl * + *, #lists-demo ol * + *, #lists-demo ul * + * {
    margin-top: 0rem; }
  /* line 65, source/scss/required/_mixins.scss */
  #lists-demo dl * + dd {
    margin-top: 0; }
  /* line 48, source/scss/required/_mixins.scss */
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
  #lists-demo :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
    margin-top: 0rem; }
  /* line 153, docs/resources/scss/tyfy-docs.scss */
  #lists-demo .form-control {
    display: block;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem; }
    /* line 157, docs/resources/scss/tyfy-docs.scss */
    #lists-demo .form-control label {
      width: 11rem; }
      /* line 159, docs/resources/scss/tyfy-docs.scss */
      #lists-demo .form-control label.disabled {
        color: #949494; }
    @media (min-width: 55em) {
      /* line 163, docs/resources/scss/tyfy-docs.scss */
      #lists-demo .form-control.form-control-type {
        border-right: 2px dashed #e6e6e6; } }
    /* line 168, docs/resources/scss/tyfy-docs.scss */
    #lists-demo .form-control.form-control-classes {
      display: flex;
      flex-wrap: wrap; }
      @media (min-width: 55em) {
        /* line 168, docs/resources/scss/tyfy-docs.scss */
        #lists-demo .form-control.form-control-classes {
          box-sizing: border-box;
          padding-left: 1.75rem;
          width: 75%; } }
      /* line 177, docs/resources/scss/tyfy-docs.scss */
      #lists-demo .form-control.form-control-classes label:first-child {
        width: 100%; }
  /* line 183, docs/resources/scss/tyfy-docs.scss */
  #lists-demo label {
    display: block;
    font-weight: bold; }
    /* line 186, docs/resources/scss/tyfy-docs.scss */
    #lists-demo label.option {
      font-weight: normal; }

/* line 193, docs/resources/scss/tyfy-docs.scss */
footer p {
  color: #949494;
  font-size: 0.83333rem;
  line-height: 0.875rem;
  padding: 0.875rem 1.75rem; }
