/* tyfy.tables.responsive */
@container (max-width: 29.9999999em) {
  table.responsive {
    display: block;
    thead {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px !important;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position:absolute;
      width: 1px !important;
    }
    tbody {
      display: grid;
      grid-template-columns: auto auto;
      tr {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/3;
      }
      tr + tr {
        border-top: var(--tyfy-border);
        margin-top: calc(var(--tyfy-margin-sm) - var(--tyfy-width-border));
      }
      th {
        grid-column: 1/3;
      }
      td {
        grid-column: 1/3;
        padding-left: 0;
        &[data-label] {
          display: grid;
          grid-template-columns: subgrid;
          &::before {
            content: attr(data-label);
            font-weight: bold;
            grid-column: 1/2;
            padding-right: var(--tyfy-hgu);
          }
        }
      }
    }
    &.hrules {
      tbody {
        tr th[scope="row"] {
          border-bottom: var(--tyfy-border-thick);
          padding-bottom: calc(var(--tyfy-vgu) - (2 * var(--tyfy-width-border)));
          padding-top: var(--tyfy-vgu);
        }
      }
    }
    &.striped,
    &.vrules {
      tbody {
        td {
          padding-left: var(--tyfy-hgu);
        }
      }
    }
    &.vrules {
      border-left: none;
      tbody {
        tr {
          border-left: var(--tyfy-border);
        }
        th[scope="row"] {
          border-right: var(--tyfy-border);
        }
      }
    }
  }
}
