/* tyfy.text */
code {
  background-color: var(--tyfy-color-bg-shaded);
  border-radius: 0.125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  &.code-nobg {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}
hr {
  border:none;
  border-top: var(--tyfy-width-border) var(--tyfy-color-border) solid;
  height: var(--tyfy-width-border);
}
small {
  font-size: calc(100% / var(--tyfy-fs-scalar)); // basically one scale step down from wherever we are
}
span {
  &.dropcap {
    display: inline-block;
    float: left;
    font-size: 400%;
    font-weight: bold;
    line-height: 100%;
    margin: 0 0.25em 0 0.125em;
    text-align: center;
  }
  &.smallcaps { // styles based on https://joeclark.org/standards/small-caps.html; I like the fake better
    font-size: smaller;
    letter-spacing: 0.075em;
    margin-right: -0.0375em;
    text-transform: uppercase;
  }
}
