/* tyfy.essentials.body */
body {
  background: var(--tyfy-color-bg);
  color: var(--tyfy-color-fg);
  font-size: var(--tyfy-font-size-base);
  line-height: round(up, var(--tyfy-font-size-base), var(--tyfy-grid-unit-vertical));
}
