/* tyfy.margins */
@scope (.tyfy-margins-on) to (.tyfy-margins-off) {
  :scope {
    --tyfy-margin-sm: calc(1 * var(--tyfy-vgu));
    --tyfy-margin-md: calc(2 * var(--tyfy-vgu));
    --tyfy-margin-lg: calc(3 * var(--tyfy-vgu));
    --tyfy-margin-blocks: var(--tyfy-margin-md);
    --tyfy-margin-headings: var(--tyfy-margin-lg);
    --tyfy-margin-lists: var(--tyfy-margin-sm);
  }
  p,ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd,li,figure,blockquote,hr {
    margin-bottom: unset;
    margin-top: unset;
  }
  :is(p,ul,ol,dl,h1,h2,h3,h4,h5,h6,figure,blockquote,hr,table) + :is(p,ul,ol,dl,figure,blockquote,table) {
    margin-top: var(--tyfy-margin-blocks);
  }
  :not(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
    margin-top: var(--tyfy-margin-headings);
  }
  :is(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
    margin-top: var(--tyfy-margin-sm);
  }
  ul, ol {
    * + *,
    ol,
    ul {
      margin-top: var(--tyfy-margin-lists);
    } 
  }
  dl {
    * + :not(dd) {
      margin-top: var(--tyfy-margin-lists);
    }
  }
  hr {
    margin-bottom: var(--tyfy-margin-lg);
    margin-top: var(--tyfy-margin-lg);
  }
}

.tyfy-margins-zero {
  .tyfy-margins-on & {
    --tyfy-margin-sm: 0;
    --tyfy-margin-md: 0;
    --tyfy-margin-lg: 0;
    --tyfy-margin-blocks: var(--tyfy-margin-md);
    --tyfy-margin-headings: var(--tyfy-margin-lg);
    --tyfy-margin-lists: var(--tyfy-margin-sm);
  }
  .tyfy-margins-off & {
    :is(p,ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd,li,figure,blockquote,hr) {
      margin-bottom: unset;
      margin-top: unset;
    }
  }
}
