/* tyfy.tables */
table {
  border-collapse: collapse;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "lnum", "tnum";
  width: 100%;
}
td,
th {
  border: none;
  margin: 0;
  padding-top: calc(0.5 * var(--tyfy-vgu));
  padding-bottom: calc(0.5 * var(--tyfy-vgu));
}
* + td,
* + th {
  padding-left: var(--tyfy-hgu);
}
th {
  text-align: left;
  vertical-align: top;
  &[scope="col"] {
    vertical-align: bottom;
  }
}
td {
  vertical-align: top;
}

table.striped {
  td,
  th {
    padding-left: var(--tyfy-hgu);
    padding-right: var(--tyfy-hgu);
  }
  th[scope="col"] {
    padding-bottom: var(--tyfy-vgu);
    padding-top: var(--tyfy-vgu);
  }
  tbody tr:nth-child(2n+1) {
    td,
    th {
      background-color: var(--tyfy-color-bg-shaded);
    }
  }
}

table.hrules {
  background-image: linear-gradient(90deg, var(--tyfy-color-border), var(--tyfy-color-border));
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% var(--tyfy-width-border);
  td,
  th {
    border-bottom: var(--tyfy-border);
    padding-bottom: calc(0.5 * (var(--tyfy-vgu) - var(--tyfy-width-border)));
    padding-top: calc(0.5 * (var(--tyfy-vgu) - var(--tyfy-width-border)));
  }
  th[scope="col"] {
    border-bottom: var(--tyfy-border-thick);
    padding-bottom: calc(var(--tyfy-vgu) - var(--tyfy-width-border));
    padding-top: calc(var(--tyfy-vgu) - var(--tyfy-width-border));
  }
}

table.vrules {
  border-left: var(--tyfy-border);
  td,
  th {
    border-right: var(--tyfy-border);
    padding-left: var(--tyfy-hgu);
    padding-right: var(--tyfy-hgu);
  }
  th[scope="row"] {
    border-right: var(--tyfy-border-thick);
  }
}

table.responsive {
  @container (max-width: 29.9999999em) {
    display: block;
  }
  thead {
    @container (max-width: 29.9999999em) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px !important;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position:absolute;
      width: 1px !important;
    }
  }
  tbody {
    @container (max-width: 29.9999999em) {
      display: grid;
      grid-template-columns: auto auto;
    }
    tr {
      @container (max-width: 29.9999999em) {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/3;
      }
    }
    tr + tr {
      @container (max-width: 29.9999999em) {
        border-top: calc(2 * var(--tyfy-width-border)) var(--tyfy-color-border) solid;
        margin-top: calc((0.5 * var(--tyfy-margin-sm)) - var(--tyfy-width-border));
        padding-top: calc((0.5 * var(--tyfy-margin-sm)) - var(--tyfy-width-border));
      }
    }
    th {
      @container (max-width: 29.9999999em) {
        grid-column: 1/3;
      }
    }
    td {
      @container (max-width: 29.9999999em) {
        grid-column: 1/3;
        padding-left: 0;
        &[data-label] {
          display: grid;
          grid-template-columns: subgrid;
          &::before {
            color: var(--tyfy-color-text-light);
            content: attr(data-label);
            font-weight: bold;
            grid-column: 1/2;
            padding-right: var(--tyfy-hgu);
          }
        }
      }
    }
  }
  &.hrules {
    @container (max-width: 29.9999999em) {
      tr:not(:last-child) td:last-child {
        border-bottom: none;
      }
    }
  }
  &.striped,
  &.vertical-rules {
    tbody {
      td,
      th {
        padding-left:tygrid(1);
        padding-right:tygrid(1);
      }
      td {
        .tyfy-td-label {
          left:tygrid(1);
        }
      }
    }
    thead {
      @media (max-width:$tybreak-table*0.9999) {
        & + tbody td {
          padding-left:calc(33% + #{tygrid(1)});
        }
      }
    }
  }
  &.vertical-rules {
    tbody {
      th[scope="row"] {
        @media (max-width:$tybreak-table*0.9999) {
          border-right:$tywidth-border var(--tycolor-border) solid;
        }
      }
    }
  }
}

// floated table
table {
  &.float-left,
  &.float-right {
    @media (min-width:$tybreak-float) {
      box-sizing:border-box;
      margin-bottom:tyspacing(md);
      width:calc(50% - #{tygrid(2)});
    }
  }
  &.float-left {
    @media (min-width:$tybreak-float) {
      clear:left;
      float:left;
      margin-right:tygrid(4);
    }
  }
  &.float-right {
    @media (min-width:$tybreak-float) {
      clear:right;
      float:right;
      margin-left:tygrid(4);
    }
  }
}
table.float-right + table.float-left {
  @media (min-width:$tybreak-float) {
    margin-right:tygrid(2);
  }
}
table.float-left + table.float-right {
  @media (min-width:$tybreak-float) {
    margin-left:tygrid(2);
  }
}