/* tyfy.tables */
table {
  border-collapse: collapse;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "lnum", "tnum";
  width: 100%;
}
td,
th {
  border: none;
  margin: 0;
  padding-top: calc(0.5 * var(--tyfy-vgu));
  padding-bottom: calc(0.5 * var(--tyfy-vgu));
}
* + td,
* + th {
  padding-left: var(--tyfy-hgu);
}
th {
  text-align: left;
  vertical-align: top;
  &[scope="col"] {
    vertical-align: bottom;
  }
}
td {
  vertical-align: top;
}

table.striped {
  td,
  th {
    padding-left: var(--tyfy-hgu);
    padding-right: var(--tyfy-hgu);
  }
  th[scope="col"] {
    padding-bottom: var(--tyfy-vgu);
    padding-top: var(--tyfy-vgu);
  }
  tbody tr:nth-child(2n+1) {
    td,
    th {
      background-color: var(--tyfy-color-bg-shaded);
    }
  }
}

table.hrules {
  position: relative;
  &::before {
    border-top: var(--tyfy-border);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  td,
  th {
    border-bottom: var(--tyfy-border);
    padding-bottom: calc(0.5 * (var(--tyfy-vgu) - var(--tyfy-width-border)));
    padding-top: calc(0.5 * (var(--tyfy-vgu) - var(--tyfy-width-border)));
  }
  th[scope="col"] {
    border-bottom: var(--tyfy-border-thick);
    padding-bottom: calc(var(--tyfy-vgu) - var(--tyfy-width-border));
    padding-top: calc(var(--tyfy-vgu) - var(--tyfy-width-border));
  }
}

table.vrules {
  border-left: var(--tyfy-border);
  td,
  th {
    border-right: var(--tyfy-border);
    padding-left: var(--tyfy-hgu);
    padding-right: var(--tyfy-hgu);
  }
  th[scope="row"] {
    border-right: var(--tyfy-border-thick);
  }
}
