/* tyfy.docs.brandname */
strong.tyfy {
  background: linear-gradient(var(--tyfy-color-active), var(--tyfy-color-link));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}