// collapsable areas
h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  background-color:transparent;
  border:2px $tyfy-color-border solid;
  border-bottom:2px transparent solid;
  clear:both;
  cursor:pointer;
  padding:grid(2) grid(6) grid(1) grid(2);
  position:relative;
  transition-duration:$tyfy-transition-duration-move;
  transition-property:padding-top;
  &:before {
    border-radius:50%;
    content:$tyfyicons-angle-up;
    font-family:$tyfy-symbol;
    font-size:$tyfy-font-size-base;
    font-style:normal;
    font-weight:normal;
    position:absolute;
    right:grid(2);
    text-align:center;
    top:grid(2);
    transition-duration:$tyfy-transition-duration-move;
    transition-property:background-color,color,top;
    transition-timing-function:ease-in-out;
    width:leading($tyfy-font-size-h2,heading);
  }
  &.closed {
    border-bottom:2px $tyfy-color-border solid;
    padding-top:grid(1);
    &:before {
      content:$tyfyicons-angle-down;
      top:grid(1);
    }
  }
  &.transition {
    padding-top:grid(1);
    &:before {
      top:grid(1);
    }
  }
  &.transition.closed {
	  border-bottom:2px transparent solid;
    padding-top:grid(2);
    &:before {
      top:grid(2);
    }
  }
  * + & {
	  margin-top:$tyfy-spacing-standard;
  }
}
h3.collapsable-processed {
  &:before {
    width:leading($tyfy-font-size-h3,heading);
  }
}
h4.collapsable-processed {
  &:before {
    width:leading($tyfy-font-size-h4,heading);
  }
}
h5.collapsable-processed {
  &:before {
    width:leading($tyfy-font-size-h5,heading);
  }
}
h6.collapsable-processed {
  &:before {
    width:leading($tyfy-font-size-h6,heading);
  }
}
h2.collapsable-processed,
h3.collapsable-processed,
h4.collapsable-processed,
h5.collapsable-processed,
h6.collapsable-processed {
  &:hover {
    &:before {
      background-color:$tyfy-color-link-active;
      color:white;
    }
  }
}

.collapsables {
  box-sizing:border-box;
  border:2px $tyfy-color-border solid;
  border-top:none !important;
  margin:0rem;
  overflow:hidden;
  padding:grid(1) grid(2) grid(2) grid(2);
  &.closed {
    border:none;
    height:1px;
    padding-bottom:0;
    padding-top:0;
    position:absolute;
  }
}
