// collapsable areas
h2.tyfy-collapsable-processed,
h3.tyfy-collapsable-processed,
h4.tyfy-collapsable-processed,
h5.tyfy-collapsable-processed,
h6.tyfy-collapsable-processed {
  background-color:transparent;
  clear:both;
  position:relative;
  button {
    all:unset;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    padding:0 tygrid(4) calc(#{tygrid(1)} - #{$tywidth-border}) 0;
    width:100%;
  }
  &::before {
    border-radius:50%;
    color:var(--tycolor-text-light);
    content:tychar($tyicons-angle-up);
    font-family:$tyfont-symbol;
    font-size:60%;
    font-style:normal;
    font-weight:normal;
    position:absolute;
    right:tygrid(0);
    text-align:center;
    top:tygrid(0);
    transition-duration:tyduration(move);
    transition-property:background-color,color,top,transform;
    transition-timing-function:ease-in-out;
    width:tylead(tyfont-size(h2),heading);
  }
  &.closed {
    &::before {
      transform:rotate(180deg);
    }
  }
  @media (min-width:$tybreak-collapsables) {
    button {
      border:$tywidth-border var(--tycolor-border) solid;
      border-bottom:none;
      padding:calc(#{tygrid(2)} - #{$tywidth-border}) calc(#{tygrid(6)} - #{$tywidth-border}) calc(#{tygrid(1)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border});
      transition-duration:tyduration(move);
      transition-property:padding-top;
      transition-timing-function:ease-in-out;
    }
    &::before {
      right:tygrid(2);
      top:tygrid(2);
    }
    &.closed {
      button {
        padding-top:calc(#{tygrid(1)} - #{$tywidth-border});
      }
      &::before {
        top:tygrid(1);
      }
    }
  }
  * + &,
  .tymargins-on * + & {
    margin-top:tyspacing(md);
  }
}
h3.tyfy-collapsable-processed {
  &::before {
    width:tylead(tyfont-size(h3),heading);
  }
}
h4.tyfy-collapsable-processed {
  &::before {
    width:tylead(tyfont-size(h4),heading);
  }
}
h5.tyfy-collapsable-processed {
  &::before {
    width:tylead(tyfont-size(h5),heading);
  }
}
h6.tyfy-collapsable-processed {
  &::before {
    width:tylead(tyfont-size(h6),heading);
  }
}
h2.tyfy-collapsable-processed,
h3.tyfy-collapsable-processed,
h4.tyfy-collapsable-processed,
h5.tyfy-collapsable-processed,
h6.tyfy-collapsable-processed {
  &:hover,
  &:focus,
  &:focus-within {
    &::before {
      background-color:var(--tycolor-link-active);
      color:var(--tycolor-bg);
    }
  }
}

.tyfy-collapsables {
  box-sizing:content-box;
  border-bottom:$tywidth-border var(--tycolor-border) solid;
  margin:0rem;
  overflow:hidden;
  padding:tygrid(1) 0 calc(#{tygrid(2)} - #{$tywidth-border}) 0;
  transition-duration:tyduration(move);
  transition-property:padding-top,padding-bottom,height;
  transition-timing-function:ease-in-out;
  @media (min-width:$tybreak-collapsables) {
    border:$tywidth-border var(--tycolor-border) solid;
    border-top:none !important;
    padding:calc(#{tygrid(1)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border});
  }
  &.closed {
    height:0 !important;
    padding-bottom:0;
    padding-top:0;
  }
  &.hiding > * {
    display:none;
  }
}
