// basic styles
fieldset {
  border-color:var(--tycolor-border);
  border-radius:$tyradius-border;
  border-style:solid;
  display:block;
  margin-left:0;
  margin-right:0;
  padding:calc(#{tygrid(1.5)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border});
  legend {
    font-family:$tyfont-input;
    font-size:tyscale(1);
    font-weight:bold;
    line-height:tylead(tyscale(1));
    margin-left:tygrid(-1);
    margin-right:tygrid(-1);
    padding-left:tygrid(1);
    padding-right:tygrid(1);
    & + * {
      margin-top:0;
    }
  }
}
button,
select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  box-sizing:border-box;
  display:block;
  font-size:100%;
  outline:none;
  max-width:100%;
}
label {
  display:block;
  font-weight:bold;
  &.label-option {
    font-weight:normal;
  }
  .label-option + &.label-option {
    margin-top:0;
  }
  &.label-inline {
    display:inline-block;
  }
  .label-inline + &.label-inline {
    margin-top:0;
    margin-left:tyspacing(sm);
  }
  form & + * {
    margin-top:tyspacing(md) / 2;
  }
}

// extended styles
select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color:var(--tycolor-bg);
  border-color:var(--tycolor-border);
  border-style:solid;
  border-radius:$tyradius-border;
  border-width:$tywidth-border;
  box-shadow:0 1px 1px rgba(0,0,0,0.1) inset;
  color:var(--tycolor-fg);
  font-family:$tyfont-input;
  line-height:tylead(tyscale(0));
  padding:calc(#{tygrid(0.75)} - #{$tywidth-border});
  transition:border-color tyduration(hover), box-shadow tyduration(hover);
  &:focus {
    border-color:var(--tycolor-link-active);
    box-shadow:0 1px 2px rgba(0,0,0,0.2) inset;
  }
}
select {
  @include tymargins(off);
  &:not([multiple]) {
    box-shadow:0 0 0 transparent;
  }
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include tybutton;
  border:none;
  display:inline-block;
  font-family:$tyfont-input;
  width:auto;
}
button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
  background-color: mix($tycolor-fg,$tycolor-bg,40%);
  cursor: not-allowed;
}

// special select styles
select {
  &:not([multiple]) {
    appearance:none;
    -webkit-appearance:none;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpolygon points='6 10 16 0 26 10 23 13 16 6 9 13' fill='#{encodecolor($tycolor-text-light)}'/%3E%3Cpolygon points='6 22 9 19 16 26 23 19 26 22 16 32' fill='#{encodecolor($tycolor-text-light)}'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:calc(100% - #{tygrid(0.5)}) center;
    background-size:tygrid(1.25) auto;
    padding-right:calc(#{tygrid(2.25)} - #{$tywidth-border});
  }
}

// checkboxes and radios
input[type="checkbox"] {
  appearance:none;
  -webkit-appearance:none;
  background-color:var(--tycolor-bg);
  border-color:var(--tycolor-border);
  border-style:solid;
  border-radius:$tyradius-border;
  border-width:$tywidth-border;
  display:inline-block;
  height:1.5em;
  transition:background-color tyduration(hover), border-color tyduration(hover), transform tyduration(hover);
  vertical-align:text-bottom;
  width:1.5em;
  &:checked {
    background-color:var(--tycolor-link-active);
    background-image:url("data:image/svg+xml;charset=ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-bg)}%22%20points%3D%2223%2056%2020.9401855%2053.9401855%200%2033%207%2026%2023%2042%2057%208%2064%2015%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
    background-repeat:no-repeat;
    background-position:center;
    background-size:tygrid(1) auto;
    border-color:var(--tycolor-link-active);
  }
  &:hover {
    border-color:var(--tycolor-link-active);
    transform:scale(1.1);
  }
  &:hover,
  &:focus {
    outline:none;
    box-shadow:0 0 0 tygrid(0.5) $tycolor-bg-tab-active;
  }
  &:focus {
    border-color:var(--tycolor-link-active);
  }
}
input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  background-color:var(--tycolor-bg);
  border-color:var(--tycolor-border);
  border-style:solid;
  border-radius:50%;
  border-width:$tywidth-border;
  display:inline-block;
  height:1.5em;
  transition:background-color tyduration(hover), border-color tyduration(hover), transform tyduration(hover);
  vertical-align:text-bottom;
  width:1.5em;
  &:checked {
    background-color:var(--tycolor-link-active);
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#{encodecolor($tycolor-bg)}'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    border-color:var(--tycolor-link-active);
  }
  &:hover {
    border-color:var(--tycolor-link-active);
    transform:scale(1.1);
  }
  &:hover,
  &:focus {
    outline:none;
    box-shadow:0 0 0 tygrid(0.5) $tycolor-bg-tab-active;
  }
  &:focus {
    border-color:var(--tycolor-link-active);
  }
}

// range input
input[type="range"] {
  -webkit-appearance:none !important;
  background-color:transparent;
  border:0;
  height:tygrid(2);
  min-width:tygrid(4);
  outline:none;
  position:relative;
  width:100%;
  &::before {
    background-color:var(--tycolor-border);
    border:0;
    border-radius:2px;
    content:"";
    display:block;
    height:4px;
    outline:none;
    position:absolute;
    top:calc(#{tygrid()} - 2px);
    width:100%;
    z-index:-1;
  }
  &::-moz-range-track {
    background-color:var(--tycolor-border);
    border:0;
    border-radius:2px;
    height:4px;
    outline:none;
    width:100%;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance:none;
    background-color:var(--tycolor-bg);
    border:4px var(--tycolor-link-active) solid;
    border-radius:tygrid(0.5);
    box-sizing:border-box;
    height:tygrid(2);
    width:tygrid(2);
  }
  &::-moz-range-thumb {
    -webkit-appearance:none;
    background-color:var(--tycolor-bg);
    border:4px var(--tycolor-link-active) solid;
    border-radius:tygrid(0.5);
    box-sizing:border-box;
    height:tygrid(2);
    width:tygrid(2);
  }
  &::-moz-range-progress {
    -webkit-appearance:none !important;
    height:4px;
    background-color:var(--tycolor-link-active);
    border-radius:2px;
  }
}
