a {
  color:var(--tyfy-color-foreground);
  text-decoration:none;
  transition-duration:$tyfy-transition-duration-hover;
  transition-property:background-color,border-color,color;
  &[href] {
    border-bottom-color:var(--tyfy-color-border-link-default);
    color:var(--tyfy-color-link-default);
    &:hover,
    &:active {
      border-bottom-color:var(--tyfy-color-border-link-active);
      color:var(--tyfy-color-link-active);
    }
  }
  .links-underlined & {
    &[href] {
      border-bottom-style:solid;
      border-bottom-width:$tyfy-width-border;
    }
  }
  &[href].button {
    @include button;
  }
  &[href].button-outline {
    @include button-outline;
  }
}