a {
  color:var(--tycolor-fg);
  text-decoration:none;
  transition-duration:tyduration(hover);
  transition-property:background-color,border-color,color;
  &[href] {
    border-bottom-color:var(--tycolor-border-link-default);
    color:var(--tycolor-link-default);
    &:hover,
    &:active {
      border-bottom-color:var(--tycolor-border-link-active);
      color:var(--tycolor-link-active);
    }
  }
  .links-underlined & {
    &[href] {
      border-bottom-style:solid;
      border-bottom-width:$tywidth-border;
    }
  }
  .links-notunderlined & {
    &[href] {
      border-bottom-style:none;
      border-bottom-width:0;
    }
  }
  &[href].tybutton {
    @include tybutton;
  }
  &[href].tybutton-outline {
    @include tybutton-outline;
  }
}