// default lists
ol,
ul {
  padding-left:$tyfy-indent-standard;
}
dt {
  font-weight:700;
}
dd {
  margin-left:0;
  margin-right:0;
  padding-left:$tyfy-indent-standard;
}

// nested lists
ol, ul {
  ol, ul {
    margin-top:$tyfy-spacing-standard/2;
  }
  .sibling-margins-off &,
  &.sibling-margins-off {
    ol, ul {
      margin-top:0;
    }
  }
}

// unordered list variations
ul {
  &.list-icons {
    li {
      list-style-type:none;
      position:relative;
      &::before {
        color:$tyfy-color-text-light;
        font-family:$tyfy-symbol;
        margin-right:grid(0.5);
        position:absolute;
        right:100%;
        top:0;
      }
    }
    &.list-icons-angle li::before {
      content:charcode($tyfyicons-angle-right-small);
    }
  }
  &.list-nobullet {
    padding-left:0;
    li {
      list-style-type:none;
    }
    &.list-cols-2,
    &.list-cols-3 {
      @media (min-width:$tyfy-break-list-cols-2) {
        li {
          margin-left:0;
        }
      }
    }
  }
  &.list-indented {
    li {
      padding-left:$tyfy-indent-standard;
      text-indent:-1 * $tyfy-indent-standard;
    }
    ol, ul {
      margin-left:-1 * $tyfy-indent-standard;
    }
  }
}

// ordered and unordered list variations
ol,
ul {
  &.list-cols-2,
  &.list-cols-3 {
    @media (min-width:$tyfy-break-list-cols-2) {
      @include sibling-margins(off);
      columns:2;
      column-gap:$tyfy-spacing-large;
      margin-bottom:grid(-1); // to balance out the bottom padding on the list items
      padding-left:0;
      li {
        -webkit-column-break-inside:avoid;
        page-break-inside:avoid;
        break-inside:avoid;
        margin-left:$tyfy-indent-standard;
        padding-bottom:grid(1);
      }
      &.sibling-margins-off,
      .sibling-margins-off & {
        li {
          padding-bottom:0;
        }
      }
    }
  }
  &.list-cols-3 {
    @media (min-width:$tyfy-break-list-cols-3) {
      columns:3;
    }
  }
  
  // TODO: a flexbox version of this, falling back to floats by checking for flexbox with modernizer
  &.list-grid-2,
  &.list-grid-3,
  &.list-grid-4 {
    @media (min-width:$tyfy-break-list-cols-2) {
      @include clearfix;
      li {
        box-sizing:border-box;
        float:left;
        padding-right:$tyfy-indent-standard; // to balance the left padding and make the columns centered in the body
        width:50%;
        &:nth-child(2) {
          margin-top:0; // override of the default margin
        }
        &:nth-child(2n+1) {
          clear:left; // to make sure each new row begins properly even when list items are not all the same height
        }
      }
    }
  }
  &.list-grid-3,
  &.list-grid-4 {
    @media (min-width:$tyfy-break-list-cols-3) {
      li {
        width:33.333%;
        &:nth-child(3) {
          margin-top:0; // override of the default margin
        }
        &:nth-child(2n+1) {
          clear:none; // override the 2 column style
        }
        &:nth-child(3n+1) {
          clear:left; // to make sure each new row begins properly even when list items are not all the same height
        }
      }
    }
  }
  &.list-grid-4 {
    @media (min-width:$tyfy-break-list-cols-4) {
      li {
        width:25%;
        &:nth-child(4) {
          margin-top:0; // override of the default margin
        }
        &:nth-child(3n+1) {
          clear:none; // override the 3 column style
        }
        &:nth-child(4n+1) {
          clear:left; // to make sure each new row begins properly even when list items are not all the same height
        }
      }
    }
  }
}

// TODO: definition lists