blockquote {
  font-style:italic;
  margin-left:tyspacing(md);
  margin-right:tyspacing(md);
  @media (min-width:$tybreak-quote) {
    margin-left:tyspacing(lg);
    margin-right:tyspacing(lg);
  }
  p {
    font-style:italic;
  }
  &.pullquote {
    background-color:transparent;
    border:none;
    font-size:tyfont-size(quote);
    line-height:tylead(tyfont-size(quote),tall);
    margin-left:0;
    margin-right:0;
    position:relative;
    text-align:center;
    p {
      font-size:tyfont-size(quote);
      line-height:tylead(tyfont-size(quote),tall);
    }
    cite {
      display:block;
      font-size:tyfont-size(sm);
      font-style:normal;
      line-height:tylead(tyfont-size(sm),tall);
    }
    * + cite {
      margin-top:tygrid(1);
    }
    &.pullquote-roof-fixed::before,
    &.pullquote-roof-full::before {
      background-image:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%201920%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22#{encodecolor($tycolor-border)}%22%3E%3Cpolygon%20points%3D%220%2028%20936%2028%20936%2032%200%2032%22%3E%3C%2Fpolygon%3E%3Cpolygon%20points%3D%22984%2028%201920%2028%201920%2032%20984%2032%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size:auto 64px;
      background-position:center center;
      background-repeat:no-repeat;
      color:var(--tycolor-border);
      content:'”';
      display:block;
      font-size:tygrid(6);
      font-style:normal;
      font-weight:normal;
      line-height:tygrid(3);
      margin:tygrid(-1) 0;
      padding-top:tygrid(3);
      text-align:center;
    }
    &.pullquote-roof-fixed::before {
      margin-left:auto;
      margin-right:auto;
      max-width:tygrid(25);
    }
    &.float-left,
    &.float-right {
      @media (min-width:$tybreak-float) {
        box-sizing:border-box;
        text-align:left;
        margin-bottom:tyspacing(md);
        width:calc(50% - #{tyspacing(md)});
        &:first-child + * {
          margin-top:0;
        }
      }
    }
    &.float-left {
      @media (min-width:$tybreak-float) {
        clear:left;
        float:left;
        margin-left:0;
        margin-right:2 * tyspacing(md);
      }
    }
    &.float-right {
      @media (min-width:$tybreak-float) {
        clear:right;
        float:right;
        margin-left:2 * tyspacing(md);
        margin-right:0;
      }
    }
  }
}