// root styles
.reverse {
  --tycolor-bg:                   #{$tycolor-bg-rev};
  --tycolor-bg-tab-active:        #{$tycolor-bg-tab-active-rev};
  --tycolor-fg:                   #{$tycolor-fg-rev};
  --tycolor-text-light:           #{$tycolor-text-light-rev};
  --tycolor-link-default:         #{$tycolor-link-default-rev};
  --tycolor-link-active:          #{$tycolor-link-active-rev};
  --tycolor-border:               #{$tycolor-border-rev};
  --tycolor-border-link-default:  #{$tycolor-border-link-default-rev};
  --tycolor-border-link-active:   #{$tycolor-border-link-active-rev};
  --tycolor-shade:                #{$tycolor-shade-rev};

  // buttons
  .button,
  a.button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include button($tycolor-link-default-rev,$tycolor-link-active-rev);
  }
  .button-outline,
  a.button-outline {
    @include button-outline($tycolor-link-default-rev,$tycolor-link-active-rev);
  }
  

  // quotes
  blockquote {
    &.pullquote-roof-fixed::before,
    &.pullquote-roof-full::before {
      background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20viewBox%3D%220%200%201920%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22#{$tycolor-border-rev}%22%3E%3Cpolygon%20points%3D%220%2028%20936%2028%20936%2032%200%2032%22%3E%3C%2Fpolygon%3E%3Cpolygon%20points%3D%22984%2028%201920%2028%201920%2032%20984%2032%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
  }
  .tyfy-select select,
  select.tyfy-select {
    &:not([multiple]) {
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpolygon points='6 10 16 0 26 10 23 13 16 6 9 13' fill='#{$tycolor-text-light-rev}'/%3E%3Cpolygon points='6 22 9 19 16 26 23 19 26 22 16 32' fill='#{$tycolor-text-light-rev}'/%3E%3C/svg%3E");
    }
  }
}