// table basics
table {
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
}
th {
  font-family:$tyfont-table;
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
  text-align:left;
  vertical-align:top;
  &[scope="col"] {
    vertical-align:bottom;
  }
}
td {
  font-family:$tyfont-table;
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
  vertical-align:top;
}

// plain table
table.clean {
  border-collapse:collapse;
  width:100%;
  td,
  th {
    border:none;
    margin:0;
    padding-top:tygrid(0.5);
    padding-bottom:tygrid(0.5);
  }
  * + td,
  * + th {
    padding-left:tygrid(1);
  }
}

// zebra striped table
table.striped {
  td,
  th {
    padding-left:tygrid(1);
    padding-right:tygrid(1);
  }
  tbody tr:nth-child(2n+1) {
    td,
    th {
      background-color:var(--tycolor-shade);
    }
  }
}

// horizontal borders
table.horizontal-rules {
  border-top:$tywidth-border var(--tycolor-border) solid;
  td,
  th {
    border-bottom:$tywidth-border var(--tycolor-border) solid;
  }
  th[scope="col"] {
    border-bottom:(3 * $tywidth-border) var(--tycolor-border) double;
  }
}

// vertical borders
table.vertical-rules {
  border-left:$tywidth-border var(--tycolor-border) solid;
  td,
  th {
    border-right:$tywidth-border var(--tycolor-border) solid;
    padding-left:tygrid(1);
    padding-right:tygrid(1);
  }
  th[scope="row"] {
    border-right:(3 * $tywidth-border) var(--tycolor-border) double;
  }
}

// responsive table
table.responsive {
  thead {
    @media (max-width:$tybreak-table*0.9999) {
      @include tyhidden;
      & + tbody td {
        padding-left:33%;
      }
    }
  }
  tbody {
    tr {
      @media (max-width:$tybreak-table*0.9999) {
        display:block;
      }
    }
    tr + tr {
      @media (max-width:$tybreak-table*0.9999) {
        border-top:$tywidth-border var(--tycolor-border) solid;
        margin-top:$tywidth-border;
      }
    }
    th {
      @media (max-width:$tybreak-table*0.9999) {
        display:block;
        padding-left:0;
      }
    }
    td {
      @media (max-width:$tybreak-table*0.9999) {
        display:block;
        padding-left:0;
        position:relative;
      }
      .tyfy-td-label {
        color:var(--tycolor-text-light);
        display:block;
        font-family:$tyfont-table;
        font-size:tyfont-size(sm);
        left:0;
        position:absolute;
        width:calc(33% - #{tygrid()});
        @media (min-width:$tybreak-table) {
          display:none;
        }
      }
      .tyfy-td-label + * {
        margin-top:inherit;
      }
    }
  }
  &.striped,
  &.vertical-rules {
    tbody {
      td,
      th {
        padding-left:tygrid(1);
        padding-right:tygrid(1);
      }
      td {
        .tyfy-td-label {
          left:tygrid(1);
        }
      }
    }
    thead {
      @media (max-width:$tybreak-table*0.9999) {
        & + tbody td {
          padding-left:calc(33% + #{tygrid(1)});
        }
      }
    }
  }
  &.vertical-rules {
    tbody {
      th[scope="row"] {
        @media (max-width:$tybreak-table*0.9999) {
          border-right:$tywidth-border var(--tycolor-border) solid;
        }
      }
    }
  }
}

// floated table
table {
  &.float-left,
  &.float-right {
    @media (min-width:$tybreak-float) {
      box-sizing:border-box;
      margin-bottom:tyspacing(md);
      width:calc(50% - #{tygrid(2)});
    }
  }
  &.float-left {
    @media (min-width:$tybreak-float) {
      clear:left;
      float:left;
      margin-right:tygrid(4);
    }
  }
  &.float-right {
    @media (min-width:$tybreak-float) {
      clear:right;
      float:right;
      margin-left:tygrid(4);
    }
  }
}
table.float-right + table.float-left {
  @media (min-width:$tybreak-float) {
    margin-right:tygrid(2);
  }
}
table.float-left + table.float-right {
  @media (min-width:$tybreak-float) {
    margin-left:tygrid(2);
  }
}