* + .tabs-container {
  margin-top:tyspacing(md);
}
.tabs-container + h2,
.tabs-container + h3,
.tabs-container + h4,
.tabs-container + h5,
.tabs_container + h6 {
  margin-top:tyspacing(lg);
}
.tabs-container {
  ul.tabs {
    @include tymargins(off);
    align-items:stretch;
    border-bottom:$tywidth-border var(--tycolor-border) solid;
    display:none;
    margin:0;
    padding:0;
    @media (min-width:$tybreak-tabs) {
      display:flex;
    }
    li + li {
      margin-left:tygrid(1);
    }
    li {
      background-color:var(--tycolor-shade);
      border:$tywidth-border var(--tycolor-border) solid;
      border-radius:$tyradius-border $tyradius-border 0 0;
      color:var(--tycolor-text-light);
      cursor:pointer;
      display:block;
      flex:1;
      font-family:$tyfont-heading;
      margin:0 0 ($tywidth-border * -1) 0;
      padding:calc(#{tygrid(1)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border});
      text-align:center;
      transition-duration:tyduration(hover);
      transition-property:background-color;
      &:hover {
        background-color:var(--tycolor-bg-tab-active);
        color:var(--tycolor-link-active);
      }
      &.open {
        background-color:var(--tycolor-bg);
        border-bottom:$tywidth-border var(--tycolor-bg) solid;
        color:var(--tycolor-fg);
        font-weight:600;
      }
    }
  }
  &.tyfy-tabs-processed {
    * + .tab-label {
      margin-top:tyspacing(md);
    }
    .tab-label {
      background-color:transparent;
      clear:both;
      cursor:pointer;
      font-size:tyfont-size(h3);
      line-height:tylead(tyfont-size(h3),heading);
      padding:0 tygrid(4) calc(#{tygrid(1)} - #{$tywidth-border}) 0;
      position:relative;
      transition-duration:tyduration(move);
      transition-property:background-color,color,top,transform;
      transition-timing-function:ease-in-out;
      &::before {
        border-radius:50%;
        color:var(--tycolor-text-light);
        content:tychar($tyicons-angle-up);
        font-family:$tyfont-symbol;
        font-size:60%;
        font-style:normal;
        font-weight:normal;
        position:absolute;
        right:0;
        text-align:center;
        top:0;
        transition-duration:tyduration(move);
        transition-property:background-color,color,top;
        transition-timing-function:ease-in-out;
        width:tylead(tyfont-size(h3),heading);
      }
      @media (min-width:$tybreak-tabs) {
        display:none;
      }
      &.closed {
        &::before {
          transform:rotate(180deg);
        }
      }
      &:hover {
        &::before {
          background-color:var(--tycolor-link-active);
          color:var(--tycolor-bg);
        }
      }
    }
    .tab-panel {
      box-sizing:content-box;
      border-bottom:$tywidth-border var(--tycolor-border) solid;
      overflow:hidden;
      margin-top:0;
      padding:tygrid(1) 0 calc(#{tygrid(2)} - #{$tywidth-border}) 0;
      transition-duration:tyduration(move);
      transition-property:padding-top,padding-bottom,height;
      transition-timing-function:ease-in-out;
      @media (min-width:$tybreak-tabs) {
        border:$tywidth-border var(--tycolor-border) solid;
        border-radius:0 0 $tyradius-border $tyradius-border;
        border-top:none;
        display:none;
        padding:tygrid(2) calc(#{tygrid(2)} - #{$tywidth-border}) calc(#{tygrid(2)} - #{$tywidth-border});
      }
      &.open {
        @media (min-width:$tybreak-tabs) {
          display:block;
        }
      }
      &.closed {
        @media (max-width:$tybreak-tabs*0.9999) {
          height:0 !important;
          padding-bottom:0;
          padding-top:0;
        }
      }
    }
  }
}