// table basics
table {
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
}
th {
  font-family:$tyfy-font-table;
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
  text-align:left;
  vertical-align:top;
  &[scope="col"] {
    vertical-align:bottom;
  }
}
td {
  font-family:$tyfy-font-table;
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
  vertical-align:top;
}

// plain table
table.clean {
  border-collapse:collapse;
  width:100%;
  td,
  th {
    border:none;
    margin:0;
    padding-top:tygrid(0.5);
    padding-bottom:tygrid(0.5);
  }
  * + td,
  * + th {
    padding-left:tygrid(1);
  }
}

// zebra striped table
table.striped {
  td,
  th {
    padding-left:tygrid(1);
    padding-right:tygrid(1);
  }
  tbody tr:nth-child(2n+1) {
    td,
    th {
      background-color:var(--tycolor-shade);
    }
  }
}

// horizontal borders
table.horizontal-rules {
  border-top:$tyfy-width-border var(--tycolor-border) solid;
  td,
  th {
    border-bottom:$tyfy-width-border var(--tycolor-border) solid;
  }
  th[scope="col"] {
    border-bottom:(3 * $tyfy-width-border) var(--tycolor-border) double;
  }
}

// vertical borders
table.vertical-rules {
  border-left:$tyfy-width-border var(--tycolor-border) solid;
  td,
  th {
    border-right:$tyfy-width-border var(--tycolor-border) solid;
    padding-left:tygrid(1);
    padding-right:tygrid(1);
  }
  th[scope="row"] {
    border-right:(3 * $tyfy-width-border) var(--tycolor-border) double;
  }
}

// responsive table
table.responsive {
  thead {
    @media (max-width:$tyfy-break-table*0.9999) {
      @include visuallyhidden;
      & + tbody td {
        padding-left:33%;
      }
    }
  }
  tbody {
    tr {
      @media (max-width:$tyfy-break-table*0.9999) {
        display:block;
      }
    }
    tr + tr {
      @media (max-width:$tyfy-break-table*0.9999) {
        border-top:$tyfy-width-border var(--tycolor-border) solid;
        margin-top:$tyfy-width-border;
      }
    }
    th {
      @media (max-width:$tyfy-break-table*0.9999) {
        display:block;
        padding-left:0;
      }
    }
    td {
      @media (max-width:$tyfy-break-table*0.9999) {
        display:block;
        padding-left:0;
        position:relative;
      }
      .td-label {
        color:var(--tycolor-text-light);
        display:block;
        font-family:$tyfy-font-table;
        font-size:$tyfy-font-size-sm;
        left:0;
        position:absolute;
        vertical-align:top;
        width:calc(33% - #{tygrid()});
        @media (min-width:$tyfy-break-table) {
          display:none;
        }
      }
    }
  }
}

// floated table
table {
  &.float-left,
  &.float-right {
    @media (min-width:$tyfy-break-floats) {
      box-sizing:border-box;
      margin-bottom:$tyfy-spacing-standard;
      width:calc(50% - #{tygrid(2)});
    }
  }
  &.float-left {
    @media (min-width:$tyfy-break-floats) {
      clear:left;
      float:left;
      margin-right:tygrid(4);
    }
  }
  &.float-right {
    @media (min-width:$tyfy-break-floats) {
      clear:right;
      float:right;
      margin-left:tygrid(4);
    }
  }
}
table.float-right + table.float-left {
  @media (min-width:$tyfy-break-floats) {
    margin-right:tygrid(2);
  }
}
table.float-left + table.float-right {
  @media (min-width:$tyfy-break-floats) {
    margin-left:tygrid(2);
  }
}