b {
  font-weight:700;
}
code {
  background-color:var(--tycolor-shade);
  border-radius:0.125em;
  font-family:$tyfont-mono;
  padding-left:0.125em;
  padding-right:0.125em;
  &.code-nobg {
    background-color:transparent;
    padding-left:0;
    padding-right:0;
  }
}
em {
  font-style:italic;
}
hr {
  border:none;
  border-top:$tywidth-border var(--tycolor-border) solid;
  height:0;
  @if $tymargins-on {
    margin-bottom:tyspacing(lg);
    margin-top:tyspacing(lg);
  }
  .tymargins-off & {
    margin-bottom:0;
    margin-top:0;
  }
  .tymargins-skip > & {
    margin-bottom:0;
    margin-top:0;
  }
  .tymargins-on & {
    margin-bottom:tyspacing(lg);
    margin-top:tyspacing(lg);
  }
}
i {
  font-style:italic;
}
pre {
  font-family:$tyfont-mono;
}
small {
  font-size:100%/$tyfont-size-scalar; // basically one scale step down from wherever we are
}
strong {
  font-weight:700;
}
span {
  &.dropcap {
    display:inline-block;
    float:left;
    font-size:400%;
    font-weight:bold;
    line-height:100%;
    margin:0 0.25em 0 0.125em;
    text-align:center;
  }
  &.smallcaps { // styles based on https://joeclark.org/standards/small-caps.html; I like the fake better
    font-size:smaller;
    letter-spacing:0.075em;
    margin-right:-0.0375em;
    text-transform:uppercase;
  }
}
.tybutton {
  @include tybutton;
}
.tybutton-outline {
  @include tybutton-outline;
}
.tyfont-sans {
  font-family:$tyfont-sans;
}
.tyfont-serif {
  font-family:$tyfont-serif;
}
.tyfont-mono {
  font-family:$tyfont-mono;
}
.light {
  color:var(--tycolor-text-light);
}