b {
  font-weight:700;
}
code {
  background-color:rgba($tyfy-color-foreground,0.07);
  border-radius:0.125em;
  font-family:$tyfy-mono;
  padding-left:0.125em;
  padding-right:0.125em;
  &.code-nobg {
    background-color:transparent;
    padding-left:0;
    padding-right:0;
  }
}
em {
  font-style:italic;
}
hr {
  border:none;
  border-top:$tyfy-width-border $tyfy-color-border solid;
  height:0;
}
i {
  font-style:italic;
}
pre {
  font-family:$tyfy-mono;
}
small {
  font-size:100%/$tyfy-font-size-scalar;
}
strong {
  font-weight:700;
}
span {
  &.dropcap {
    display:inline-block;
    float:left;
    font-size:400%;
    font-weight:bold;
    line-height:100%;
    margin:0 0.25em 0 0.125em;
    text-align:center;
  }
  &.smallcaps {
    font-feature-settings:"c2sc", "smcp";
    font-variant-caps:all-small-caps;
    letter-spacing:0.075em;
  }
}
.button {
  @include button;
}
.button-outline {
  @include button-outline;
}
.font-sans {
  font-family:$tyfy-sans;
}
.font-serif {
  font-family:$tyfy-serif;
}
.font-mono {
  font-family:$tyfy-mono;
}
.light {
  color:$tyfy-color-text-light;
}