<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="{{ path '/css/tyfy-docs.css' }}">
    <title>Preview</title>
  </head>
  <body>

    {{{ yield }}}

  </body>
</html>