:root {
  --font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, Georgia, serif;
  --color-hgl: light-dark(rgba(0,0,255,0.1), rgba(128,128,255,0.1));
  --color-vgl: light-dark(rgba(255,0,0,0.1), rgba(255,128,128,0.1));
}
body {
  background-image: repeating-linear-gradient(0deg, var(--color-hgl) 0px, var(--color-hgl) 1px, transparent 0px, transparent 50%), repeating-linear-gradient(90deg, var(--color-vgl) 0px, var(--color-vgl) 1px, transparent 0px, transparent 50%);
  background-repeat: repeat, repeat;
  background-size: calc(2 * var(--tyfy-vgu)) calc(2 * var(--tyfy-vgu)), calc(2 * var(--tyfy-hgu)) calc(2 * var(--tyfy-hgu));
  font-family: var(--font-serif);
  margin: 0;
  max-width: calc(45 * var(--tyfy-hgu));
  padding: calc(2 * var(--tyfy-vgu)) calc(2 * var(--tyfy-hgu));
}
header + * {
  margin-top: calc(2 * var(--tyfy-vgu));
}