// elements styles
body {
  @include fade-in(2000ms);
}
code {
  background-color:$shade;
  color:$purple;
}
h1 {
  small {
    font-size:tyscale(0);
    text-transform:none;
  }
}

// classes
.constrained {
  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
  max-width:$width-constrained;
}
hr.demo {
  margin-bottom:tygrid(1);
  margin-top:tygrid(1);
}
strong.tyfy {
  color:$tyfy-color-link-active;
  font-family:"IBM Plex Sans Condensed",sans-serif;
  text-transform:uppercase;
}

$break-nav:680px;

header.brand {
  position:relative;
  z-index:5;
  .headgrid {
    @extend .constrained;
    display:grid;
    grid-template-columns:tygrid(6) auto;
    padding:0 $tyfy-spacing-standard;
  }
  h1 {
    font-size:$tyfy-font-size-h3;
    line-height:tylead($tyfy-font-size-h3,heading);
    padding:tygrid(1) 0;
  }
  nav {
    line-height:0;
    h2 {
      font-size:$tyfy-font-size-h5;
      line-height:tylead($tyfy-font-size-h5,heading);
    }
    ul {
      font-family:"IBM Plex Sans",sans-serif;
      font-size:tyscale(0);
      line-height:tylead(tyscale(0));
    }
    .navtab-content {
      h3 {
        font-family:"IBM Plex Sans Condensed",sans-serif;
        font-size:tyscale(0);
        line-height:tylead(tyscale(0));
        text-transform:uppercase;
      }
      * + h3 {
        margin-top:tygrid(1);
      }
    }
    &.nav-processed {
      @media (max-width:$break-nav * 0.9999) {
        text-align:right;
      }
      h2 {
        cursor:pointer;
        display:inline-block;
        height:tylead($tyfy-font-size-h3,heading) + tygrid(2);
        line-height:tylead($tyfy-font-size-h3,heading) + tygrid(2);
        overflow:hidden;
        transition-duration:$tyfy-transition-duration-hover;
        transition-property:color;
        width:tygrid(2);
        &::before {
          content:tychar($tyfyicons-bars);
          display:block;
          font-family:$tyfy-symbol;
          height:tylead($tyfy-font-size-h3,heading) + tygrid(2);
          text-align:center;
          width:tygrid(2);
        }
        &:hover {
          color:$tyfy-color-link-active-reverse;
        }
        @media (min-width:$break-nav) {
          display:none;
        }
      }
      ul {
        padding:0;
        text-align:left;
        @media (min-width:$break-nav) {
          display:flex;
          flex-wrap:wrap;
          ul ul {
            display:block;
          }
        }
      }
      & > ul {
        @media (max-width:$break-nav * 0.9999) {
          background-color:$tyfy-color-background-reverse;
          display:none;
          left:0;
          position:absolute;
          top:100%;
          width:100%;
        }
      }
      li {
        @media (max-width:$break-nav * 0.9999) {
          border-top:$tyfy-width-border rgba(white,0.05) solid;
        }
        &.navtab-hover-on {
          @media (min-width:$break-nav) {
            & > a {
              position:relative;
              &::after {
                background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 12'%3E%3Cpolygon points='12 0 24 12 0 12' fill='#{lighten($tyfy-color-background-reverse,10%)}'/%3E%3C/svg%3E");
                bottom:0;
                content:"";
                display:block;
                height:12px;
                left:50%;
                margin-left:-12px;
                position:absolute;
                width:24px;
              }
            }
            .navtab {
              @include fade-in(500ms);
              display:block;
            }
          }
        }
        &.navtab-hover-off {
          @media (min-width:$break-nav) {
            .navtab {
              @include fade-out(500ms);
              display:block;
            }
          }
        }
      }
      a {
        display:block;
        padding:tygrid(1) $tyfy-spacing-standard;
        @media (min-width:$break-nav) {
          padding:tygrid(1);
        }
      }
      .navtab {
        background-color:lighten($tyfy-color-background-reverse,10%);
        display:none;
        transition:opacity $tyfy-transition-duration-move;
        @media (min-width:$break-nav) {
          box-shadow:0 2px 1px rgba(black,0.2);
          left:0;
          position:absolute;
          top:100%;
          width:100%;
        }
      }
      .navtab-content {
        @extend .constrained;
        padding:0;
        a {
          padding:tygrid(0.25) $tyfy-spacing-standard;
        }
        h3 {
          @media (max-width:$break-nav*0.9999) {
            margin-top:tygrid(0.25);
          }
        }
        @media (min-width:$break-nav) {
          padding:tygrid(0.75) $tyfy-spacing-standard tygrid(0.75) (tygrid(6) + $tyfy-spacing-standard);
          a {
            padding:tygrid(0.25) tygrid(1);
          }
        }
      }
      &.nav-open {
        h2::before {
          content:tychar($tyfyicons-x);
        }
        @media (max-width:$break-nav * 0.9999) {
          ul {
            display:block;
          }
        }
      }
    }
  }
  & + * {
    margin-top:0;
  }
}
section.main {
  margin-top:0;
  padding:$tyfy-spacing-standard;
  * {
    max-width:$width-text-max;
  }
}
dl dt {
  code {
    background-color:transparent;
    display:block;
    font-weight:normal;
    padding:0;
    em {
      font-style:normal;
      font-weight:bold;
    }
  }
  code + code {
    margin-top:0;
  }
}
nav.nav-inpage {
  box-sizing:border-box;
  display:none;
  margin-left:$width-constrained - tygrid(9) - $tyfy-spacing-standard - $tyfy-spacing-standard;
  position:fixed;
  width:tygrid(9);
  h2 {
    border-bottom:solid $tyfy-width-border $tyfy-color-border;
    margin-bottom:tygrid(1);
    padding-bottom:tygrid(1);
  }
  ul {
    font-size:tyscale(-1);
  }
  a[href] {
    border-bottom-style:none;
    border-bottom-width:0px;
    font-family:$tyfy-sans;
  }
  @media (min-width:62em) {
    display:block;
  }
  & + * {
    margin-top:0;
  }
}
#lists-demo {
  @include sibling-margins(off);
  border:$tyfy-width-border dashed $tyfy-color-shade;
  border-radius:tygrid(0.5);
  box-shadow:inset 0px 0px tygrid(2) rgba(0,0,0,0.05);
  display:flex;
  flex-wrap:wrap;
  padding:tygrid(1) tygrid(2);
  .form-control {
    display:block;
    padding-top:tygrid(1);
    padding-bottom:tygrid(1);
    label {
      width:11rem;
      &.disabled {
        color:$tyfy-color-text-light;
      }
    }
    &.form-control-type {
      @media (min-width:55em) {
        border-right:2px dashed darken($tyfy-color-background,10%);
      }
    }
    &.form-control-classes {
      display:flex;
      flex-wrap:wrap;
      @media (min-width:55em) {
        box-sizing:border-box;
        padding-left:$tyfy-spacing-standard;
        width:75%;
      }
      label {
        &:first-child {
          width:100%;
        }
      }
    }
  }
  label {
    display:block;
    font-weight:bold;
    &.option {
      font-weight:normal;
    }
  }
}
footer {
  padding:$tyfy-spacing-large $tyfy-spacing-standard $tyfy-spacing-standard;
  hr {
    background-image:url("../img/tics-footer.svg");
    background-position:right calc(#{tygrid(9)} - 42px) top 0px;
    background-repeat:no-repeat;
    border:none;
    height:18px;
    margin:0;
    position:relative;
    &::before {
      background-color:$tyfy-color-link-active;
      bottom:0;
      content:"";
      display:block;
      height:2px;
      left:0;
      position:absolute;
      width:calc(100% - #{tygrid(9)} - 3px);
    }
    &::after {
      background-color:$tyfy-color-link-active;
      bottom:0;
      content:"";
      display:block;
      height:2px;
      right:0;
      position:absolute;
      width:calc(#{tygrid(9)} - 45px);
    }
  }
  div {
    color:$tyfy-color-text-light;
    font-size:$tyfy-font-size-sm;
    line-height:tylead($tyfy-font-size-sm,base);
    @media (min-width:40em) {
      display:inline-block;
    }
  }
  div + div {
    margin-top:tygrid(1);
    @media (min-width:40em) {
      margin-top:0;
      margin-left:$tyfy-spacing-standard;
    }
  }
  a {
    @include link-light;
  }
}