// tyfy customizations
$tyicons-path:"../fonts/tyicons";
$tyfont-serif:"IBM Plex Serif", georgia, serif;
$tyfont-sans:"IBM Plex Sans", helvetica, arial, sans-serif;
$tyfont-mono:"IBM Plex Mono", courier, monospace;
$tyfont-condensed:"IBM Plex Sans Condensed",sans-serif;
$tyfont-base:$tyfont-serif;
$tyfont-heading:$tyfont-sans;
$tyfont-table:$tyfont-sans;
$tyfont-input:$tyfont-sans;
$tycolor-rev-bg:#333;

// import tyfy
@import "../../../source/scss/tyfy.scss";
@import "../../../source/scss/extras/_audio.scss";
@import "../../../source/scss/extras/_effects.scss";
@import "../../../source/scss/extras/_responsive_text.scss";

// additional sass variables
$tywidth-constrained:55rem;
$tywidth-page:tygrid(65);
$tywidth-content:tygrid(50);
$tycolor-example:#407010;
$color-value:#6600cc;

body {
  @include tyfadein(1s);
  margin:0 0 tygrid(2) 0;
  padding:0;
}

// common width and padding
.block {
  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
  max-width:$tywidth-page + tyspacing(md) + tyspacing(md); // width plus padding
  padding-left:tyspacing(md);
  padding-right:tyspacing(md);
}

// element containing the page body text, present on all pages
.section-body {
  margin-left:auto;
  margin-right:auto;
  max-width:$tywidth-content;
}

// in-page nav, not present on all pages
.nav-inpage {
  float:right;
  @media (max-width:$tybreak-cols2 - 1em/16) {
    @include tyhidden;
  }
  & + .section-body {
    @media (min-width:$tybreak-cols2) {
      margin-left:0;
      margin-right:tygrid(13);
    }
  }
}

// space between content and footer
main.block + footer.footer {
  padding-top:tyspacing(md);
}

.constrained {
  margin-left:auto;
  margin-right:auto;
  max-width:$tywidth-constrained;
}
