// tyfy customizations
$tyicons-path:"../../../dist/fonts/tyicons";
$tyfont-serif:"IBM Plex Serif", georgia, serif;
$tyfont-sans:"IBM Plex Sans", helvetica, arial, sans-serif;
$tyfont-mono:"IBM Plex Mono", courier, monospace;
$tyfont-condensed:"IBM Plex Sans Condensed",sans-serif;
$tyfont-base:$tyfont-serif;
$tyfont-heading:$tyfont-sans;
$tyfont-table:$tyfont-sans;
$tyfont-input:$tyfont-sans;
$tycolor-rev-bg:#333;

// additional sass variables
$tywidth-constrained:55rem;
$tywidth-page:tygrid(60);
$tywidth-content:tygrid(45);
$tycolor-example:darken(#80cc33,25%);
$color-value:mix(#8033cc,#999999,75%);

// import tyfy
@import "../../../source/scss/tyfy.scss";
@import "../../../source/scss/extras/_effects.scss";
@import "../../../source/scss/extras/_responsive_text.scss";

body {
  @include tyfadein(2000ms);
  margin:0 0 tygrid(2) 0;
  padding:0;
}
.constrained {
  margin-left:auto;
  margin-right:auto;
  max-width:$tywidth-constrained;
}
