/* tyfy.docs.nav.paging */
ul.nav-paging {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: calc(2 * var(--tyfy-vspace-md));
  padding: 0;
  li {
    display:block;
    a[href] {
      --tyfy-color-link-decoration: transparent;
    }
  }
  li.next {
    text-align: right;
    a::after {
      content: var(--picons-bold-angle);
      display: inline-block;
      font-family: 'picons-bold';
      margin-left: 0.33em;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  li.prev {
    a::before {
      content: var(--picons-bold-angle);
      display: inline-block;
      font-family: 'picons-bold';
      margin-right: 0.33em;
      transform: rotate(180deg);
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}