<nav class="nav-inpage tyfy-margins-off">
  <h2 class="h6"><a href="#">{{ navheading }}</a></h2>
  <ul class="list-nobullet">
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
  </ul>
</nav>