/* tyfy.docs.nav.inpage */
nav.nav-inpage {
  --tyfy-color-fg: var(--tyfy-color-text-light);
  font-size: var(--tyfy-fs-sm);
  line-height: round(up, var(--tyfy-fs-sm), var(--tyfy-vgu));
  width: calc(9 * var(--tyfy-hgu));
  @media (min-height:400px) {
    position: sticky;
    top: var(--tyfy-vspace-md);
  }
  h2.h6 {
    a[href] {
      --tyfy-color-link: var(--tyfy-color-text-light);
      --tyfy-color-link-decoration: transparent;
    }
  }
  li {
    border-left: var(--tyfy-border);
    padding-left: calc(var(--tyfy-hspace-sm) - var(--tyfy-width-border));
    transition: border-width var(--tyfy-duration-sm), border-color var(--tyfy-duration-sm), padding-left var(--tyfy-duration-sm);
    a[href].active {
      font-style: italic;
    }
    &:has(a.active) {
      border-left-width: calc(3 * var(--tyfy-width-border));
      border-left-color: var(--tyfy-color-active);
      padding-left: calc(var(--tyfy-hspace-sm) - (3 * var(--tyfy-width-border)));
    }
  }
}