html {
  font-size:100%;
}
body {
  background:$tyfy-color-background;
  color:$tyfy-color-text-body;
  font-family:$tyfy-font-base;
  font-size:$tyfy-font-size-base;
  line-height:tylead($tyfy-font-size-base);
}