// base spacing styles
* {
  margin-top:0;
  margin-bottom:0;
}

@if $tymargins-on {
  body {
    @include tymargins(on);
  }
}

// adjacent sibling margin utility classes
.tymargins-on {
  @include tymargins(on);
}
.tymargins-off {
  @include tymargins(off);
}
.tymargins-once {
  @include tymargins(once);
}
.tymargins-skip {
  @include tymargins(skip);
}
