// base spacing styles
* {
  margin-top:0;
  margin-bottom:0;
}
@if $tyfy-margins-on {
  body {
    @include sibling-margins(on);
  }
}
hr {
  margin-bottom:$tyfy-spacing-large;
  margin-top:$tyfy-spacing-large;
}

// spacing style utility classes
.sibling-margins-on {
  @include sibling-margins(on);
}
.sibling-margins-off {
  @include sibling-margins(off);
}