<nav class="nav-inpage tymargins-off">
  <h2 class="tyfont-size-h6"><a href="#">{{ navheading }}</a></h2>
  <ul class="list-nobullet">
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
    <li>{{> '@navlink-secondary' }}</li>
  </ul>
</nav>