// colors
$status-default-color:#33aa33;
$status-warning-color:#aa8833;
$status-error-color:#aa3333;

// invisible elements
.element-invisible,
.skip-link {
  @include visuallyhidden;
}
.rdf-meta + *,
.element-hidden + *,
.element-invisible + *,
.skip-link + *,
.contextual-links-wrapper + * {
  margin-top:0;
}

// status messages 
div.messages,
div.status,
div.warning,
div.error {
  // background-image:none;
  border-style:solid;
  border-width:1px;
  line-height:tylead(tyscale(0),base);
  padding:tygrid(1) tygrid(1) tygrid(1) tygrid(3);
  position:relative;
}
div.status,
div.warning,
div.error {
  &::before {
    left:tygrid(1);
    position:absolute;
    top:tygrid(1);
  }
}
div.status {
  background-color:lighten($status-default-color,50%);
  border-color:lighten($status-default-color,40%);
  color:$status-default-color;
}
div.warning {
  border-color:lighten($status-warning-color,40%);
}
div.warning,
tr.warning {
  background-color:lighten($status-warning-color,50%);
  color:$status-warning-color;
}
div.error {
  border-color:lighten($status-error-color,40%);
}
div.error,
tr.error {
  color:$status-error-color;
  background-color:lighten($status-error-color,50%);
}

// main tabs
.tabs.primary {
  border-bottom:1px #ccc solid;
  height:tylead(tyscale(0),base);
  margin:0 0 tygrid(2) 0;
  padding:0;
  li {
    display:inline;
    font-size:tyscale(-1);
    line-height:tylead(tyscale(0),base);
    list-style:none;
    margin:0;
    padding:0;
    a {
      background-color:#f2f2f2;
      border:1px #ccc solid;
      border-bottom:0px;
      display:inline-block;
      font-family:$tyfy-sans;
      position:relative;
      padding:0 tygrid(1);
      top:-1px;
      vertical-align:top;
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration:none;
      }
      &.active:link,
      &.active:visited,
      &.active:hover,
      &.active:active {
        background-color:#fff;
        border-bottom:1px #fff solid;
        color:$tyfy-color-foreground;
      }
    }
  }
}

// visually indicate unpublished node
.node-unpublished {
  background-color:#ffd;
  &::before {
    content:"Unpublished";
    display:block;
    text-align:center;
    padding:tygrid(1);
    margin-bottom:tygrid(1);
    font-family:$tyfy-sans;
    font-weight:bold;
    text-transform:uppercase;
    color:#cca;
    border-bottom:1px #cca dotted;
  }
}

// get rid of Drupal's custom bullets
.block-menu_block {
  li.leaf,
  li.collapsed,
  li.expanded {
    list-style-image:none;
  }
}

// specifically get rid of Drupal block styling
.block {
  margin-bottom:0;
}

// restore default margins on admin ui, use content-box model
.contextual-links-wrapper,
#admin-toolbar {
  @include sibling-margins(off);
  &, * {
    box-sizing:content-box;
  }
}