// copied from the scss file that is output by running `npm build icons`
@if $tyfy-symbol == tyfyicons {
  @font-face {
    font-family:tyfyicons;
    src:url("#{$tyfyicons-path}/tyfyicons.eot");
    src:url("#{$tyfyicons-path}/tyfyicons.eot?#iefix") format("embedded-opentype"), url("#{$tyfyicons-path}/tyfyicons.woff2") format("woff2"), url("#{$tyfyicons-path}/tyfyicons.woff") format("woff"), url("#{$tyfyicons-path}/tyfyicons.ttf") format("truetype"), url("#{$tyfyicons-path}/tyfyicons.svg#tyfyicons") format("svg");
    font-style:normal;
    font-weight:400;
  }
}
%tyfyicons {
  display:inline-block;
  font-family:tyfyicons;
  font-size:inherit;
  font-weight:400;
  text-rendering:auto;
  transform:translate(0, 0);
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}
.tyfyicons {
  @extend %tyfyicons;
}
.tyfyicons-lg {
  vertical-align:-15%;
  line-height:0.75em;
  font-size:1.33333333em;
}
.tyfyicons-2x {
  font-size:2em;
}
.tyfyicons-3x {
  font-size:3em;
}
.tyfyicons-4x {
  font-size:4em;
}
.tyfyicons-5x {
  font-size:5em;
}
.tyfyicons-fw {
  width:1.28571429em;
  text-align:center;
}
.tyfyicons-angle-down::before {
  content:"\ea01";
}
.tyfyicons-angle-left-small::before {
  content:"\ea02";
}
.tyfyicons-angle-left::before {
  content:"\ea04";
}
.tyfyicons-angle-right-small::before {
  content:"\ea03";
}
.tyfyicons-angle-right::before {
  content:"\ea05";
}
.tyfyicons-angle-up::before {
  content:"\ea08";
}
.tyfyicons-bars::before {
  content:"\ea07";
}
.tyfyicons-dash::before {
  content:"\ea06";
}
.tyfyicons-quote-left::before {
  content:"\ea0a";
}
.tyfyicons-quote-right::before {
  content:"\ea09";
}
.tyfyicons-quote-roof::before {
  content:"\ea0b";
}
.tyfyicons-search::before {
  content:"\ea0c";
}
.tyfyicons-x::before {
  content:"\ea0d";
}