// copied from the scss file that is output by running `npm build icons`
@if $tyfont-symbol == tyicons {
  @font-face {
    font-family:tyicons;
    src:url("#{$tyicons-path}/tyicons.eot");
    src:url("#{$tyicons-path}/tyicons.eot?#iefix") format("embedded-opentype"), url("#{$tyicons-path}/tyicons.woff2") format("woff2"), url("#{$tyicons-path}/tyicons.woff") format("woff"), url("#{$tyicons-path}/tyicons.ttf") format("truetype"), url("#{$tyicons-path}/tyicons.svg#tyicons") format("svg");
    font-style:normal;
    font-weight:400;
  }
}
%tyicons {
  display:inline-block;
  font-family:tyicons;
  font-size:inherit;
  font-weight:400;
  margin-top:0;
  text-rendering:auto;
  transform:translate(0,0);
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
}
.tyicons {
  @extend %tyicons;
}
.tyicons-lg {
  vertical-align:-15%;
  line-height:0.75em;
  font-size:1.33333333em;
}
.tyicons-2x {
  font-size:2em;
}
.tyicons-3x {
  font-size:3em;
}
.tyicons-4x {
  font-size:4em;
}
.tyicons-5x {
  font-size:5em;
}
.tyicons-fw {
  width:1.28571429em;
  text-align:center;
}
.tyicons-angle-down::before {
  content:tychar($tyicons-angle-down);
}
.tyicons-angle-left::before {
  content:tychar($tyicons-angle-left);
}
.tyicons-angle-right::before {
  content:tychar($tyicons-angle-right);
}
.tyicons-angle-up-down::before {
  content:tychar($tyicons-angle-up-down);
}
.tyicons-angle-up::before {
  content:tychar($tyicons-angle-up);
}
.tyicons-bars::before {
  content:tychar($tyicons-bars);
}
.tyicons-check::before {
  content:tychar($tyicons-check);
}
.tyicons-dash::before {
  content:tychar($tyicons-dash);
}
.tyicons-search::before {
  content:tychar($tyicons-search);
}
.tyicons-x::before {
  content:tychar($tyicons-x);
}