// breakpoints for responsive text sizes
$tyfy-break-font-small:40em !default;
$tyfy-break-font-large:80em !default;
$tyfy-font-size-base-small:$tyfy-font-size-base * 0.9;
$tyfy-font-size-base-large:$tyfy-font-size-base / 0.9;

// body
body {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-base-small;
    line-height:tylead($tyfy-font-size-base-small);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-base-large;
    line-height:tylead($tyfy-font-size-base-large);
  }
}
// headings
h1 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h1 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h1 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h1 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h1 * $tyfy-font-size-scalar),heading);
  }
}
h2 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h2 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h2 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h2 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h2 * $tyfy-font-size-scalar),heading);
  }
}
h3 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h3 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h3 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h3 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h3 * $tyfy-font-size-scalar),heading);
  }
}
h4 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h4 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h4 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h4 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h4 * $tyfy-font-size-scalar),heading);
  }
}
h5 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h5 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h5 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h5 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h5 * $tyfy-font-size-scalar),heading);
  }
}
h6 {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-h6 / $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h6 / $tyfy-font-size-scalar),heading);
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-h6 * $tyfy-font-size-scalar;
    line-height:tylead(($tyfy-font-size-h6 * $tyfy-font-size-scalar),heading);
  }
}
pre,
code,
kbd,
samp {
  @media (max-width:$tyfy-break-font-small * 0.9999) {
    font-size:$tyfy-font-size-base-small;
  }
  @media (min-width:$tyfy-break-font-large) {
    font-size:$tyfy-font-size-base-large;
  }
}
// collapsables
h2.collapsable-processed {
  &::before {
    @media (max-width:$tyfy-break-font-small * 0.9999) {
      width:tylead(($tyfy-font-size-h2 / $tyfy-font-size-scalar),heading);
    }
    @media (min-width:$tyfy-break-font-large) {
      width:tylead(($tyfy-font-size-h2 * $tyfy-font-size-scalar),heading);
    }
  }
}
h3.collapsable-processed {
  &::before {
    @media (max-width:$tyfy-break-font-small * 0.9999) {
      width:tylead(($tyfy-font-size-h3 / $tyfy-font-size-scalar),heading);
    }
    @media (min-width:$tyfy-break-font-large) {
      width:tylead(($tyfy-font-size-h3 * $tyfy-font-size-scalar),heading);
    }
  }
}
h4.collapsable-processed {
  &::before {
    @media (max-width:$tyfy-break-font-small * 0.9999) {
      width:tylead(($tyfy-font-size-h4 / $tyfy-font-size-scalar),heading);
    }
    @media (min-width:$tyfy-break-font-large) {
      width:tylead(($tyfy-font-size-h4 * $tyfy-font-size-scalar),heading);
    }
  }
}
h5.collapsable-processed {
  &::before {
    @media (max-width:$tyfy-break-font-small * 0.9999) {
      width:tylead(($tyfy-font-size-h5 / $tyfy-font-size-scalar),heading);
    }
    @media (min-width:$tyfy-break-font-large) {
      width:tylead(($tyfy-font-size-h5 * $tyfy-font-size-scalar),heading);
    }
  }
}
h6.collapsable-processed {
  &::before {
    @media (max-width:$tyfy-break-font-small * 0.9999) {
      width:tylead(($tyfy-font-size-h6 / $tyfy-font-size-scalar),heading);
    }
    @media (min-width:$tyfy-break-font-large) {
      width:tylead(($tyfy-font-size-h6 * $tyfy-font-size-scalar),heading);
    }
  }
}
