// reverse colors
$tycolor-rev-bg:                  invert($tycolor-bg) !default;
$tycolor-rev-fg:                  invert($tycolor-fg) !default;
$tycolor-rev-text-light:          mix($tycolor-rev-fg,$tycolor-rev-bg,50%) !default;
$tycolor-rev-link-default:        hsl(hue($tycolor-link-default),saturation($tycolor-link-default),(100% - lightness(darken($tycolor-link-default,25%)))) !default;
$tycolor-rev-link-active:         hsl(hue($tycolor-link-active),saturation($tycolor-link-active),(100% - lightness(darken($tycolor-link-active,25%)))) !default;
$tycolor-rev-bg-tab-active:       rgba($tycolor-rev-link-active,0.12) !default;
$tycolor-rev-border:              mix($tycolor-rev-fg,$tycolor-rev-bg,12%) !default;
$tycolor-rev-border-link-default: rgba($tycolor-rev-link-default,0.5) !default;
$tycolor-rev-border-link-active:  rgba($tycolor-rev-link-active,0.75) !default;
$tycolor-rev-shade:               rgba($tycolor-rev-fg,0.05) !default;

// root styles
.reverse {
  --tycolor-bg:                   #{$tycolor-rev-bg};
  --tycolor-bg-tab-active:        #{$tycolor-rev-bg-tab-active};
  --tycolor-fg:                   #{$tycolor-rev-fg};
  --tycolor-text-light:           #{$tycolor-rev-text-light};
  --tycolor-link-default:         #{$tycolor-rev-link-default};
  --tycolor-link-active:          #{$tycolor-rev-link-active};
  --tycolor-border:               #{$tycolor-rev-border};
  --tycolor-border-link-default:  #{$tycolor-rev-border-link-default};
  --tycolor-border-link-active:   #{$tycolor-rev-border-link-active};
  --tycolor-shade:                #{$tycolor-rev-shade};
  
  background-color:var(--tycolor-bg);
  color:var(--tycolor-fg);

  // buttons
  .tybutton,
  a.tybutton,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include tybutton($tycolor-rev-link-default,$tycolor-rev-link-active);
  }
  .tybutton-outline,
  a.tybutton-outline {
    @include tybutton-outline($tycolor-rev-link-default,$tycolor-rev-link-active);
  }
  
  // quotes
  blockquote {
    &.pullquote-roof-fixed::before,
    &.pullquote-roof-full::before {
      background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20viewBox%3D%220%200%201920%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22#{encodecolor($tycolor-rev-border)}%22%3E%3Cpolygon%20points%3D%220%2028%20936%2028%20936%2032%200%2032%22%3E%3C%2Fpolygon%3E%3Cpolygon%20points%3D%22984%2028%201920%2028%201920%2032%20984%2032%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
  }
  
  // select elements
  select {
    &:not([multiple]) {
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpolygon points='6 10 16 0 26 10 23 13 16 6 9 13' fill='#{encodecolor($tycolor-rev-text-light)}'/%3E%3Cpolygon points='6 22 9 19 16 26 23 19 26 22 16 32' fill='#{encodecolor($tycolor-rev-text-light)}'/%3E%3C/svg%3E");
    }
  }
  
  input[type="checkbox"] {
    &:checked {
      background-image:url("data:image/svg+xml;charset=ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2223%2056%2020.9401855%2053.9401855%200%2033%207%2026%2023%2042%2057%208%2064%2015%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
    }
  }
  
  input[type="radio"] {
    &:checked {
      background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#{encodecolor($tycolor-rev-bg)}'/%3e%3c/svg%3e");
    }
  }
  
  // media
  .tymedia .tymedia-caption {
    color:$tycolor-rev-text-light;
  }
}