// reverse colors
$tycolor-rev-bg:                  invert($tycolor-bg) !default;
$tycolor-rev-fg:                  invert($tycolor-fg) !default;
$tycolor-rev-text-light:          mix($tycolor-rev-fg,$tycolor-rev-bg,50%) !default;
$tycolor-rev-link-default:        hsl(hue($tycolor-link-default),saturation($tycolor-link-default),(100% - lightness(darken($tycolor-link-default,25%)))) !default;
$tycolor-rev-link-active:         hsl(hue($tycolor-link-active),saturation($tycolor-link-active),(100% - lightness(darken($tycolor-link-active,25%)))) !default;
$tycolor-rev-bg-tab-active:       rgba($tycolor-rev-link-active,0.12) !default;
$tycolor-rev-border:              mix($tycolor-rev-fg,$tycolor-rev-bg,20%) !default;
$tycolor-rev-border-link-default: rgba($tycolor-rev-link-default,0.5) !default;
$tycolor-rev-border-link-active:  rgba($tycolor-rev-link-active,0.75) !default;
$tycolor-rev-shade:               rgba($tycolor-rev-fg,0.1) !default;

// root styles
.reverse {
  --tycolor-bg:                   #{$tycolor-rev-bg};
  --tycolor-bg-tab-active:        #{$tycolor-rev-bg-tab-active};
  --tycolor-fg:                   #{$tycolor-rev-fg};
  --tycolor-text-light:           #{$tycolor-rev-text-light};
  --tycolor-link-default:         #{$tycolor-rev-link-default};
  --tycolor-link-active:          #{$tycolor-rev-link-active};
  --tycolor-border:               #{$tycolor-rev-border};
  --tycolor-border-link-default:  #{$tycolor-rev-border-link-default};
  --tycolor-border-link-active:   #{$tycolor-rev-border-link-active};
  --tycolor-shade:                #{$tycolor-rev-shade};
  
  background-color:var(--tycolor-bg);
  color:var(--tycolor-fg);

  // buttons
  .tybutton,
  a.tybutton,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include tybutton($tycolor-rev-link-default,$tycolor-rev-link-active);
  }
  .tybutton-outline,
  a.tybutton-outline {
    @include tybutton-outline($tycolor-rev-link-default,$tycolor-rev-link-active);
  }
  button[disabled],
  input[type="button"][disabled],
  input[type="reset"][disabled],
  input[type="submit"][disabled] {
    background-color: mix($tycolor-rev-fg,$tycolor-rev-bg,40%);
    cursor: not-allowed;
  }
  
  // quotes
  blockquote {
    &.pullquote-roof-fixed::before,
    &.pullquote-roof-full::before {
      background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20viewBox%3D%220%200%201920%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20fill%3D%22#{encodecolor($tycolor-rev-border)}%22%3E%3Cpolygon%20points%3D%220%2028%20936%2028%20936%2032%200%2032%22%3E%3C%2Fpolygon%3E%3Cpolygon%20points%3D%22984%2028%201920%2028%201920%2032%20984%2032%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
  }
  
  // select elements
  select {
    &:not([multiple]) {
      background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpolygon points='6 10 16 0 26 10 23 13 16 6 9 13' fill='#{encodecolor($tycolor-rev-text-light)}'/%3E%3Cpolygon points='6 22 9 19 16 26 23 19 26 22 16 32' fill='#{encodecolor($tycolor-rev-text-light)}'/%3E%3C/svg%3E");
    }
  }
  
  input[type="checkbox"] {
    &:checked {
      background-image:url("data:image/svg+xml;charset=ASCII,%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2223%2056%2020.9401855%2053.9401855%200%2033%207%2026%2023%2042%2057%208%2064%2015%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
    }
  }
  
  input[type="radio"] {
    &:checked {
      background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#{encodecolor($tycolor-rev-bg)}'/%3e%3c/svg%3e");
    }
  }
  
  // media
  .tymedia .tymedia-caption {
    color:$tycolor-rev-text-light;
  }
  
  // audio
  figure.tyfy-audio-player {
    form.player-ui {
      button {
        &.play-pause.paused::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%20points%3D%2224%2016%2010%2025%2010%207%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
        }
        &.play-pause.paused:hover::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2224%2016%2010%2025%2010%207%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
        }
        &.play-pause.playing::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Crect%20x%3D%2210%22%20y%3D%228%22%20width%3D%224%22%20height%3D%2216%22%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%3E%3C%2Frect%3E%3Crect%20x%3D%2218%22%20y%3D%228%22%20width%3D%224%22%20height%3D%2216%22%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
        }
        &.play-pause.playing:hover::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Crect%20x%3D%2210%22%20y%3D%228%22%20width%3D%224%22%20height%3D%2216%22%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%3E%3C%2Frect%3E%3Crect%20x%3D%2218%22%20y%3D%228%22%20width%3D%224%22%20height%3D%2216%22%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%3E%3C%2Frect%3E%3C%2Fsvg%3E");
        }
        &.audio.sound::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%20points%3D%2215.5%207.98650208%2016.5%207.98650208%2016.5%2023.9852814%2015.5%2023.9852814%2011.5%2019.9852814%206.5%2019.9852814%206.5%2011.9852814%2011.5%2011.9852814%22%3E%3C%2Fpolygon%3E%3Cpath%20d%3D%22M21.5%2C15.9852814%20C21.5%2C17.0898509%2021.0522847%2C18.0898509%2020.3284271%2C18.8137085%20L18.9142136%2C17.3994949%20C19.2761424%2C17.0375661%2019.5%2C16.5375661%2019.5%2C15.9852814%20C19.5%2C15.4329966%2019.2761424%2C14.9329966%2018.9142136%2C14.5710678%20L20.3284271%2C13.1568542%20C21.0522847%2C13.8807119%2021.5%2C14.8807119%2021.5%2C15.9852814%20Z%22%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M25.5%2C15.9852814%20C25.5%2C18.1939121%2024.6049815%2C20.1935%2023.1578535%2C21.6411362%20L21.7426407%2C20.2279221%20C22.8284271%2C19.1421356%2023.5%2C17.6421356%2023.5%2C15.9852814%20C23.5%2C14.3284271%2022.8284271%2C12.8284271%2021.7426407%2C11.7426407%20L23.1578535%2C10.3294266%20C24.6049815%2C11.7770628%2025.5%2C13.7766507%2025.5%2C15.9852814%20Z%22%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
        }
        &.audio.sound:hover::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2215.5%207.98650208%2016.5%207.98650208%2016.5%2023.9852814%2015.5%2023.9852814%2011.5%2019.9852814%206.5%2019.9852814%206.5%2011.9852814%2011.5%2011.9852814%22%3E%3C%2Fpolygon%3E%3Cpath%20d%3D%22M21.5%2C15.9852814%20C21.5%2C17.0898509%2021.0522847%2C18.0898509%2020.3284271%2C18.8137085%20L18.9142136%2C17.3994949%20C19.2761424%2C17.0375661%2019.5%2C16.5375661%2019.5%2C15.9852814%20C19.5%2C15.4329966%2019.2761424%2C14.9329966%2018.9142136%2C14.5710678%20L20.3284271%2C13.1568542%20C21.0522847%2C13.8807119%2021.5%2C14.8807119%2021.5%2C15.9852814%20Z%22%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M25.5%2C15.9852814%20C25.5%2C18.1939121%2024.6049815%2C20.1935%2023.1578535%2C21.6411362%20L21.7426407%2C20.2279221%20C22.8284271%2C19.1421356%2023.5%2C17.6421356%2023.5%2C15.9852814%20C23.5%2C14.3284271%2022.8284271%2C12.8284271%2021.7426407%2C11.7426407%20L23.1578535%2C10.3294266%20C24.6049815%2C11.7770628%2025.5%2C13.7766507%2025.5%2C15.9852814%20Z%22%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
        }
        &.audio.muted::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%20points%3D%2215.5%207.98650208%2016.5%207.98650208%2016.5%2023.9852814%2015.5%2023.9852814%2011.5%2019.9852814%206.5%2019.9852814%206.5%2011.9852814%2011.5%2011.9852814%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-link-default)}%22%20points%3D%2225.5%2013.9%2023.4%2016%2025.5%2018.1%2024.1%2019.5%2022%2017.4%2019.9%2019.5%2018.5%2018.1%2020.6%2016%2018.5%2013.9%2019.9%2012.5%2022%2014.6%2024.1%2012.5%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
        }
        &.audio.muted:hover::before {
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2215.5%207.98650208%2016.5%207.98650208%2016.5%2023.9852814%2015.5%2023.9852814%2011.5%2019.9852814%206.5%2019.9852814%206.5%2011.9852814%2011.5%2011.9852814%22%3E%3C%2Fpolygon%3E%3Cpolygon%20fill%3D%22#{encodecolor($tycolor-rev-bg)}%22%20points%3D%2225.5%2013.9%2023.4%2016%2025.5%2018.1%2024.1%2019.5%2022%2017.4%2019.9%2019.5%2018.5%2018.1%2020.6%2016%2018.5%2013.9%2019.9%2012.5%2022%2014.6%2024.1%2012.5%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");
        }
      }
    }
  }
}