// breakpoints
$tyfy-break-floats:40em !default;
$tyfy-break-pullquote-large:40em !default;
$tyfy-break-list-cols-2:35em !default;
$tyfy-break-list-cols-3:55em !default;
$tyfy-break-list-cols-4:75em !default;
$tyfy-break-tabs:40em !default;
$tyfy-break-table:30em !default;
