// breakpoints
$tyfy-break-floats:40em;
$tyfy-break-pullquote-large:40em;
$tyfy-break-list-cols-2:35em;
$tyfy-break-list-cols-3:55em;
$tyfy-break-list-cols-4:75em;
$tyfy-break-tabs:40em;
$tyfy-break-table:30em;
