// primary colors
$tyfy-color-background:white !default;
$tyfy-color-primary:#ffa000 !default;
$tyfy-color-foreground:#111 !default;
$tyfy-color-secondary:#418fde !default;

// calculated colors
$tyfy-color-text-body:$tyfy-color-foreground !default;
$tyfy-color-text-head:mix($tyfy-color-foreground,$tyfy-color-background,95%) !default;
$tyfy-color-text-light:mix($tyfy-color-foreground,$tyfy-color-background) !default;
$tyfy-color-text-pullquote:$tyfy-color-primary !default;
$tyfy-color-link-default:readable($tyfy-color-primary) !default;
$tyfy-color-link-active:readable($tyfy-color-secondary) !default;
$tyfy-color-border:mix($tyfy-color-foreground,$tyfy-color-background,10%) !default;
$tyfy-color-table-stripe:mix($tyfy-color-foreground,$tyfy-color-background,5%) !default;

// reverse colors
$tyfy-color-text-body-reverse:reverse($tyfy-color-text-body) !default;
$tyfy-color-text-head-reverse:reverse($tyfy-color-text-head) !default;
$tyfy-color-text-light-reverse:reverse($tyfy-color-text-light) !default;
$tyfy-color-text-pullquote-reverse:reverse($tyfy-color-text-pullquote) !default;
$tyfy-color-link-default-reverse:reverse($tyfy-color-link-default) !default;
$tyfy-color-link-active-reverse:reverse($tyfy-color-link-active) !default;
$tyfy-color-border-reverse:hsla(hue($tyfy-color-text-body),saturation($tyfy-color-text-body),(100% - lightness($tyfy-color-text-body)),0.15) !default;
$tyfy-color-table-stripe-reverse:hsla(hue($tyfy-color-text-body),saturation($tyfy-color-text-body),(100% - lightness($tyfy-color-text-body)),0.075) !default;
