// grid unit
// helps define vertical and horizontal grid
// should be half the base line-height
$tyfy-grid-unit:0.8125rem;

// line height adjustment
// these values adjust calculation of line-height based on the $tyfy-grid-unit value
$tyfy-leading-adjustment-tall:0.8;
$tyfy-leading-adjustment-base:0.9;
$tyfy-leading-adjustment-heading:1;
$tyfy-leading-adjustment-short:1.2;