<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="{{ path '/style/tyfy-docs.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/vendor/prism/prism.css' }}">
    <title>Preview</title>
  </head>
  <body>
    <section class="main">
      {{{ yield }}}
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['IBM+Plex+Mono:400,400i,700,700i','IBM+Plex+Sans+Condensed:700','IBM+Plex+Sans:100,100i,400,400i,700,700i','IBM+Plex+Serif:400,400i,700,700i']
        }
      });
    </script>
    <script src="{{ path '/vendor/prism/prism.js' }}"></script>
  </body>
</html>