// $tybreak-boxes is defined in the base css for the documentation

pre.codebox + figure.output {
  border-top:none;
  margin-top:0;
  padding-top:tyspacing(md);
}
figure.output + pre.codebox {
  border-top:none;
  margin-top:0;
  padding-top:tyspacing(md);
}