/* tyfy.margins */
@scope (.tyfy-margins-on) to (.tyfy-margins-off) {
  :scope {
    --tyfy-margin-blocks: var(--tyfy-vspace-md);
    --tyfy-margin-headings-lg: var(--tyfy-vspace-lg);
    --tyfy-margin-headings-sm: var(--tyfy-vspace-sm);
    --tyfy-margin-lists: var(--tyfy-vspace-sm);
    --tyfy-margin-rule: var(--tyfy-vspace-lg);
  }
  p,ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd,li,figure,blockquote,hr {
    margin-bottom: unset;
    margin-top: unset;
  }
  :is(p,ul,ol,dl,h1,h2,h3,h4,h5,h6,figure,blockquote,hr,table,pre,div,form,fieldset,details) + :is(p,ul,ol,dl,figure,blockquote,table,pre,div,form,fieldset,details) {
    margin-top: var(--tyfy-margin-blocks);
  }
  :not(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
    margin-top: var(--tyfy-margin-headings-lg);
  }
  :is(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
    margin-top: var(--tyfy-margin-headings-sm);
  }
  ul, ol {
    * + *,
    ol,
    ul {
      margin-top: var(--tyfy-margin-lists);
    } 
  }
  dl {
    * + :not(dd) {
      margin-top: var(--tyfy-margin-lists);
    }
  }
  hr {
    margin-bottom: var(--tyfy-margin-rule);
    margin-top: var(--tyfy-margin-rule);
  }
}

.tyfy-margins-zero {
  .tyfy-margins-on & {
    --tyfy-margin-blocks: 0;
    --tyfy-margin-headings-lg: 0;
    --tyfy-margin-headings-sm: 0;
    --tyfy-margin-lists: 0;
    --tyfy-margin-rule: 0;
  }
  .tyfy-margins-off & {
    :is(p,ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd,li,figure,blockquote,hr) {
      margin-bottom: unset;
      margin-top: unset;
    }
  }
}