/* tyfy.links */
a {
  color: var(--tyfy-color-fg);
  text-decoration: none;
  &[href] {
    color: var(--tyfy-color-link);
    text-decoration-line: underline;
    text-decoration-color: var(--tyfy-color-link-decoration);
    text-decoration-style: solid;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.15em;
    transition: color var(--tyfy-duration-sm) ease-in-out, text-decoration-color var(--tyfy-duration-sm) ease-in-out, text-decoration-thickness var(--tyfy-duration-sm) ease-in-out;
    &:hover,
    &:active {
      color: var(--tyfy-color-link-active);
      text-decoration-color: var(--tyfy-color-link-decoration-active);
      text-decoration-thickness: 0.15em;
    }
    &:focus:focus-visible {
      outline-color: var(--tyfy-color-link-decoration-active);
      outline-offset: 0.1em;
      outline-width: 0.1em;
    }
  }
}
