/* tyfy.body */
body {
  animation: fadein 1s;
  background: var(--tyfy-color-bg);
  color: var(--tyfy-color-fg);
  font-size: var(--tyfy-fs-base);
  line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
}
@keyframes fadein {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}