/* tyfy.lists */
:root {
  --tyfy-list-indent: var(--tyfy-hspace-md);
}
ol,
ul {
  padding-left: var(--tyfy-list-indent);
}
dd {
  margin-left: unset;
  margin-right: unset;
  padding-left: var(--tyfy-list-indent);
}

ul, ol, dl {
  &.spacing-lg {
    --tyfy-margin-lists: var(--tyfy-vspace-md);
  }
  &.spacing-md {
    --tyfy-margin-lists: var(--tyfy-vspace-sm);
  }
  &.spacing-none {
    --tyfy-margin-lists: 0;
  }
}

/* unordered list variations */
ul {
  &.list-nobullet {
    padding-left: unset;
    li {
      list-style-type: none;
    }
    &.indented {
      li {
        box-sizing: border-box;
        padding-left: var(--tyfy-list-indent);
        text-indent: calc(-1 * var(--tyfy-list-indent));
      }
      ol, ul {
        margin-left: calc(-1 * var(--tyfy-list-indent));
      }
    }
  }
  &.list-flex {
    --tyfy-margin-lists: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    li {
      margin-left: var(--tyfy-hspace-md);
    }
    &.centered {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
    }
    &.list-nobullet {
      margin-left: calc(-1 * var(--tyfy-hspace-sm));
      margin-right: calc(-1 * var(--tyfy-hspace-sm));
      li {
        margin-left: var(--tyfy-hspace-sm);
        margin-right: var(--tyfy-hspace-sm);
      }
    }
  }
}