/* tyfy.forms */
:root{
  --range-slider-height: 4px;
  --tyfy-color-input-border: var(--tyfy-color-border);
  --tyfy-color-input-border-active: var(--tyfy-color-active);
  --tyfy-color-input-outline-focus: light-dark(hsla(310, 80%, 45%, 0.7), hsla(310, 80%, 70%, 0.7)); /* #cc0066 */
}
button,
input,
select,
textarea {
  background-color: var(--tyfy-color-bg);
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: var(--tyfy-radius-border);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset;
  box-sizing: border-box;
  color: var(--tyfy-color-fg);
  font-size: var(--tyfy-fs-base);
  line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
  padding: calc((0.5 * var(--tyfy-vgu)) - var(--tyfy-width-border)) calc((0.75 * var(--tyfy-hgu)) - var(--tyfy-width-border));
  transition: border-color var(--tyfy-duration-sm), box-shadow var(--tyfy-duration-sm);
  &:disabled {
    border-style: dotted;
    box-shadow: none;
    color: var(--tyfy-color-text-light);
  }
  &:focus:focus-visible {
    border-color: var(--tyfy-color-input-border-active);
    outline-color: var(--tyfy-color-input-outline-focus);
    outline-width: var(--tyfy-width-border);
    outline-offset: var(--tyfy-width-border);
  }
}
select {
  &:not([multiple]) {
    appearance: none;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5em) center;
    background-size: 1em auto;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding-right: var(--tyfy-hspace-md);
    @media (prefers-color-scheme: light) {
      background-image: var(--tyfy-caret-light);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--tyfy-caret-dark);
    }
    &:disabled {
      box-shadow: none;
    }
  }
}
textarea {
  display: block;
  max-width: 100%;
  width: auto;
}
input,
select {
  &.tyfy-block {
    display: block;
    max-width: 100%;
    width: auto;    
  }
}
label {
  font-weight: bold;
  &.tyfy-block {
    display: block;
    & + * {
      margin-top: var(--tyfy-vspace-sm);
    }
  }
}
fieldset {
  border-color: var(--tyfy-color-border);
  border-radius: var(--tyfy-radius-border);
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  padding: calc(var(--tyfy-vspace-md) - var(--tyfy-width-border)) calc(var(--tyfy-hspace-md) - var(--tyfy-width-border));
  legend {
    font-size: var(--tyfy-fs-base);
    font-weight: bold;
    line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
    margin-bottom: var(--tyfy-width-border); /* fixes some strange top padding artifact*/
    margin-left: calc(-1 * var(--tyfy-hspace-sm));
    margin-right: calc(-1 * var(--tyfy-hspace-sm));
    padding-left: var(--tyfy-hspace-sm);
    padding-right: var(--tyfy-hspace-sm);
    & + * {
      margin-top:0;
    }
  }
}
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  display: inline-block;
  height: 1.5em;
  transition: background-color var(--tyfy-duration-sm) ease-in-out, border-color var(--tyfy-duration-sm) ease-in-out, transform var(--tyfy-duration-sm) ease-in-out;
  vertical-align: top;
  width: 1.5em;
  &:checked {
    background-color: var(--tyfy-color-active);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em auto;
    border-color: var(--tyfy-color-input-border-active);
    box-shadow: none;
  }
  &:hover {
    border-color: var(--tyfy-color-active);
    transform: scale(1.1);
  }
  &:focus:focus-visible {
    border-color: var(--tyfy-color-input-border-active);
    outline-color: var(--tyfy-color-input-outline-focus);
    outline-width: var(--tyfy-width-border);
    outline-offset: var(--tyfy-width-border);
  }
}
input[type="checkbox"] {
  &:checked {
    @media (prefers-color-scheme: light) {
      background-image: var(--tyfy-check-light);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--tyfy-check-dark);
    }
  }
}
input[type="radio"] {
  border-radius:50%;
  &:checked {
    @media (prefers-color-scheme: light) {
      background-image: var(--tyfy-dot-light);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--tyfy-dot-dark);
    }
  }
}
input[type="range"] {
  appearance: none;
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  height: calc(3 * var(--tyfy-vgu));
  min-width: calc(4 * var(--tyfy-hgu));
  padding: unset;
  position: relative;
  vertical-align: middle;
}
input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: calc(0.5 * var(--range-slider-height));
  box-sizing: border-box;
  height: var(--range-slider-height);
  width: 100%;
}
input[type="range"]::-moz-range-track {
  appearance: none;
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: calc(0.5 * var(--range-slider-height));
  box-sizing: border-box;
  height: var(--range-slider-height);
  width: 100%;
}
input[type="range"]::-moz-range-progress {
  appearance: none;
  border-color: var(--tyfy-color-input-border-active);
  border-radius: calc(0.5 * var(--slider-height));
  height: var(--slider-height);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--tyfy-color-bg);
  border: var(--range-slider-height) var(--tyfy-color-link) solid;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);  
  box-sizing: border-box;
  height: calc(2 * var(--tyfy-vgu));
  margin-top: calc(-1 * var(--tyfy-vgu));
  width: calc(2 * var(--tyfy-vgu));
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  background-color: var(--tyfy-color-bg);
  border: var(--range-slider-height) var(--tyfy-color-link) solid;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);  
  box-sizing: border-box;
  height: calc(2 * var(--tyfy-vgu));
  width: calc(2 * var(--tyfy-vgu));
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus:focus-visible::-webkit-slider-thumb {
  border-color: var(--tyfy-color-input-border-active);
  outline-color: var(--tyfy-color-input-outline-focus);
  outline-width: var(--tyfy-width-border);
  outline-style: solid;
}
input[type="range"]:focus:focus-visible::-moz-range-thumb {
  border-color: var(--tyfy-color-input-border-active);
  outline-color: var(--tyfy-color-input-outline-focus);
  outline-width: var(--tyfy-width-border);
  outline-style: solid;
}
input[type="range"]:disabled {
  pointer-events: none;
}
input[type="range"]:disabled::-webkit-slider-runnable-track {
  border-style: dotted;
}
input[type="range"]:disabled::-moz-range-track {
  border-style: dotted;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  border-color: var(--tyfy-color-input-border);
  box-shadow: none;
}
input[type="range"]:disabled::-moz-range-thumb {
  border-color: var(--tyfy-color-input-border);
  box-shadow: none;
}

