/* tyfy.floats */
:root {
  --tyfy-float-margin-inline: var(--tyfy-hspace-md);
  --tyfy-float-margin-end: var(--tyfy-vspace-md);
  --tyfy-float-width: 50%;
  --tyfy-float-threshold: 30em;
}
.float-left,
.float-right {
  box-sizing: border-box;
  margin-bottom: var(--tyfy-margin-blocks);
  max-width: 100%;
  width: max(
    calc(var(--tyfy-float-width) - (0.5 * var(--tyfy-float-margin-inline))),
    calc(999 * (var(--tyfy-float-threshold) - 100%))
  );
}
.float-left {
  clear: left;
  float: left;
  margin-left: 0;
  margin-right: max(
    0rem,
    min(
      var(--tyfy-float-margin-inline),
      calc(-999 * (var(--tyfy-float-threshold) - 100% - 1px))
    )
  );
}
.float-right {
  clear: right;
  float: right;
  margin-left: max(
    0rem, 
    min(
      var(--tyfy-float-margin-inline),
      calc(-999 * (var(--tyfy-float-threshold) - 100% - 1px))
    )
  );
  margin-right: 0;
}
