/* tyfy.forms */
:root{
  --range-slider-height: 4px;
  --tyfy-color-input-border: var(--tyfy-color-border);
  --tyfy-color-input-border-active: var(--tyfy-color-active);
  --tyfy-color-input-outline-focus: light-dark(hsla(310, 80%, 45%, 0.7), hsla(310, 80%, 70%, 0.7)); /* #cc0066 */
}
button,
input,
select,
textarea {
  background-color: var(--tyfy-color-bg);
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: var(--tyfy-radius-border);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset;
  box-sizing: border-box;
  color: var(--tyfy-color-fg);
  font-size: var(--tyfy-fs-base);
  line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
  padding: calc((0.5 * var(--tyfy-vgu)) - var(--tyfy-width-border)) calc((0.75 * var(--tyfy-hgu)) - var(--tyfy-width-border));
  transition: border-color var(--tyfy-duration-sm), box-shadow var(--tyfy-duration-sm);
  &:disabled {
    border-style: dotted;
    box-shadow: none;
    color: var(--tyfy-color-text-light);
  }
  &:focus:focus-visible {
    border-color: var(--tyfy-color-input-border-active);
    outline-color: var(--tyfy-color-input-outline-focus);
    outline-width: var(--tyfy-width-border);
    outline-offset: var(--tyfy-width-border);
  }
}
select {
  &:not([multiple]) {
    appearance: none;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5em) center;
    background-size: 1em auto;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding-right: var(--tyfy-hspace-md);
    @media (prefers-color-scheme: light) {
      background-image: var(--tyfy-select-caret-light);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--tyfy-select-caret-dark);
    }
    &:disabled {
      box-shadow: none;
    }
  }
}

textarea {
  display: block;
  max-width: 100%;
  width: auto;
}
input,
select {
  &.tyfy-block {
    display: block;
    max-width: 100%;
    width: auto;    
  }
}
label {
  font-weight: bold;
  &.tyfy-block {
    display: block;
    & + * {
      margin-top: var(--tyfy-vspace-sm);
    }
  }
}
fieldset {
  border-color: var(--tyfy-color-border);
  border-radius: var(--tyfy-radius-border);
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  padding: calc(var(--tyfy-vspace-md) - var(--tyfy-width-border)) calc(var(--tyfy-hspace-md) - var(--tyfy-width-border));
  legend {
    font-size: var(--tyfy-fs-base);
    font-weight: bold;
    line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
    margin-bottom: var(--tyfy-width-border); /* fixes some strange top padding artifact*/
    margin-left: calc(-1 * var(--tyfy-hspace-sm));
    margin-right: calc(-1 * var(--tyfy-hspace-sm));
    padding-left: var(--tyfy-hspace-sm);
    padding-right: var(--tyfy-hspace-sm);
    & + * {
      margin-top:0;
    }
  }
}
/* select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: var(--tyfy-color-bg);
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: var(--tyfy-radius-border);
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15) inset;
  color: var(--tyfy-color-fg);
  font-size: var(--tyfy-fs-base);
  line-height: round(up, var(--tyfy-fs-base), var(--tyfy-vgu));
  padding: calc((0.5 * var(--tyfy-vgu)) - var(--tyfy-width-border)) calc((0.75 * var(--tyfy-hgu)) - var(--tyfy-width-border));
  transition: border-color var(--tyfy-duration-sm), box-shadow var(--tyfy-duration-sm);
  max-width: 100%;
  &:focus:focus-visible {
    border-color: var(--tyfy-color-input-border-active);
    outline-color: var(--tyfy-color-input-outline-focus);
    outline-width: var(--tyfy-width-border);
    outline-offset: var(--tyfy-width-border);
  }
  &:disabled {
    color: var(--tyfy-color-text-light);
    pointer-events: none;
    opacity: 0.8;
  }
} */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
}
button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
  background-color: color-mix(in srgb, var(--tyfy-color-fg) 60% ,var(--tyfy-color-bg) 40%);
  cursor: not-allowed;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--tyfy-color-bg);
  border: var(--tyfy-color-input-border) var(--tyfy-width-border) solid;
  border-radius: var(--tyfy-radius-border);
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  transition: background-color 0.25s, border-color 0.25s, transform 0.25s;
  vertical-align: top;
  width: 1.5em;
  &:checked {
    background-color: var(--tyfy-color-active);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.85em auto;
    border-color: var(--tyfy-color-input-border-active);
    @media (prefers-color-scheme: light) {
      background-image: var(--tyfy-input-check-light);
    }
    @media (prefers-color-scheme: dark) {
      background-image: var(--tyfy-input-check-dark);
    }

  }
  &:hover {
    border-color: var(--tyfy-color-active);
    transform: scale(1.1);
  }
  &:focus:focus-visible {
    border-color: var(--tyfy-color-input-border-active);
    outline-color: var(--tyfy-color-input-outline-focus);
    outline-width: var(--tyfy-width-border);
    outline-offset: var(--tyfy-width-border);
  }
}
input[type="radio"] {
  appearance:none;
  -webkit-appearance:none;
  background-color:var(--tyfy-color-bg);
  border-color:var(--tyfy-color-border)
  border-style:solid;
  border-radius:50%;
  border-width:$tywidth-border;
  display:inline-block;
  height:1.5em;
  transition:background-color tyduration(hover), border-color tyduration(hover), transform tyduration(hover);
  vertical-align:text-bottom;
  width:1.5em;
  &:checked {
    background-color:var(--tycolor-link-active);
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#{encodecolor(var(--tyfy-color-bg))}'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    border-color:var(--tycolor-link-active);
  }
  &:hover {
    border-color:var(--tycolor-link-active);
    transform:scale(1.1);
  }
  &:hover,
  &:focus {
    outline:none;
    box-shadow:0 0 0 tygrid(0.5) var(--tyfy-color-bg)-tab-active;
  }
  &:focus {
    border-color:var(--tycolor-link-active);
  }
}

input[type="range"] {
  appearance: none;
  background-color: transparent;
  border: 0;
  height: calc(3 * var(--tyfy-vgu));
  min-width: calc(4 * var(--tyfy-hgu));
  position: relative;
  vertical-align: middle;
}
input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background-color: var(--tyfy-color-border);
  border: 0;
  border-radius: calc(0.5 * var(--range-slider-height));
  height: var(--range-slider-height);
  width: 100%;
}
input[type="range"]::-moz-range-track {
  appearance: none;
  background-color: var(--tyfy-color-border);
  border: 0;
  border-radius: calc(0.5 * var(--range-slider-height));
  height: var(--range-slider-height);
  width: 100%;
}
input[type="range"]::-moz-range-progress {
  appearance: none;
  background-color: var(--tycolor-link-active);
  border-radius: calc(0.5 * var(--slider-height));
  height: var(--slider-height);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--tyfy-color-bg);
  border: var(--range-slider-height) var(--tyfy-color-link) solid;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);  
  box-sizing: border-box;
  height: calc(2 * var(--tyfy-vgu));
  margin-top: calc(-1 * var(--tyfy-vgu) + 0.5 * var(--range-slider-height));
  width: calc(2 * var(--tyfy-vgu));
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  background-color: var(--tyfy-color-bg);
  border: var(--range-slider-height) var(--tyfy-color-link) solid;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);  
  box-sizing: border-box;
  height: calc(2 * var(--tyfy-vgu));
  width: calc(2 * var(--tyfy-vgu));
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus:focus-visible::-webkit-slider-thumb {
  border-color: var(--tyfy-color-input-border-active);
  outline-color: var(--tyfy-color-input-outline-focus);
  outline-offset: 0.1em;
  outline-width: 0.1em;
  outline-style: solid;
}
input[type="range"]:focus:focus-visible::-moz-range-thumb {
  border-color: var(--tyfy-color-input-border-active);
  outline-color: var(--tyfy-color-input-outline-focus);
  outline-offset: 0.1em;
  outline-width: 0.1em;
  outline-style: solid;
}
input[type="range"]:disabled {
  pointer-events: none;
  opacity: 0.8;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  background-color: var(--tyfy-color-input-border);
  border-color: var(--tyfy-color-text-light);
}
input[type="range"]:disabled::-moz-range-thumb {
  background-color: var(--tyfy-color-input-border);
  border-color: var(--tyfy-color-text-light);
}

