/* tyfy.headings */
h1, .h1 {
  font-size: var(--tyfy-fs-h1);
  line-height: round(up, var(--tyfy-fs-h1), var(--tyfy-vgu));
}
h2, .h2 {
  font-size: var(--tyfy-fs-h2);
  line-height: round(up, var(--tyfy-fs-h2), var(--tyfy-vgu));
}
h3, .h3 {
  font-size: var(--tyfy-fs-h3);
  line-height: round(up, var(--tyfy-fs-h3), var(--tyfy-vgu));
}
h4, .h4 {
  font-size: var(--tyfy-fs-h4);
  line-height: round(up, var(--tyfy-fs-h4), var(--tyfy-vgu));
}
h5, .h5 {
  font-size: var(--tyfy-fs-h5);
  line-height: round(up, var(--tyfy-fs-h5), var(--tyfy-vgu));
}
h6, .h6 {
  font-size: var(--tyfy-fs-h6);
  line-height: round(up, var(--tyfy-fs-h6), var(--tyfy-vgu));
}
h5 {
  font-style: italic;
}
h6 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
