:root {
  /* tyfy.settings.grid */
  --tyfy-vgu: 0.9375rem; /* vertical grid unit */
  --tyfy-hgu: 1.125rem; /* horizontal grid unit */
  
  /* tyfy.settings.spacing */
  --tyfy-vspace-sm: calc(1 * var(--tyfy-vgu));
  --tyfy-vspace-md: calc(2 * var(--tyfy-vgu));
  --tyfy-vspace-lg: calc(3 * var(--tyfy-vgu));
  --tyfy-hspace-sm: calc(1 * var(--tyfy-hgu));
  --tyfy-hspace-md: calc(2 * var(--tyfy-hgu));
  --tyfy-hspace-lg: calc(3 * var(--tyfy-hgu));
  
  /* tyfy.settings.typography */
  --tyfy-fs-base: 1.25rem;
  --tyfy-fs-scalar: 1.2;
  
  --tyfy-fs-xs: calc(var(--tyfy-fs-base) / (2 * var(--tyfy-fs-scalar)));
  --tyfy-fs-sm: calc(var(--tyfy-fs-base) / var(--tyfy-fs-scalar));
  --tyfy-fs-h6: calc(var(--tyfy-fs-base) / var(--tyfy-fs-scalar));
  --tyfy-fs-h5: var(--tyfy-fs-base);
  --tyfy-fs-h4: calc(var(--tyfy-fs-base) * var(--tyfy-fs-scalar));
  --tyfy-fs-h3: calc(var(--tyfy-fs-base) * (1.5 * var(--tyfy-fs-scalar)));
  --tyfy-fs-h2: calc(var(--tyfy-fs-base) * (2 * var(--tyfy-fs-scalar)));
  --tyfy-fs-h1: calc(var(--tyfy-fs-base) * (3 * var(--tyfy-fs-scalar)));
  --tyfy-fs-quote: calc(var(--tyfy-fs-base) * var(--tyfy-fs-scalar));
  --tyfy-fs-lede: calc(var(--tyfy-fs-base) * var(--tyfy-fs-scalar));
  
  /* tyfy.settings.measures */
  --tyfy-width-border: 2px;
  --tyfy-radius-border: 4px;
  
  /* tyfy.settings.colors */
  color-scheme: light dark;
  --tyfy-color-bg: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 10%));
  --tyfy-color-fg: light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 90%)) ;
  --tyfy-color-text-light: color-mix(in srgb, var(--tyfy-color-fg) 60%, var(--tyfy-color-bg));
  --tyfy-color-active: light-dark(hsl(330, 100%, 40%), hsl(330, 100%, 70%)); /* #cc0066 */
  --tyfy-color-link: light-dark(hsl(210, 100%, 40%), hsl(210, 100%, 70%)); /* #0066cc */
  --tyfy-color-link-active: var(--tyfy-color-active);
  --tyfy-color-tab-active-bg: color-mix(in srgb, var(--tyfy-color-active) 20%, transparent);
  --tyfy-color-border: color-mix(in srgb, var(--tyfy-color-fg) 40%, var(--tyfy-color-bg) 60%);
  --tyfy-color-link-decoration: color-mix(in srgb, var(--tyfy-color-link) 60%, transparent);
  --tyfy-color-link-decoration-active: color-mix(in srgb, var(--tyfy-color-active) 90%, transparent);
  --tyfy-color-bg-shaded: color-mix(in srgb, var(--tyfy-color-fg) 15%, transparent);
  
  /* tyfy.settings.animation */
  --tyfy-transition-duration-link: 0.25s;
}