<dl class="grid">
  <dt><a href="https://www.npmjs.com/package/node-sass">node-sass</a></dt>
  <dd>node-sass compiles the <span class="smallcaps">SCSS</span> files into <span class="smallcaps">CSS</span> for distribution.</dd>
  <dt><a href="https://www.npmjs.com/package/postcss-cli">postcss-cli</a></dt>
  <dd>postcss allows post-processing of the compiled <span class="smallcaps">CSS</span>.</dd>
  <dt><a href="https://www.npmjs.com/package/autoprefixer">autoprefixer</a></dt>
  <dd>autoprefixer is the only post-compile process used on the <span class="smallcaps">CSS</span>.</dd>
  <dt><a href="https://www.npmjs.com/package/nodemon">nodemon</a></dt>
  <dd>nodemon makes it possible to run a watch script during stylesheet development.</dd>
  <dt><a href="https://www.npmjs.com/package/stylelint">stylelint</a></dt>
  <dd>The <span class="smallcaps">SCSS</span> files are linted prior to compilation using stylelint. The specific style rules I use are defined in the package.json file.</dd>
</dl>