// grid unit
// helps define vertical and horizontal grid
// should be half the base line-height
$tyfy-grid-unit:0.875rem !default;

// line height adjustments
// used by the leading function to adjust calculation of line-height
// smaller values result in larger line-heights
$tyfy-leading-adjustment-tall:0.8 !default;
$tyfy-leading-adjustment-base:0.9 !default;
$tyfy-leading-adjustment-heading:1 !default;
$tyfy-leading-adjustment-short:1.2 !default;

// typographic scale
$tyfy-font-size-scalar:1.2 !default;
$tyfy-font-size-base:1rem !default;