@mixin clearfix {
  *zoom:1;
  &:before,
  &:after {
    display:table;
    content:"";
    line-height:0;
  }
  &:after { clear:both; }  
}

@mixin visuallyhidden ($type:true) {
  @if $type == false {
    clip:auto;
    height:auto !important;
    margin:0;
    overflow:visible;
    position:static;
    width:auto !important;
  }
  @else {
    border:0;
    clip:rect(0 0 0 0);
    height:1px !important;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px !important;
    &.focusable:active,
    &.focusable:focus {
      clip:auto;
      height:auto;
      margin:0;
      overflow:visible;
      position:static;
      width:auto;
    }
  }
}

// based on css-tricks.com/lobotomized-owls/
@mixin sibling-margins ($state:on) {
	@if $state == on {
		// everything
		* + * {
			margin-top:$tyfy-spacing-standard;
		}
		// lists
		ul, ol, dl {
			* + * {
				margin-top:$tyfy-spacing-standard/2;
			}
			ol, ul, dl {
				margin-top:$tyfy-spacing-standard/2; // because sometimes nested lists don't have a sibling
			}
			* + dd {
				margin-top:0rem;
			}
		}
		// headings
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
			margin-top:$tyfy-spacing-large;
		}
	}
	@else {
		* + * {
			margin-top:0rem;
		}
		ul, ol, dl {
			* + * {
				margin-top:0rem;
			}
			ol, ul, dl {
				margin-top:0rem;
			}
		}
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
			margin-top:0rem;
		}
	}
}