@mixin clearfix {
  *zoom:1;
  &::before,
  &::after {
    display:table;
    content:"";
    line-height:0;
  }
  &::after {
    clear:both;
  }
}

@mixin visuallyhidden ($type:true) {
  @if $type == false {
    clip:auto;
    height:auto !important;
    margin:0;
    overflow:visible;
    position:static;
    width:auto !important;
  }
  @else {
    border:0;
    clip:rect(0 0 0 0);
    height:1px !important;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px !important;
    &.focusable:active,
    &.focusable:focus {
      clip:auto;
      height:auto;
      margin:0;
      overflow:visible;
      position:static;
      width:auto;
    }
  }
}

// based on css-tricks.com/lobotomized-owls/
@mixin set-sibling-margins ($context:all, $measure:$tyfy-spacing-standard) {
  @if $context == headings {
    // headings
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h1,
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h2,
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h3,
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h4,
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h5,
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) + h6 {
      margin-top:$measure;
    }
  }
  @else if $context == lists {
    // lists
    dl, ol, ul {
      * + * {
        margin-top:$measure;
      }
    }
    dl {
      * + dd {
        margin-top:0;
      }
    }
  }
  @else {
    // everything
    * + * {
      margin-top:$measure;
    }
  }
}

@mixin sibling-margins ($state:on) {
  @if $state == on {
    // everything
    @include set-sibling-margins(all,$tyfy-spacing-standard);
    // lists
    @include set-sibling-margins(lists,$tyfy-spacing-standard/2);
    // headings
    @include set-sibling-margins(headings,$tyfy-spacing-large);
  }
  @else {
    // everything
    @include set-sibling-margins(all,0rem);
    // lists
    @include set-sibling-margins(lists,0rem);
    // headings
    @include set-sibling-margins(headings,0rem);
  }
}

@mixin fade-in ($duration:1000ms) {
  animation:fadein $duration;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@mixin button($color_default:$tyfy-color-link-default,$color_active:$tyfy-color-link-active,$border_radius:tygrid(0.25)) {
  background-color:$color_default;
  border:none;
  border-radius:$border_radius;
  @if lightness($color_default) > 60% {
    color:hsl(hue($color_default),0%,0%);
  }
  @else {
    color:hsl(hue($color_default),0%,100%);
  }
  cursor:pointer;
  display:inline-block;
  font-size:inherit;
  line-height:inherit;
  margin:0;
  padding:tygrid(0.5) tygrid(1.5);
  text-decoration:none;
  text-shadow:0 1px 1px rgba(black,0.1);
  transition:all $tyfy-transition-duration-hover;
  vertical-align:middle;
  &,
  &[href] {
    &:hover,
    &:active {
      background-color:$color_active;
      background-image:linear-gradient(to bottom,rgba(white,0.05) 0%,rgba(black,0.05) 100%);
      @if lightness($color_active) > 60% {
        color:hsl(hue($color_active),10%,0%);
      }
      @else {
        color:hsl(hue($color_active),10%,100%);
      }
    }
    &:active {
      box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
    }
    &:focus {
      outline:none;
    }
  }
}

@mixin button-outline($color_default:$tyfy-color-link-default,$color_active:$tyfy-color-link-active,$border_radius:tygrid(0.25)) {
  background-color:transparent;
  border:$tyfy-width-border $color_default solid;
  border-radius:$border_radius;
  color:$color_default;
  cursor:pointer;
  display:inline-block;
  font-size:inherit;
  line-height:inherit;
  margin:0;
  padding:calc(#{tygrid(0.5)} - #{$tyfy-width-border}) calc(#{tygrid(1.5)} - #{$tyfy-width-border});
  text-decoration:none;
  text-shadow:0 1px 1px rgba(black,0.1);
  transition:all $tyfy-transition-duration-hover;
  vertical-align:middle;
  &,
  &[href] {
    &:hover,
    &:active {
      background-color:$color_active;
      background-image:linear-gradient(to bottom,rgba(white,0.05) 0%,rgba(black,0.05) 100%);
      border-color:mix($color_active,black,95%);
      @if lightness($color_active) > 60% {
        color:hsl(hue($color_active),10%,0%);
      }
      @else {
        color:hsl(hue($color_active),10%,100%);
      }
    }
    &:active {
      box-shadow:0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
    }
    &:focus {
      outline:none;
    }
  }
}